<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
	<head th:replace="fragments :: page_head(': About Us', 'tag')"></head>
</head>	

<body>
	<div class="hide-lg">
		<!-- Preloader -->
		<div id="preloader">
		    <div id="status"></div>
		</div>
		<!-- Preloader Ends -->
		
		<!-- header starts -->
	   
	    <header class="main_header_area">
			<div th:replace="nav-fragment :: page_header('tag')"></div>
		</header>
	    <!-- header ends -->
	</div>
	
	<div class="hide-mobile btndeactive scrollbar-hidden">
	  <section id="preloader-mobile" class="spalsh-screen">
	    <div class="circle text-center">
	      <div>
	        <h1>EaseGoFly</h1>
	        <p>Discover Your Destinition</p>
	      </div>
	    </div>
	    <div class="loader-spinner">
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	    </div>
	  </section>
	  <!-- splash-screen end -->
	
	  <main class="home p-0">
	    <div th:replace="nav-fragment :: page_header_mobile('tag')"></div>
	  </main>
	</div>
	
	<div th:replace="whatsapp :: content"></div>
	<br class="media-hide">
	<main class="home p-0">
		<div th:replace="contact/contact-fragment :: content"></div>
  	</main>
	
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
	
	<script type="text/javascript" th:src="@{/js/login.js}"></script>

	<footer th:replace="fragments :: page_footer('tag')"></footer>
</body>
</html>