<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<head th:replace="fragments :: page_head('Bangalore View ', 'tag')"></head>
</head>	
<body class="u-body u-xl-mode" data-lang="en">
	
	<div class="preloading d-none">
	    <div class="status-loading"></div>
	</div>
	
	<div class="hide-lg">
		<!-- Preloader -->
		<div id="preloader">
		    <div id="status"></div>
		</div>
		<!-- Preloader Ends -->
		
		<!-- header starts -->
	   
	    <header class="main_header_area">
			<div th:replace="nav-fragment :: page_header('tag')"></div>
		</header>
	    <!-- header ends -->
  
	</div>


	<div class="hide-mobile btndeactive scrollbar-hidden">
		<main class="home">
			<div th:replace="nav-fragment :: page_header_mobile('tag')"></div>
		</main>
	</div>

  <div th:replace="whatsapp :: content"></div>
  
    
	<div >
		<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
		  <div class="carousel-indicators">
		    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
		    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
		  </div>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
				<div class="pos-rel justify_center_div position-relative">
					<img class="w-100 d-block" src="https://assets.nicepagecdn.com/3a8c658c/4052166/images/AttractionnEt42h.jpg" alt="Slide Image" style="height: 350px;">
        			<h1 class="position-absolute white" style="bottom: 50px; text-shadow: 1px 1px 3px black;"> Bangalore for a Break</h1>
				</div>
		    </div>
		    <div class="carousel-item">
				<div class="pos-rel justify_center_div position-relative">
					<img class="w-100 d-block" src="https://assets.nicepagecdn.com/3a8c658c/4052166/images/47332810_20210407193154.jpg" alt="Slide Image" style="height: 350px;">
        			<h1 class="position-absolute white" style="bottom: 50px; text-shadow: 1px 1px 3px black;"> Bangalore for a Break</h1>
				</div>
		    </div>
		    <div class="carousel-item">
				<div class="pos-rel justify_center_div position-relative">
					<img class="w-100 d-block" src="https://assets.nicepagecdn.com/3a8c658c/4052166/images/AttractionjJzF1h.jpg" alt="Slide Image" style="height: 350px;">
        			<h1 class="position-absolute white" style="bottom: 50px; text-shadow: 1px 1px 3px black;"> Bangalore for a Break</h1>
				</div>
		    </div>
		  </div>
		  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Previous</span>
		  </button>
		  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Next</span>
		  </button>
		</div>
    </div>
    <div class="container ">
		<div class="row">
			<div class="col-12">
				<div class="justify_center_verticle" style="background: white;">
			        <div class="my-2" style="font-size: 20px;">
			            <h2 class="packageoverview mb-2"><strong><span style="color: rgb(68, 68, 68); font-size: 36px;">Package Overview</span></strong></h2>
			            <div><span style="color: rgb(68, 68, 68); font-style: italic;">Bengaluru, formerly known as Bangalore, serves as the seat of government for the Indian state of Karnataka. It is located in southern India on the Deccan Plateau. In the city, modernization and tradition coexist. The city's different ethnic communities participate in the city's burgeoning café and pub scene as they observe their own national holidays. Since it is the hub of Indian IT development, "Silicon Valley" is a common nickname for the area.</span></div>
			        </div>
			        <div class="my-2 w-75">
			            <div class="row">
			                <div class="col-md-6 col-12">
			                    <h5 class="mb-2" style="text-align: center;"><strong><span style="color: #2cccc4; font-size: 25px;">INCLUSIONS</span></strong></h5>
			                    <ul>
			                        <li><span style="color: rgb(68, 68, 68); font-size: 18px;">Accommodation for 3 nights stay</span></li>
			                        <li><span style="color: rgb(68, 68, 68); font-size: 18px;">Meal as per hotel plan</span></li>
			                        <li><span style="color: rgb(68, 68, 68); font-size: 18px;">All pick up drop &amp; sightseeing</span></li>
			                        <li><span style="color: rgb(68, 68, 68); font-size: 18px;">Toll Tax ,Parking ,Driver allowances.</span></li>
			                    </ul>
			                </div>
			                <div class="col-md-6 col-12">
			                    <h5 class="mb-2" style="text-align: center;"><strong><span style="color: #db545a; font-size: 25px;">EXCLUSIONS</span></strong></h5>
			                    <ul>
			                        <li><span style="color: rgb(68, 68, 68); font-size: 18px;">Personal Expenses such as laundry, telephone calls, Tips, mineral water, soft &amp; hard drink, porterages.</span></li>
			                        <li><span style="color: rgb(68, 68, 68); font-size: 18px;">Anything not mentioned under ‘Package Inclusions’</span></li>
			                        <li><span style="color: rgb(68, 68, 68); font-size: 18px;">Entrance at any monument/museums or any other activity fees which is not mentioned in the inclusions shall be borne by the customer on direct payable basis.</span></li>
			                        <li><span style="color: rgb(68, 68, 68); font-size: 18px;">Vehicle service on leisure days for sightseeing not included in the itinerary</span></li>
			                        <li><span style="color: rgb(68, 68, 68); font-size: 18px;">Medical and travel insurance</span></li>
			                    </ul>
			                </div>
			            </div>
			        </div>
		        </div>
				
			</div>
		</div>
    </div>
    <div class="container">
		<div class="row">
			<div class="col-12">
				<div class="" style="background: white; padding-top: 15px;">
					<h2 class="mb-2" style="text-align: center; font-size: 36px;"><span style="color: rgb(17, 17, 17);">Day Wise I</span><span style="color: rgb(31, 31, 31);">tinerary</span></h2>
			        <div class="itenerary-style mb-1">
						<div class="row">
				            <div class="col-md-2 col-3 d-flex justify-content-center"><img class="img-fluid col-6" th:src="@{images/dubai-view/days.png}"></div>
				            <div class="col-md-10 col-9 d-flex justify-content-start" >
				                <ul>
				                    <li><span style="color: rgb(17, 17, 17); ">Add Flight From INDIRA GANDHI INTERNATIONAL AIRPORT to KEMPEGOWDA INTERNATIONAL AIRPORT</span></li>
				                    <li><span style="color: rgb(17, 17, 17); ">Transfer Details (Transfer from Bangalore Airport to Hotel.)</span></li>
				                    <li><span style="color: rgb(17, 17, 17); ">Check-in to Hotel</span></li>
				                    <li><span style="color: rgb(17, 17, 17); ">Rest of the day is at your own Leisure</span></li>
				                </ul>
				            </div>
			        	</div>
			        </div>
			        <div class="itenerary-style mb-1">
						<div class="row">
				            <div class="col-md-2 col-3 d-flex justify-content-center"><img class="img-fluid col-6" th:src="@{images/dubai-view/days%20(1).png}"></div>
				            <div class="col-md-10 col-9 d-flex justify-content-start">
				                <ul>
				                    <li><span style="color: rgb(17, 17, 17);">Breakfast at Hotel.</span></li>
				                    <li><span style="color: rgb(17, 17, 17);">Rest of the day is at your own leisure.</span></li>
				                </ul>
				            </div>
			        	</div>
			        </div>
			        <div class="itenerary-style mb-1">
						<div class="row">
				            <div class="col-md-2 col-3 d-flex justify-content-center"><img class="img-fluid col-6" th:src="@{images/dubai-view/days%20(2).png}"></div>
				            <div class="col-md-10 col-9 d-flex justify-content-start">
				                <ul>
				                    <li><span style="color: rgb(17, 17, 17);">Breakfast at Hotel.</span></li>
				                    <li><span style="color: rgb(17, 17, 17);">Transfer Details (Transfer from Hotel in Bangalore to Airport.)</span></li>
				                    <li><span style="color: rgb(17, 17, 17);">Add Flight From KEMPEGOWDA INTERNATIONAL AIRPORT to INDIRA GANDHI INTERNATIONAL AIRPORT</span></li>
				                </ul>
				            </div>
			        	</div>
			        </div>
				</div>
				
			</div>
		</div>
    </div>
    <div class="container mt-2">
		<div class="row">
			<div class="col-12">
				<div class="row section-style mb-2 justify-content-between">
					<button class="col-md-2 col-6 section-button theme">Travel Validity</button>
					<button class="col-md-2 col-6 section-button">Guaranteed Dates</button>
					<button class="col-md-2 col-6 section-button">Easy Cancellation</button>
					<button class="col-md-2 col-6 section-button">High Season</button>
					<button class="col-md-2 col-6 section-button">Booking Policy</button>
				</div>
			</div>
			<div class="col-12">
				<div class="section-div-style d-flex justify-content-center">
					<div class="section-para">
						<p><span></span>The deal is valid for travel till Friday, 31 December 2023.</p>
					</div>
					<div class="section-para d-none">
						<p>Your selected travel dates are guaranteed. In the unlikely event of seats sold out, we guarantee +/- 1/2 days from your</p><p> preferred dates.</p>
					</div>
					<div class="section-para d-none">
						<p>*30 days or more prior to departure date, Initial Booking Amount and additional amount of visa fee will be forfeited </p><p>(in case visa has been applied). 
							**Between 30–15 days: 50% of total tour cost will be charged as penalty. ***Less</p><p> than 15 days: 100% of total tour cost will be charges as penalty.</p>
					</div>
					<div class="section-para d-none">
						<p>Prices can fluctuate during peak season dates.</p>
					</div>
					<div class="section-para d-none">
						<p>All services including the hotel and room category are subject to availability at the time of booking.</p>
						<p>*Rates are not valid during any exhibition and supplement dates.</p>
						<p>*Rates are subject to change in case of any hike in airport taxes, visa fees, fuel charges, hotel rates, transport rates or government taxes.</p>
						<p>*Early check-in and late checkout are subject to availability and charges.</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="container mt-4">
		
		
		<div th:replace="middle-body/fixed-air-search :: air-search-fixed('Bangalore', 'Kolkata')"></div>
		
	</div>
    
	<div class="container">
		<div style="background: white; height: 50px;">
 		</div>
 	</div>
    <script>
        $(".section-button").click(function() {
            $(".section-button").removeClass("theme");
            $(".section-para").addClass("d-none");
            $(this).addClass("theme");
            for (var i = 0; i < $(".section-button").length; i++) {
                if(this == $(".section-button")[i]){
                    $($(".section-para")[i]).removeClass("d-none");
                }
            }
        });
    </script>

 
 	<footer th:replace="fragments :: page_footer('tag')"></footer>

	     <!-- service modal start -->
	  <div class="modal fade modalBg" id="travelerModal" tabindex="-1" aria-hidden="true" style="z-index: 10000;">
	    <div class="modal-dialog modal-sm" style="max-width: 350px;">
	      <div class="modal-content h-auto" style="border-radius: 8px;">
	        <div class="modal-header">
	          <button type="button" class="modal-close rounded-full" data-bs-dismiss="modal" aria-label="Close">
	            <img th:src="@{/assets/svg/close-black.svg}" alt="Close">
	          </button>
	          <h4 class="modal-title">Set Traveler</h4>
	          <div></div>
	        </div>
	        <div class="modal-body">
                  <div class="row p-2" id="flush-collapseOne-desk">
				    <div class="col-12">
						<div class="dropdown-item">
							<b>Class</b>
							<select class="pass_list-1 form-control" name="journeyClass" form="onewaySearchDesk"
								required="required">
								<option value="Economy">Economy</option>
								<option value="Premium Economy">Premium Economy</option>
								<option value="Business">Business</option>
								<option value="Premium Business">Premium Business</option>
								<option value="First Class">First Class</option>
							</select>
						</div>
					</div>
					<div class="col-12">
						<div class="dropdown-item">
							<div class="d-flex justify-content-between">
								<b class="me-2">Adult</b>
								<p>(12+ yrs)</p>
							</div>
							<select class="pass_list1 form-control" name="adultNum"form="onewaySearchDesk"
								required="required">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
							</select>
						</div>
					</div>
					<div class="col-12">
						<div class="dropdown-item">
							<div class="d-flex justify-content-between">
								<b class="me-2">Children</b>
								<p>(2-12 yrs)</p>
							</div>
							<select class="pass_list2 form-control" name="childNum" form="onewaySearchDesk">
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
							</select>
						</div>
					</div>
					<div class="col-12">
						<div class="dropdown-item">
							<div class="d-flex justify-content-between">
								<b class="me-2">Infant</b>
								<p>Under 2yrs</p>
							</div>
							<select class="pass_list3 form-control" name="infantNum" form="onewaySearchDesk">
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
							</select>
						</div>
					</div>
					<div class="col-12">
						<div class="dropdown-item mt-2">
							<button type="button" id="submit2" form="onewaySearch" class="nir-btn w-100" data-bs-dismiss="modal" onclick="return setTravelerDetails('#deskDropdwon', '#flush-collapseOne-desk');">Set</button>
						</div>
					</div>
				  </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <!-- service modal end -->
	    
	    
</body>

<script>
	$(".home").css("margin-bottom", "0");
	$(".home").css("padding", "0");
	
</script>
</html>	
 
