<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<head th:replace="fragments :: page_head('Jammu View ', 'tag')"></head>
	<meta name="google-site-verification" content="r7T3-_qhziI22b3zavORfB3Pd3_6mWIRdRCLn09blpo" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/common_view.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/NewFile.css}" >
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	
<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-TNN6EKSPHR"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-TNN6EKSPHR');
	</script>
	<!-- Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	ga('create', 'UA-XXXXX-Y', 'auto');
	ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->
	<script type="application/ld+json">
		{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
		}
	</script>
</head>	
<body th:style="'background-image: url(' + @{'/assets/img/1971537-temp.jpg'} + ');'">
	
  <header id="header" class="fixed-top d-flex align-items-center" >
  	<div th:replace="fragments :: page_header('tag')"></div>
  </header>
  
  
  <div th:replace="whatsapp :: content"></div>
  
	<div >
		<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
		  <div class="carousel-indicators">
		    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
		    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
		  </div>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
				<div class="pos-rel justify_center_div">
					<img class="w-100 d-block" src="https://assets.nicepagecdn.com/3a8c658c/4052166/images/Tourists-enjoying-a-Shikara-boat-ride-on-Dal-Lake-Jammu-Kashmir.jpg" alt="Slide Image" style="height: 350px;">
        			<h1 class="carousal-float-header"> Feel Alive in Kashmir</h1>
				</div>
		    </div>
		    <div class="carousel-item">
				<div class="pos-rel justify_center_div">
					<img class="w-100 d-block" src="https://assets.nicepagecdn.com/3a8c658c/4052166/images/travel-to-jammu-and-kashmir.jpg" alt="Slide Image" style="height: 350px;">
        			<h1 class="carousal-float-header"> Feel Alive in Kashmir</h1>
				</div>
		    </div>
		    <div class="carousel-item">
				<div class="pos-rel justify_center_div">
					<img class="w-100 d-block" src="https://assets.nicepagecdn.com/3a8c658c/4052166/images/Neeulm_Valley_AJK_Arang_Kel.jpg" alt="Slide Image" style="height: 350px;">
        			<h1 class="carousal-float-header"> Feel Alive in Kashmir</h1>
				</div>
		    </div>
		  </div>
		  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Previous</span>
		  </button>
		  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Next</span>
		  </button>
		</div>
    </div>
    <div class="container ">
		<div class="justify_center_verticle" style="background: white;">
	        <div style="width: 90%; font-size: 20px; padding: 10px 0;">
	            <h1 class="packageoverview"><strong><span style="color: rgb(68, 68, 68);">Package Overview</span></strong></h1>
	            <div><strong><span style="color: rgb(68, 68, 68); font-style: italic;">With its soaring Alpine peaks and snow-capped mountain ranges, Kashmir is undoubtedly a slice of heaven on earth. Kashmir offers a full range of activities, from relaxing family vacations to lonely retreats and trekking. Kashmir provides its guests a variety of attractions, including a breathtaking environment, a floral valley, tranquil lakes, and fantastic hiking trails. Prior to your next journey there, do you want to understand Kashmir? This package is ideal for you.</span></strong></div>
	        </div>
	        <div  style="width: 80%; padding: 10px 0;">
	            <div class="row">
	                <div class="col-md-6 col-12">
	                    <h5 style="text-align: center;"><strong><span style="color: #2cccc4; font-size: 25px;">INCLUSIONS</span></strong></h5>
	                    <ul>
	                        <li><span style="color: rgb(68, 68, 68); font-size: 18px;">Daily Breakfast</span></li>
	                        <li><span style="color: rgb(68, 68, 68); font-size: 18px;">02 - nights' accomodation in Gulmarg</span></li>
	                        <li><span style="color: rgb(68, 68, 68); font-size: 18px;">02- nights' accomodation in Pahalgam</span></li>
	                        <li><span style="color: rgb(68, 68, 68); font-size: 18px;">01- nights' accomodation in Srinagar</span></li>
	                        <li><span style="color: rgb(68, 68, 68); font-size: 18px;">Gulmarg Gondola Ride</span></li>
	                        <li><span style="color: rgb(68, 68, 68); font-size: 18px;">Betab Valley</span></li>
	                    </ul>
	                </div>
	                <div class="col-md-6 col-12">
	                    <h5 style="text-align: center;"><strong><span style="color: #db545a; font-size: 25px;">EXCLUSIONS</span></strong></h5>
	                    <ul>
	                        <li><span style="color: rgb(68, 68, 68); font-size: 18px;">Any meals apart from the one mentioned in the itinerary</span></li>
	                        <li><span style="color: rgb(68, 68, 68); font-size: 18px;">Any tours apart from the one mentioned in the itinerary</span></li>
	                        <li><span style="color: rgb(68, 68, 68); font-size: 18px;">Any other services not mentioned in the inclusions or itinerary</span></li>
	                        <li><span style="color: rgb(68, 68, 68); font-size: 18px;">Peak season surcharges</span></li>
	                    </ul>
	                </div>
	            </div>
	        </div>
        </div>
    </div>
    <div class="container">
		<div class="justify_center_verticle" style="background: white; padding-top: 15px;">
			<h1 style="text-align: center;"><span style="color: rgb(17, 17, 17);">Day Wise I</span><span style="color: rgb(31, 31, 31);">tinerary</span></h1>
	        <div class="itenerary-style">
				<div class="row">
		            <div class="col-md-1 media-hide"></div>
		            <div class="col-md-1 col-3"><img class="img-fluid" th:src="@{images/dubai-view/days.png}"></div>
		            <div class="col-md-10 col-9" >
		                <ul>
		                    <li><span style="color: rgb(17, 17, 17); ">Add Flight From INDIRA GANDHI INTERNATIONAL AIRPORT to SHEIKH UL ALAM INTERNATIONAL AIRPORT</span></li>
		                    <li><span style="color: rgb(17, 17, 17); ">Check-in to Hotel</span></li>
		                    <li><span style="color: rgb(17, 17, 17); ">Transfer Details (Transfers from Srinagar to Gulmarg.)</span></li>
		                </ul>
		            </div>
	            </div>
	        </div>
	        <div class="itenerary-style">
				<div class="row">
		            <div class="col-md-1 media-hide"></div>
		            <div class="col-md-1 col-3"><img class="img-fluid" th:src="@{images/dubai-view/days%20(1).png}"></div>
		            <div class="col-md-10 col-9">
		                <ul>
		                    <li><span style="color: rgb(17, 17, 17);">Breakfast at Hotel.</span></li>
		                    <li><span style="color: rgb(17, 17, 17);">Attraction (Gulmarg Gondola Ride)</span></li>
		                    <li><span style="color: rgb(17, 17, 17);">Transfer Details (Transfer from Gulmarg to Pahalgam))</span></li>
		                </ul>
		            </div>
	            </div>
	        </div>
	        <div class="itenerary-style">
				<div class="row">
		            <div class="col-md-1 media-hide"></div>
		            <div class="col-md-1 col-3"><img class="img-fluid" th:src="@{images/dubai-view/days%20(2).png}"></div>
		            <div class="col-md-10 col-9">
		                <ul>
		                    <li><span style="color: rgb(17, 17, 17);">Breakfast at Hotel.</span></li>
		                    <li><span style="color: rgb(17, 17, 17);">Transfer Details (Transfer from Hotel to Srinagar Airport.)</span></li>
		                </ul>
		            </div>
	            </div>
	        </div>
		</div>
    </div>
    <div class="container">
		<div style="background: white; padding-top: 15px;">
		<div class="section-style ">
			<button class="col-md-2 col-6 section-button section-button-active">Travel Validity</button>
			<button class="col-md-2 col-6 section-button">Guaranteed Dates</button>
			<button class="col-md-2 col-6 section-button">Easy Cancellation</button>
			<button class="col-md-2 col-6 section-button">High Season</button>
			<button class="col-md-2 col-6 section-button">Booking Policy</button>
		</div>
		<div class="section-div-style">
			<div class="section-para section-para-display">
				<p><span></span>The deal is valid for travel till Friday, 31 December 2023.</p>
			</div>
			<div class="section-para">
				<p>Your selected travel dates are guaranteed. In the unlikely event of seats sold out, we guarantee +/- 1/2 days from your</p><p> preferred dates.</p>
			</div>
			<div class="section-para">
				<p>*30 days or more prior to departure date, Initial Booking Amount and additional amount of visa fee will be forfeited </p><p>(in case visa has been applied). 
					**Between 30–15 days: 50% of total tour cost will be charged as penalty. ***Less</p><p> than 15 days: 100% of total tour cost will be charges as penalty.</p>
			</div>
			<div class="section-para">
				<p>Prices can fluctuate during peak season dates.</p>
			</div>
			<div class="section-para">
				<p>All services including the hotel and room category are subject to availability at the time of booking.</p>
				<p>*Rates are not valid during any exhibition and supplement dates.</p>
				<p>*Rates are subject to change in case of any hike in airport taxes, visa fees, fuel charges, hotel rates, transport rates or government taxes.</p>
				<p>*Early check-in and late checkout are subject to availability and charges.</p>
			</div>
		</div>
		</div>
	</div>
	<div class="container">
		<div style="background: white; padding: 15px 0; display: flex; justify-content: space-evenly;">
			<a class="bottom-div justify_center_div" href="tel:+91-8001012134">
				<i class="fa fa-solid fa-phone"></i>
				&nbsp;8001012134
			</a>
			<div class="bottom-div-right">
				Not Available Right Now.
			</div>
		</div>
		
	</div>
    
	<div class="container">
		<div style="background: white; height: 50px;">
 		</div>
 	</div>
    <script>
        $(".section-button").click(function() {
            $(".section-button").removeClass("section-button-active");
            $(".section-para").removeClass("section-para-display");
            $(this).addClass("section-button-active");
            for (var i = 0; i < $(".section-button").length; i++) {
                if(this == $(".section-button")[i]){
                    $($(".section-para")[i]).addClass("section-para-display");
                }
            }
        });
    </script>


 
 <footer th:replace="fragments :: page_footer"></footer>
 <script type="text/javascript" th:src="@{/js/common.js}"></script>
</body>
<link th:href="@{css/custom.css}" rel="stylesheet">
</html>	
 
