<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<head th:replace="fragments :: page_head(': Bus Order Page', 'tag')"></head>

</head>	
<style>
	@media screen and (max-width: 800px) {
		body #header {
			position: relative;
		}
	}
</style>
<body>
  <header id="header" class="fixed-top d-flex align-items-center" >
  	<div th:replace="fragments :: page_header('tag')"></div>
  </header>
  
  <div th:replace="whatsapp :: content"></div>
  
  <div th:replace="bus/order/bus-order-fragment :: bus-order"></div>
  
  <!--<div>
	 <gmp-map center="24.07638888888888,88.26158333333333" zoom="4" map-id="DEMO_MAP_ID">
      <gmp-advanced-marker position="24.07638888888888,88.26158333333333" title="My location"></gmp-advanced-marker>
    </gmp-map>
  </div>-->
 
 
 <script type="text/javascript" th:src="@{/js/common.js}"></script>
</body>
<link th:href="@{/css/custom.css}" rel="stylesheet">
</html>	
 


