<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Loading Page</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function() {
			urlImage = "[[@{/images/animaticons/loading.gif}]]";
			
			$.ajax({
				url: "/process",
				type: "GET",
				beforeSend: function() {
					$("#loading-complete").hide();
					$("#loading").css("background-image", "url('" + urlImage + "')");
					$("#loading").show();
					$("#loading").html("<h6 style='text-align: center; margin-bottom: 20px;'>Please wait while we load the page!</h6>");
					
				},
				success: function() {
					$("#loading").hide();
					$("#loading-complete").show();
				}
			});
		});
	</script>
	<style >
		#loading {
			display: none;
			position: fixed;
			z-index: 999;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: #FFFFFF;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 50px;
			opacity: 0.8;
			filter: alpha(opacity=70);
		}
	</style>
</head>
<body>
	<div id="loading"></div>
	<div id="loading-complete">
		<h1>Loading Complete</h1>
	</div>
</body>
</html>