<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:fragment="popular_destination(remove)" th:remove="${remove}">
<style type="text/css">
	.small_card_hover:hover {
	border-radius: 8px;
	border: 1px solid green;
	background: #dbdddf;
	padding: 0;
	color: #5c9f24;
}

</style>

				<div class="small_box">
					<a style="cursor: pointer; color: black;" th:href="@{/darjeeling_view}">
		                <div class="small_cards small_card_hover" id="small_card1">
		                    <div class="small_cards_img" id="small_cards_img1"><img class="small_cards_image" id="small_card_image1" th:src="@{images/deals/925025022s.jpg}"></div>
		                    <div class="small_cards_text">
		                       <h3>Darjeeling</h3>
		                       <p>Darjeeling Himalayan Railway & Mt. Kanchenjunga view.</p>
		                    </div>
		                </div>
	                </a>
	            </div>
	            <div class="small_box">
	            	<a style="cursor: pointer; color: black;" th:href="@{/bangalore_view}">
		                <div class="small_cards small_card_hover" id="small_card2">
		                   <div class="small_cards_img" id="small_cards_img2"><img class="small_cards_image" id="small_card_image2" th:src="@{images/deals/AttractionnEt42h.jpg}"></div>
		                   <div class="small_cards_text">
		                       <h3>Bangalore</h3>
		                       <p>Tipu Sultan’s Summer Palace & Nandi Hills.</p>
		                   </div>
		                </div>
	                </a>
	            </div>
	            <div class="small_box">
	            	<a style="cursor: pointer; color: black;" th:href="@{/kerala_view}">
		                <div class="small_cards small_card_hover" id="small_card3">
		                   <div class="small_cards_img" id="small_cards_img3"><img class="small_cards_image" id="small_card_image3" th:src="@{images/deals/kerala-images.jpeg}"></div>
		                   <div class="small_cards_text">
		                       <h3>Kerala</h3>
		                       <p>Alleppey - Venice of the East & Trivandrum.</p>
		                   </div>
		                </div>
	                </a>
	            </div>
	            <div class="small_box">
	            	<a style="cursor: pointer; color: black;" th:href="@{/mumbai_view}">
		                <div class="small_cards small_card_hover" id="small_card4">
		                   <div class="small_cards_img" id="small_cards_img4"><img class="small_cards_image" id="small_card_image4" th:src="@{images/deals/SightSeeing8ks1VEn.jpg}"></div>
		                   <div class="small_cards_text">
		                       <h3>Mumbai</h3>
		                       <p>Juhu Beach & Walk at marine drive.</p>
		                   </div>
		                </div>
	                </a>
	            </div>
	            <div class="small_box">
	            	<a style="cursor: pointer; color: black;" th:href="@{/visakhaptnam_view}">
		                <div class="small_cards small_card_hover" id="small_card4">
		                   <div class="small_cards_img" id="small_cards_img4"><img class="small_cards_image" id="small_card_image4" th:src="@{images/deals/1000x650-309.jpg}"></div>
		                   <div class="small_cards_text">
		                       <h3>Visakhapatnam</h3>
		                       <p>Simhachalam Temple & Rama Krishna Beach.</p>
		                   </div>
		                </div>
	                </a>
	            </div>
	            <div class="small_box">
	            	<a style="cursor: pointer; color: black;" th:href="@{/goa_view}">
		                <div class="small_cards small_card_hover" id="small_card4">
		                   <div class="small_cards_img" id="small_cards_img4"><img class="small_cards_image" id="small_card_image4" th:src="@{images/deals/HotelGznSlW.jpg}"></div>
		                   <div class="small_cards_text">
		                       <h3>Goa Delight</h3>
		                       <p>Baga Beach, Bom Jesus Basilica & 55 more places.</p>
		                   </div>
		                </div>
	                </a>
	            </div>
	            <div class="small_box">
	            	<a style="cursor: pointer; color: black;" th:href="@{/haridwar_view}">
		                <div class="small_cards small_card_hover" id="small_card4">
		                   <div class="small_cards_img" id="small_cards_img4"><img class="small_cards_image" id="small_card_image4" th:src="@{images/deals/TransferCqQJhK.jpg}"></div>
		                   <div class="small_cards_text">
		                       <h3>Haridwar</h3>
		                       <p>Ganga Aarti, Chandi Devi Temple & 36 more places.</p>
		                   </div>
		                </div>
	                </a>
	            </div>
	            <div class="small_box">
	            	<a style="cursor: pointer; color: black;" th:href="@{/kathmandu_view}">
		                <div class="small_cards small_card_hover" id="small_card4">
		                   <div class="small_cards_img" id="small_cards_img4"><img class="small_cards_image" id="small_card_image4" th:src="@{images/dubai-view/raimond-klavins-JqT2Wp5S0Dk-unsplash.jpg}"></div>
		                   <div class="small_cards_text">
		                       <h3>Kathmandu</h3>
		                       <p>Swayambhunath Stupa, Pashupatinath Temple & 50 more places.</p>
		                   </div>
		                </div>
	                </a>
	            </div></div>
</html>