<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:fragment="popular_destination(remove)" th:remove="${remove}">
<div class="small_box">
	                <div class="small_cards" id="small_card1">
	                    <div class="small_cards_img" id="small_cards_img1"><img class="small_cards_image" id="small_card_image1" th:src="@{assets/img/main-page/Evening_view_of_Har-ki-Pauri,_Haridwar.jpg}"></div>
	                    <div class="small_cards_text">
	                       <h3>Haridwar</h3>
	                       <p>Hilltop temples & Ganges ceremonies</p>
	                    </div>
	                </div>
	            </div>
	            <div class="small_box">
	                <div class="small_cards" id="small_card2">
	                   <div class="small_cards_img" id="small_cards_img2"><img class="small_cards_image" id="small_card_image2" th:src="@{assets/img/main-page/Evening_view_of_Har-ki-Pauri,_Haridwar.jpg}"></div>
	                   <div class="small_cards_text">
	                       <h3>Haridwar</h3>
	                       <p>Hilltop temples & Ganges ceremonies</p>
	                   </div>
	                </div>
	            </div>
	            <div class="small_box">
	                <div class="small_cards" id="small_card3">
	                   <div class="small_cards_img" id="small_cards_img3"><img class="small_cards_image" id="small_card_image3" th:src="@{assets/img/main-page/Evening_view_of_Har-ki-Pauri,_Haridwar.jpg}"></div>
	                   <div class="small_cards_text">
	                       <h3>Haridwar</h3>
	                       <p>Hilltop temples & Ganges ceremonies</p>
	                   </div>
	                </div>
	            </div>
	            <div class="small_box">
	                <div class="small_cards" id="small_card4">
	                   <div class="small_cards_img" id="small_cards_img4"><img class="small_cards_image" id="small_card_image4" th:src="@{assets/img/main-page/Evening_view_of_Har-ki-Pauri,_Haridwar.jpg}"></div>
	                   <div class="small_cards_text">
	                       <h3>Haridwar</h3>
	                       <p>Hilltop temples & Ganges ceremonies</p>
	                   </div>
	                </div>
	            </div>
	            <div class="small_box">
	                <div class="small_cards" id="small_card4">
	                   <div class="small_cards_img" id="small_cards_img4"><img class="small_cards_image" id="small_card_image4" th:src="@{assets/img/main-page/Evening_view_of_Har-ki-Pauri,_Haridwar.jpg}"></div>
	                   <div class="small_cards_text">
	                       <h3>Haridwar</h3>
	                       <p>Hilltop temples & Ganges ceremonies</p>
	                   </div>
	                </div>
	            </div>
	            <div class="small_box">
	                <div class="small_cards" id="small_card4">
	                   <div class="small_cards_img" id="small_cards_img4"><img class="small_cards_image" id="small_card_image4" th:src="@{assets/img/main-page/Evening_view_of_Har-ki-Pauri,_Haridwar.jpg}"></div>
	                   <div class="small_cards_text">
	                       <h3>Haridwar</h3>
	                       <p>Hilltop temples & Ganges ceremonies</p>
	                   </div>
	                </div>
	            </div>
	            <div class="small_box">
	                <div class="small_cards" id="small_card4">
	                   <div class="small_cards_img" id="small_cards_img4"><img class="small_cards_image" id="small_card_image4" th:src="@{assets/img/main-page/Evening_view_of_Har-ki-Pauri,_Haridwar.jpg}"></div>
	                   <div class="small_cards_text">
	                       <h3>Haridwar</h3>
	                       <p>Hilltop temples & Ganges ceremonies</p>
	                   </div>
	                </div>
	            </div>
	            <div class="small_box">
	                <div class="small_cards" id="small_card4">
	                   <div class="small_cards_img" id="small_cards_img4"><img class="small_cards_image" id="small_card_image4" th:src="@{assets/img/main-page/Evening_view_of_Har-ki-Pauri,_Haridwar.jpg}"></div>
	                   <div class="small_cards_text">
	                       <h3>Haridwar</h3>
	                       <p>Hilltop temples & Ganges ceremonies</p>
	                   </div>
	                </div>
	            </div></div>
</html>