<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
		
<head>
	<head th:replace="fragments :: page_head(': Login Page', 'tag')"></head>

	  
	
</head>
<body>
	
	
		<div class="preloading d-none">
		    <div class="status-loading"></div>
		</div>

	<div class="hide-lg">
		<!-- Preloader -->
		<div id="preloader">
		    <div id="status"></div>
		</div>
		<!-- Preloader Ends -->
		
		<!-- header starts -->
	   
	    <header class="main_header_area">
			<div th:replace="nav-fragment :: page_header('tag')"></div>
		</header>
	    <!-- header ends -->

	 	<div th:replace="whatsapp :: content"></div>
	 
		
		<div th:replace="user_credential/login-fragment2 :: content"></div>
		
		<!-- Modal -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content modal-content-stl">
	            <div class="spinner-border text-primary" role="status">
	                <span class="sr-only">Loading...</span>
	            </div>
		    </div>
		  </div>
		</div>


	</div>
	
	<div class="hide-mobile btndeactive scrollbar-hidden">
		<section id="preloader-mobile" class="spalsh-screen">
			<div class="circle text-center">
				<div>
					<h1>EaseGoFly</h1>
					<p>Discover Your Destinition</p>
				</div>
			</div>
			<div class="loader-spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</section>
		<!-- splash-screen end -->
	
		<main class="home p-0">
	   		<div th:replace="nav-fragment :: page_header_mobile('tag')"></div>
	    
		
			  <!-- signin start -->
			    <section class="auth signin">
			      <div class="heading">
			        <h2>Hi, Welcome Back!</h2>
			      </div>
			  
			      
				<div class="form-area auth-form">
					
					<div th:if="${param.error}">
					    <p class="text-success"
					        th:utext="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">Error message</p>
					</div>
					<div th:if="${param.otp}">
					    <p class="text-primary">
					        Kindly check [[${param.phone}]] and use the provided OTP to login.<br>
					        Note: The OTP will expire after 5 minutes.
					    </p>
					</div>   
					<div th:if="${param.logout}">
					    <p class="text-warning">You have been logged out.</p>
					</div>
					 
					<div th:if="${message != null}">
					    <p class="text-primary">[[${message}]]</p>
					</div>
			        <form th:action="@{/login}" method="post">
			          <div>
			            <label for="lemail1">Email</label>
			            <input type="text" name="phone"  id="lemail1" placeholder="Enter your email address" class="input-field" th:value="${customerEmail}" required autofocus>
						
						<label for="inputPassword3" class="col-sm-4 col-form-label label"><p>
								OTP:<span class="star_marked"> *</span>
							</p></label>
						<div class="col-sm-10" style="width: 100%;">
							<input type="password" class="form-control input" name="password"
								 placeholder="XXXXXX" required>
						</div>
						
			          </div>
			          
						<button type="submit" class="btn btn-primary" > Login</button>
			        </form>
			  
			        <div class="divider d-flex align-items-center justify-content-center gap-12">
			          <span class="d-inline-block"></span>
			          <small class="d-inline-block">Or continue with</small>
			          <span class="d-inline-block"></span>
			        </div>
			  
			        <div class="d-flex flex-column gap-16">
			          <button type="button" class="social-btn" data-bs-toggle="modal" data-bs-target="#loginSuccess">
			            <img src="../../assets/svg/icon-google.svg" alt="Google">
			            Continue with Google
			          </button>
			        </div>
			  
			      </div>
			    </section>
			    <!-- signin end -->
		</main>
	</div>

 	<footer th:replace="fragments :: page_footer('tag')"></footer>
</body>
<script>
	$("#return-next").click(function(){
		$("#return-next").css("display", "none");
		$("#return-previous").css("display", "flex");
	})
	$("#return-previous").click(function(){
		$("#return-previous").css("display", "none");
		$("#return-next").css("display", "flex");
	})
	$("#return_international").click(function(){
		$("#return-next").css("display", "none");
		$("#return-previous").css("display", "flex");
	})
	
	
	if (window.innerWidth < 900) { 
		$(".login-img").css("height", "100vh");
	}
</script>
<link th:href="@{css/custom.css}" rel="stylesheet">
</html>