<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>

<head th:replace="fragments :: page_head('Verification Succeeded', 'none')"></head>
<body>
	<style type="text/css">
  	*.specialButton {
		cursor: pointer;
		width: auto;
		color: #2c2c2ceb;
	    padding: 3px 9px;
	    border-radius: 5px;
	    border: 1px solid green;
	    font-weight: 600;
	    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
		  -webkit-transition: background-color 2s ease-out;
		  -moz-transition: background-color 2s ease-out;
		  -o-transition: background-color 2s ease-out;
		  transition: background-color 2s ease-out;
		  -webkit-transition: color 0.5s ease-out;
		  -moz-transition: color 0.5s ease-out;
		  -o-transition: color 0.5s ease-out;
		  transition: color 0.5s ease-out;
	}
	*.specialButton:hover {
		background-color: green;
		color: white;
	}
  </style>
  
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <div class="col">
      	<a th:href="@{/}" style="height: 60px;"><img th:src="@{${SITE_LOGO}}" alt="" class="img-fluid" style="width: auto; height: 105px; float: left;"></a>
      </div>
      
      

      <nav id="navbar" class="navbar" >
        <ul class="ul_modify">
          <li class="media-hide"></li>
          <li class="media-hide"></li>
          <li class="inbox_login_button"><a  id="li1" class="nav-link scrollto modify_link_navigation" th:href="@{/}">
          	<i class="fa-solid fa-house media_status" style="display: none;">&nbsp;&nbsp;</i><span>Home</span></a>
          </li>
          <li class="inbox_login_button"><a  id="li2" class="nav-link scrollto modify_link_navigation" th:href="@{/search_result}">
          	<i class="fa-solid fa-bell-concierge media_status" style="display: none;">&nbsp;&nbsp;</i><span>Services</span></a>
          </li>
          <li class="inbox_login_button"><a  id="li3" class="nav-link scrollto modify_link_navigation" th:href="@{/about#no-2}">
          	<i class="fa-solid fa-circle-info media_status" style="display: none;">&nbsp;&nbsp;</i><span>About Us</span></a>
          </li>
          <li class="inbox_login_button"><a  id="li4" class="nav-link scrollto modify_link_navigation" th:href="@{/about#no-3}">
          	<i class="fa-solid fa-address-book media_status" style="display: none;">&nbsp;&nbsp;</i><span>Contact</span></a>
          </li>
          <li class="dropdown inbox_login_button background_media" th:hidden="${#authorization.expression('hasAuthority(''Customer'')')}" >
	          <a href="#">
		          <span style="display: flex !important;  justify-content: start;">
		          	<i class="fa-solid fa-address-card media_status_flex" style="display: none;">&nbsp;&nbsp;</i><span>Account</span>
		          </span> 
		          <i class="bi bi-chevron-down"></i>
	          </a>
              <li th:replace="user_credential/loginModal :: login('tag')"></li>
          </li>
          
          	<li class="dropdown inbox_login_button background_media" th:if="${#authorization.expression('hasAuthority(''Customer'')')}" >
	          	<a href="#">
	          		<span style="display: flex !important;  justify-content: start;">
		          		<i class="fa-solid fa-address-card media_status_flex" style="display: none;">&nbsp;&nbsp;</i><span>Account</span>
		          	</span> 
		          	<i class="bi bi-chevron-down"></i>
	          	</a>
	          	<li th:replace="user_credential/loginModal :: loggedin('tag')"></li>
          	</li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
    <a th:href="@{/#header}" class="back-to-top2"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  
  <div th:replace="whatsapp :: content"></div>
  
	<br><br><br><br><br>
	<div class="text-center">
	 	<div>&nbsp;</div>
		<h2>Customer Verification</h2>
		<h4>Congratulations! Your account has been verified.</h4>
		<p><a th:href="@{/login}" class="specialButton styleLinkHover styleLink">Login Here</a></p>
	 	<div>&nbsp;</div>
 	</div>
 <footer th:replace="fragments :: page_footer"></footer>
</body>
<link th:href="@{css/custom.css}" rel="stylesheet">
</html>