<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:fragment="air-search">

<head>
	<style>
		@media screen and (max-width: 800px) {
			.tabss {
				margin: 2px !important;
				padding: 3px 10px !important;
			}

			#adjusted {
				width: 100% !important;
			}

			#searchBox {
				width: 95% !important;
				margin-top: 50px !important;
			}

			.aligner {
				border: none !important;
			}

			.tile_settings {
				width: 100% !important;
			}
		}

		@media (min-width: 576px) {

			.container,
			.container-sm {
				max-width: 100% !important;
			}
		}

		.tabss {
			background: white;
			margin: 12px;
			padding: 3px 15px;
			border-radius: 5px;
			display: inline-block;
		}

		.tabss:hover {
			position: relative;
			top: -8px;
			background: #D32F2F;
			box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
		}

		.tabss:hover a {
			color: white;
		}

		.tabss a {
			color: black;
			text-decoration: none;
		}

		#adjusted {
			list-style-type: none;
			width: 70%;
			margin: 0 auto;
			text-align: center;
			height: 48px;
			padding: 0;
		}

		.activated {
			background: #D32F2F !important;
		}

		.activated a {
			color: white !important;
		}

		#searchBox {
			border-radius: 10px;
			background: white;
			margin: 0 auto;
			width: 80%;
			padding: 18px;
			padding-top: 33px;
			margin-bottom: 30px;
		}

		.empty1 {
			border-radius: 26px;
			border: 1px solid gray;
			margin-top: 10px;
			padding: 12px 5px;
		}

		#radio_search_1 {
			width: 98%;
			margin: 0 auto;
			margin-top: 5px;
			margin-bottom: 5px;
		}

		#radio_search_2 {
			width: 98%;
			margin: 0 auto;
			margin-top: 5px;
			margin-bottom: 5px;
		}

		.radio_search {
			display: none;
		}

		.aligner {
			float: left;
			margin: 6px 0px;
		}

		.tile_settings {
			width: 80%;
			margin: 0 auto;
		}

		.tile_settings p {
			margin-bottom: 6px;
		}

		.dropdown ul {
			list-style: none;
			padding: 5px 5px;
			border: 1px solid gray;
			width: 195px;
			box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
			position: absolute;
			background: white;
		}

		.pass_list {
			width: 100%;
		}

		.dropdowns-menu p {
			margin-left: 4px;
			color: gray;
			float: left;
		}

		.dropdowns-menu {
			display: none;
		}

		.dropdowns-menu b {
			float: left;
		}

		.radios {
			cursor: pointer;
			float: left;
			margin: 0 7px;
		}

		.radios input {
			cursor: pointer;
		}

		input:checked+br+label {
			font-weight: 600;
		}

		.pass_list1 {
			width: 100%;
		}

		.pass_list2 {
			width: 100%;
		}

		.pass_list3 {
			width: 100%;
		}

		.pass_list4 {
			width: 100%;
		}

		.pass_list5 {
			width: 100%;
		}

		.pass_list6 {
			width: 100%;
		}

		.pass_list-1 {
			width: 100%;
		}

		.pass_list-2 {
			width: 100%;
		}

		.n-text {
			display: block;
			font-size: 18px;
			margin: 19px 0;
		}

		.submit_btns {
			width: 100%;
			height: 62px;
			border-radius: 9px;
			background-color: #faff69;
			font-size: 24px;
			font-weight: 630;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}

		.submit_btns:hover {
			background-color: #d32f2f;
			position: relative;
			top: 2px;
			box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 18px 60px 0 rgba(0, 0, 0, 0.19);
			color: white;
		}

		#dropdown:hover {
			display: block !important;
		}

		.active {
			display: block;
		}

		.deactive {
			display: none;
		}

		.input_styles {
			width: 95%;
			padding: 44px 12px 30px !important;
			font-size: 24px;
			font-weight: 600;
			font-family: 'Open Sans';
		}

		.input_calender {
			width: 95%;
			padding: 7px 8px;
			font-size: 24px;
			font-weight: 600;
			color: #747474;
		}

		.input_calender:focus {
			color: black;
		}
		
		* {
  box-sizing: border-box;
}

#input_roundtrip{
	cursor: pointer;
}
#return_international {
	cursor: pointer;
}

#searchBox {
	height: auto;
}
	</style>
	
</head>

<body>
	<div class="container" id="searchBox">
		<div class="row">
			<div class="radio_sec">
				<div class="radios" id="radio-1">
					<input type="radio" class="radio" checked="checked" value="One Way">

					<lebel>One Way</lebel>
				</div>
				<div class="radios" id="radio-2">
					<input type="radio" class="radio" value="Round Trip">

					<lebel>Round Trip </lebel>
				</div>
				<div class="radios" id="radio-3">
					<input type="radio" class="radio" value="Multi City">

					<lebel>International</lebel>
				</div>

			</div>
			<div class="radio_search empty1" id="radio_search_1">
				<form th:action="@{/flight_search_save}" method="get">
					<div class="col-12">
						<input type="hidden" name="tripType" value="oneWay">
						<div class="col-md-5 col-12" style=" float: left; ">

							<div class="col-md-6 col-6 aligner form-floating" id="aligner3">
								<input type="search" class="form-control hill1 input_styles" name="cityOne" id="cityOne"
									placeholder="Depurture City" list="cityOneList"
									oninput="checkCityCodeMatch(document.getElementById('cityTwo'))" required>
								<datalist id="cityOneList">
									<th:block th:each="city : ${cities}">
										<option th:value="${city.cityName}">[[${city.code}]] - [[${city.name}]]</option>
									</th:block>
								</datalist>
								<label class="labelStyle" for="cityOne"><i class="fa fa-circle-o-notch fa-spin"></i>
									From</label>
							</div>
							<div class="col-md-6 col-6 aligner form-floating" id="aligner4">
								<input type="search" class="form-control hill2 input_styles" name="cityTwo" id="cityTwo"
									placeholder="Arrival City" list="cityTwoList" oninput="checkCityCodeMatch(this)"
									required>
								<datalist id="cityTwoList">
									<th:block th:each="city : ${cities}">
										<option th:value="${city.cityName}">[[${city.code}]] - [[${city.name}]]</option>
									</th:block>
								</datalist>
								<label class="labelStyle" for="cityTwo"><i class="fa fa-circle-o-notch fa-spin"></i>
									To</label>
							</div>

						</div>
						<div class="col-md-7 col-12" style=" float: left;">

							<div class="col-md-4 col-6 aligner">
								<label for="floatingInputDepurture"><i class="fa fa-circle-o-notch fa-spin"></i>
									Departure</label>
								<input type="date" name="date" class="form-control input_calender"
									id="floatingInputDepurture" required>

							</div>
							<div class="col-md-4 col-6 aligner" id="input_roundtrip"><!-- id="input_roundtrip" -->
								<label for="floatingInputCalender"><i class="fa fa-circle-o-notch fa-spin"></i>
									Return</label>
								<input type="date" class="form-control input_calender" disabled>

							</div>
							<div class="col-md-4 col-12 aligner" style=" border: none; margin: 19px 0 6px;">
								<div class="passanger_detail col-md-6 col-12" style=" float: left; padding: 0 4px;">
									<div class="dropdown">
										<div class="" type="button" id="drop_button"
											style="text-align: center; border: 1px solid grey; width: 100%; height: 62px; border-radius: 9px;"
											onmouseover="dropdownOpen(this)" onmouseleave="dropdownClose(this)">
											<h5 id="result3"></h5>
											<h5 id="result"></h5>
											<input type="hidden" name="something" id="passengerNum1" value="">
											<h1 class="n-text">Travelers</h1>
										</div>
										<ul class="dropdownMenu deactive" onmouseover="dropdownOpen(this)"
											onmouseleave="dropdownClose(this)">
											<li>
												<b>Class</b>
												<select class="pass_list-1 form-control" name="journeyClass"
													required="required">
													<option value="Economy">Economy</option>
													<option value="Premium Economy">Premium Economy</option>
													<option value="Business">Business</option>
													<option value="Premium Business">Premium Business</option>
													<option value="First Class">First Class</option>
												</select>
											</li>
											<li>
												<b>Adult</b>
												<p>(12+ yrs)</p>
												<select class="pass_list1 form-control" name="adultNum"
													required="required">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
												</select>
											</li>
											<li>
												<b>Children</b>
												<p>(2-12 yrs)</p>
												<select class="pass_list2 form-control" name="childNum">
													<option value="0">0</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
												</select>
											</li>
											<li>
												<b>Infant</b>
												<p>Under 2yrs</p>
												<select class="pass_list3 form-control" name="infantNum">
													<option value="0">0</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
												</select>
											</li>
											<li>
												<button type="button" id="submit"
													style=" padding: 2px; margin: 15px 0 5px; width: 100%;">Save</button>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-md-6 col-12 insert_padding" style=" float: left; padding: 0 4px;">
									<input class="submit_btns" type="submit" id="search1" name="search1" value="Search">
								</div>
							</div>

						</div>
					</div>
				</form>
			</div>
			<div class="radio_search empty1" id="radio_search_2">
				<form th:action="@{/flight_search_return_save}" method="get">
					<div class="col-12">
						<input type="hidden" name="tripType" value="twoWays">
						<div class="col-md-5 col-12" style=" float: left;">

							<div class="col-md-6 col-6 aligner form-floating" id="aligner1">
								<input type="search" class="form-control hill1 input_styles" name="cityOne"
									id="cityOne2" placeholder="Depurture City" list="cityOneList2"
									oninput="checkCityCodeMatch2(document.getElementById('cityTwo2'))">
								<datalist id="cityOneList2">
									<th:block th:each="city : ${cities}">
										<option th:value="${city.cityName}">[[${city.code}]] - [[${city.name}]]</option>
									</th:block>
								</datalist>
								<label class="labelStyle" for="floatingInput"><i
										class="fa fa-circle-o-notch fa-spin"></i> From</label>
							</div>
							<div class="col-md-6 col-6 aligner form-floating" id="aligner2">
								<input type="search" class="form-control hill2 input_styles" name="cityTwo"
									id="cityTwo2" placeholder="Arrival City" list="cityTwoList2"
									oninput="checkCityCodeMatch2(this)">
								<datalist id="cityTwoList2">
									<th:block th:each="city : ${cities}">
										<option th:value="${city.cityName}">[[${city.code}]] - [[${city.name}]]</option>
									</th:block>
								</datalist>
								<label class="labelStyle" for="floatingInput"><i
										class="fa fa-circle-o-notch fa-spin"></i> To</label>
							</div>
						</div>
						<div class="col-md-7 col-12" style=" float: left;">

							<div class="col-md-4 col-6 aligner">
								<label for="floatingInput"><i class="fa fa-circle-o-notch fa-spin"></i>
									Departure</label>
								<input type="date" class="form-control input_calender" name="date"
									id="floatingInputDepurtureReturn" required>

							</div>
							<div class="col-md-4 col-6 aligner">
								<label for="floatingInput"><i class="fa fa-circle-o-notch fa-spin"></i> Return</label>
								<input type="date" class="form-control input_calender" name="return_date"
									id="floatingInputReturnReturn" required>

							</div>
							<div class="col-md-4 col-12 aligner" style=" border: none; margin: 19px 0 6px;">
								<div class="passanger_detail col-md-6 col-12" style=" float: left; padding: 0 4px;">
									<div class="dropdown">
										<div class="" type="button" id="drop_button2"
											style="text-align: center; border: 1px solid grey; width: 100%; height: 62px; border-radius: 9px;"
											onmouseover="dropdownOpen(this)" onmouseleave="dropdownClose(this)">
											<span id="result4"></span>
											<span id="result1"></span>
											<h1 class="n-text">Travelers</h1>
										</div>
										<ul class="dropdownMenu deactive" onmouseover="dropdownOpen(this)"
											onmouseleave="dropdownClose(this)">
											<li>
												<b>Class</b>
												<select class="pass_list-2 form-control" name="journeyClass"
													required="required">
													<option value="Economy">Economy</option>
													<option value="Premium Economy">Premium Economy</option>
													<option value="Business">Business</option>
													<option value="Premium Business">Premium Business</option>
													<option value="First Class">First Class</option>
												</select>
											</li>
											<li>
												<b>Adult</b>
												<p>(12+ yrs)</p>
												<select class="pass_list4 form-control" name="adultNum"
													required="required">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
												</select>
											</li>
											<li>
												<b>Children</b>
												<p>(2-12 yrs)</p>
												<select class="pass_list5 form-control" name="childNum">
													<option value="0">0</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
												</select>
											</li>
											<li>
												<b>Infant</b>
												<p>Under 2yrs</p>
												<select class="pass_list6 form-control" name="infantNum">
													<option value="0">0</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
												</select>
											</li>
											<li>
												<button type="button" id="submit1"
													style=" padding: 2px; margin: 15px 0 5px; width: 100%;">Save</button>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-md-6 col-12 insert_padding" style=" float: left; padding: 0 4px;">
									<input class="submit_btns" type="submit" id="search" name="search" value="Search">
								</div>
							</div>

						</div>
					</div>
				</form>
			</div>
			<div class="radio_search " id="radio_search_3">
				<div class="" style="display: flex; justify-content: space-between;">
					<div style="display: flex;">
						<div id="return-previous" style="cursor: pointer; display: none;" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide-to="0" >
							<div style="padding: 0; margin: 0; width: 40px; align-items: center; display: flex;"><img
									th:src="@{/images/buttons/Arrow-left-icon.png}" style="width: 100%;"></div>
							<p style="font-size: 20px; font-weight: 600; margin: 0; padding-left: 5px;">One Way</p>
						</div>
					</div>
					<div style="display: flex;">
						<div id="return-next" style="cursor: pointer; display: flex;" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide-to="1" >
							<p style="font-size: 20px; font-weight: 600; margin: 0; padding-right: 5px;">Return Trip</p>
							<div style="padding: 0; margin: 0; width: 40px; align-items: center; display: flex;"><img
									th:src="@{/images/buttons/Arrow-right-icon.png}" style="width: 100%;"></div>
						</div>
					</div>
				</div>
				<div class="" >
					<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
					  <div class="carousel-inner">
					    <div class="carousel-item active">
					      <div class="empty1" style="height: 115px;">
								<form th:action="@{/flight_international_search_save}" method="get">
									<div class=" col-12">
										<input type="hidden" name="tripType" value="international">
										<div class="col-md-5 col-12" style=" float: left;">
											<div class="col-md-6 col-6 aligner form-floating" id="aligner1">
												<input type="search" class="form-control hill1 input_styles" name="cityOne"
													id="cityOne3" placeholder="Depurture City" list="cityOneList3"
													oninput="checkCityCodeMatch3(document.getElementById('cityTwo3'))">
												<datalist id="cityOneList3">
													<th:block th:each="city : ${allCities}">
														<option th:value="${city.cityName}">[[${city.country.name}]] -
															[[${city.code}]] - [[${city.name}]]</option>
													</th:block>
												</datalist>
												<label class="labelStyle" for="floatingInput"><i
														class="fa fa-circle-o-notch fa-spin"></i> From</label>
											</div>
											<div class="col-md-6 col-6 aligner form-floating" id="aligner2">
												<input type="search" class="form-control hill2 input_styles" name="cityTwo"
													id="cityTwo3" placeholder="Arrival City" list="cityTwoList4"
													oninput="checkCityCodeMatch3(this)">
												<datalist id="cityTwoList4">
													<th:block th:each="city : ${allCities}">
														<option th:value="${city.cityName}">[[${city.country.name}]] -
															[[${city.code}]] - [[${city.name}]]</option>
													</th:block>
												</datalist>
												<label class="labelStyle" for="floatingInput"><i
														class="fa fa-circle-o-notch fa-spin"></i> To</label>
											</div>
										</div>
										<div class="col-md-7 col-12" style=" float: left;">
			
											<div class="col-md-4 col-6 aligner">
												<label for="floatingInput"><i class="fa fa-circle-o-notch fa-spin"></i>
													Departure</label>
												<input type="date" class="form-control input_calender" name="date"
													id="floatingInputDepurtureReturn" required>
			
											</div>
											<div class="col-md-4 col-6 aligner" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide-to="1" id="return_international">
												<label for="floatingInput"><i class="fa fa-circle-o-notch fa-spin"></i>
													Return</label>
												<input type="date" class="form-control input_calender" name="return_date"
													id="floatingInputReturnReturn" disabled>
			
											</div>
											<div class="col-md-4 col-12 aligner" style=" border: none; margin: 19px 0 6px;">
												<div class="passanger_detail col-md-6 col-12" style=" float: left; padding: 0 4px;">
													<div class="dropdown">
														<div class="" type="button" id="drop_button_inter"
															style="text-align: center; border: 1px solid grey; width: 100%; height: 62px; border-radius: 9px;"
															onmouseover="dropdownOpen(this)" onmouseleave="dropdownClose(this)">
															<span id="resultInter2"></span>
															<span id="resultInter1"></span>
															<h1 class="n-text">Travelers</h1>
														</div>
														<ul class="dropdownMenu deactive" onmouseover="dropdownOpen(this)" id="dropdownExpand"
															onmouseleave="dropdownClose(this)" style="z-index: 6; position: relative;">
															<li>
																<b>Class</b>
																<select class="pass_list-10 form-control" name="journeyClass"
																	required="required">
																	<option value="Economy">Economy</option>
																	<option value="Premium Economy">Premium Economy</option>
																	<option value="Business">Business</option>
																	<option value="Premium Business">Premium Business</option>
																	<option value="First Class">First Class</option>
																</select>
															</li>
															<li>
																<b>Adult</b>
																<p>(12+ yrs)</p>
																<select class="pass_list11 form-control" name="adultNum"
																	required="required">
																	<option value="1">1</option>
																	<option value="2">2</option>
																	<option value="3">3</option>
																	<option value="4">4</option>
																	<option value="5">5</option>
																	<option value="6">6</option>
																	<option value="7">7</option>
																	<option value="8">8</option>
																	<option value="9">9</option>
																</select>
															</li>
															<li>
																<b>Children</b>
																<p>(2-12 yrs)</p>
																<select class="pass_list12 form-control" name="childNum">
																	<option value="0">0</option>
																	<option value="1">1</option>
																	<option value="2">2</option>
																	<option value="3">3</option>
																	<option value="4">4</option>
																	<option value="5">5</option>
																	<option value="6">6</option>
																	<option value="7">7</option>
																	<option value="8">8</option>
																	<option value="9">9</option>
																</select>
															</li>
															<li>
																<b>Infant</b>
																<p>Under 2yrs</p>
																<select class="pass_list13 form-control" name="infantNum">
																	<option value="0">0</option>
																	<option value="1">1</option>
																	<option value="2">2</option>
																	<option value="3">3</option>
																	<option value="4">4</option>
																	<option value="5">5</option>
																	<option value="6">6</option>
																	<option value="7">7</option>
																	<option value="8">8</option>
																	<option value="9">9</option>
																</select>
															</li>
															<li>
																<button type="button" id="submitInter"
																	style=" padding: 2px; margin: 15px 0 5px; width: 100%;">Save</button>
															</li>
														</ul>
													</div>
												</div>
												<div class="col-md-6 col-12 insert_padding" style=" float: left; padding: 0 4px;">
													<input class="submit_btns" type="submit" id="search" name="search"
														value="Search">
												</div>
											</div>
			
										</div>
									</div>
								</form>
							</div>
					    </div>
					    <div class="carousel-item">
					      <div class="empty1" style="height: 115px;">
								<form th:action="@{/flight_international_search_return_save}" method="get">
									<div class=" col-12">
										<input type="hidden" name="tripType" value="twoWays">
										<div class="col-md-5 col-12" style=" float: left;">
											<div class="col-md-6 col-6 aligner form-floating" id="aligner1">
												<input type="search" class="form-control hill1 input_styles" name="cityOne"
													id="cityOne4" placeholder="Depurture City" list="cityOneList3"
													oninput="checkCityCodeMatch4(document.getElementById('cityTwo4'))">
												<datalist id="cityOneList3">
													<th:block th:each="city : ${allCities}">
														<option th:value="${city.cityName}">[[${city.country.name}]] -
															[[${city.code}]] - [[${city.name}]]</option>
													</th:block>
												</datalist>
												<label class="labelStyle" for="floatingInput"><i
														class="fa fa-circle-o-notch fa-spin"></i> From</label>
											</div>
											<div class="col-md-6 col-6 aligner form-floating" id="aligner2">
												<input type="search" class="form-control hill2 input_styles" name="cityTwo"
													id="cityTwo4" placeholder="Arrival City" list="cityTwoList4"
													oninput="checkCityCodeMatch4(this)">
												<datalist id="cityTwoList4">
													<th:block th:each="city : ${allCities}">
														<option th:value="${city.cityName}">[[${city.country.name}]] -
															[[${city.code}]] - [[${city.name}]]</option>
													</th:block>
												</datalist>
												<label class="labelStyle" for="floatingInput"><i
														class="fa fa-circle-o-notch fa-spin"></i> To</label>
											</div>
										</div>
										<div class="col-md-7 col-12" style=" float: left;">
			
											<div class="col-md-4 col-6 aligner">
												<label for="floatingInput"><i class="fa fa-circle-o-notch fa-spin"></i>
													Departure</label>
												<input type="date" class="form-control input_calender" name="date"
													id="floatingInputDepurtureReturn" required>
			
											</div>
											<div class="col-md-4 col-6 aligner">
												<label for="floatingInput"><i class="fa fa-circle-o-notch fa-spin"></i>
													Return</label>
												<input type="date" class="form-control input_calender" name="return_date"
													id="floatingInputReturnReturn" required>
			
											</div>
											<div class="col-md-4 col-12 aligner" style=" border: none; margin: 19px 0 6px;">
												<div class="passanger_detail col-md-6 col-12" style=" float: left; padding: 0 4px;">
													<div class="dropdown">
														<div class="" type="button" id="drop_button_inter_return"
															style="text-align: center; border: 1px solid grey; width: 100%; height: 62px; border-radius: 9px;"
															onmouseover="dropdownOpen(this)" onmouseleave="dropdownClose(this)">
															<span id="result4"></span>
															<span id="result1"></span>
															<h1 class="n-text">Travelers</h1>
														</div>
														<ul class="dropdownMenu deactive" onmouseover="dropdownOpen(this)"
															onmouseleave="dropdownClose(this)">
															<li>
																<b>Class</b>
																<select class="pass_list-2 form-control" name="journeyClass"
																	required="required">
																	<option value="Economy">Economy</option>
																	<option value="Premium Economy">Premium Economy</option>
																	<option value="Business">Business</option>
																	<option value="Premium Business">Premium Business</option>
																	<option value="First Class">First Class</option>
																</select>
															</li>
															<li>
																<b>Adult</b>
																<p>(12+ yrs)</p>
																<select class="pass_list4 form-control" name="adultNum"
																	required="required">
																	<option value="1">1</option>
																	<option value="2">2</option>
																	<option value="3">3</option>
																	<option value="4">4</option>
																	<option value="5">5</option>
																	<option value="6">6</option>
																	<option value="7">7</option>
																	<option value="8">8</option>
																	<option value="9">9</option>
																</select>
															</li>
															<li>
																<b>Children</b>
																<p>(2-12 yrs)</p>
																<select class="pass_list5 form-control" name="childNum">
																	<option value="0">0</option>
																	<option value="1">1</option>
																	<option value="2">2</option>
																	<option value="3">3</option>
																	<option value="4">4</option>
																	<option value="5">5</option>
																	<option value="6">6</option>
																	<option value="7">7</option>
																	<option value="8">8</option>
																	<option value="9">9</option>
																</select>
															</li>
															<li>
																<b>Infant</b>
																<p>Under 2yrs</p>
																<select class="pass_list6 form-control" name="infantNum">
																	<option value="0">0</option>
																	<option value="1">1</option>
																	<option value="2">2</option>
																	<option value="3">3</option>
																	<option value="4">4</option>
																	<option value="5">5</option>
																	<option value="6">6</option>
																	<option value="7">7</option>
																	<option value="8">8</option>
																	<option value="9">9</option>
																</select>
															</li>
															<li>
																<button type="button" id="submit1"
																	style=" padding: 2px; margin: 15px 0 5px; width: 100%;">Save</button>
															</li>
														</ul>
													</div>
												</div>
												<div class="col-md-6 col-12 insert_padding" style=" float: left; padding: 0 4px;">
													<input class="submit_btns" type="submit" id="search-inter"
														value="Search">
												</div>
											</div>
			
										</div>
									</div>
								</form>
							</div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	function checkCityCodeMatch(confirmCityCode) {
		if (confirmCityCode.value == $("#cityOne").val()) {
			confirmCityCode.setCustomValidity("Two City code should not match!");
		} else {
			confirmCityCode.setCustomValidity("");
		}
	}

	function checkCityCodeMatch2(confirmCityCode) {
		if (confirmCityCode.value == $("#cityOne2").val()) {
			confirmCityCode.setCustomValidity("Two City code should not match!");
		} else {
			confirmCityCode.setCustomValidity("");
		}
	}

	function checkCityCodeMatch3(confirmCityCode) {
		if (confirmCityCode.value == $("#cityOne2").val()) {
			confirmCityCode.setCustomValidity("Two City code should not match!");
		} else {
			confirmCityCode.setCustomValidity("");
		}
	}

	function checkCityCodeMatch4(confirmCityCode) {
		if (confirmCityCode.value == $("#cityOne2").val()) {
			confirmCityCode.setCustomValidity("Two City code should not match!");
		} else {
			confirmCityCode.setCustomValidity("");
		}
	}
</script>
<script>

	function dropdownOpen(x) {
		$(".dropdownMenu").addClass("active");
		$(".dropdownMenu").removeClass("deactive");
		$(".dropdownMenu").css("z-index", "6");
	};

	function dropdownClose(x) {
		$(".dropdownMenu").removeClass("active");
		$(".dropdownMenu").addClass("deactive");
	};

</script>
<script>
	$(".radios").click(function () {
		$(".radios input").prop("checked", false);
		$("input", this).prop("checked", true);
	})
	$("#radio-1").click(function () {
		$(".radio_search").css("display", "none");
		$("#radio_search_1").css("display", "block");
		$("#searchBox").css("padding-bottom", "18px")
	})
	$("#radio-2").click(function () {
		$(".radio_search").css("display", "none");
		$("#radio_search_2").css("display", "block");
		$("#searchBox").css("padding-bottom", "18px")
	})
	$("#radio-3").click(function () {
		$(".radio_search").css("display", "none");
		$("#radio_search_3").css("display", "block");
		$("#searchBox").css("padding-bottom", "30px")
	})
	$(document).ready(function () {
		$("#radio_search_1").css("display", "block");
	})
</script>
<script>
	$("#aligner1").click(function () {
		$("label", this).html("Depurture City");
	})
	$("#aligner2").click(function () {
		$("label", this).html("Arrival City");
	})
	$("#aligner3").click(function () {
		$("label", this).html("Depurture City");
	})
	$("#aligner4").click(function () {
		$("label", this).html("Arrival City");
	})
</script>
<script>
	$("#input_roundtrip").click(function () {
		$(".radios input").prop("checked", false);
		$("input", "#radio-2").prop("checked", true);
		$(".radio_search").css("display", "none");
		$("#radio_search_2").css("display", "block");
	})
</script>
<script>

	$("#submit").click(function () {
		var d = $(".pass_list-1 option:selected").text();
		var a = parseInt($(".pass_list1 option:selected").val());
		var b = parseInt($(".pass_list2 option:selected").val());
		var c = parseInt($(".pass_list3 option:selected").val());

		var sum = a + b + c;

		if (sum < 10) {
			event.stopPropagation();
			$("#result").html("No: " + Math.round(sum));
			$("#result3").html(d);
		}
		else {
			event.stopPropagation();
			$("#result3").html("<b style='color: red;'>INVALID<br>Max - 9</b>");
			$("#result").html(" ");
		}

		$(".dropdowns-menu").toggle();
		$(".n-text").css("display", "none");

	})
	$("#submit1").click(function () {
		var d = $(".pass_list-2 option:selected").text();
		var a = parseInt($(".pass_list4 option:selected").val());
		var b = parseInt($(".pass_list5 option:selected").val());
		var c = parseInt($(".pass_list6 option:selected").val());

		var sum = a + b + c;

		if (sum < 10) {
			event.stopPropagation();
			$("#result1").html("No: " + Math.round(sum));
			$("#result4").html(d);
		}
		else {
			event.stopPropagation();
			$("#result4").html("<b style='color: red;'>INVALID<br>Max - 9</b>");
			$("#result1").html(" ");
		}

		$(".dropdowns-menu").toggle();
		$(".n-text").css("display", "none");
	})
	$("#submitInter").click(function () {
		var d = $(".pass_list-10 option:selected").text();
		var a = parseInt($(".pass_list11 option:selected").val());
		var b = parseInt($(".pass_list12 option:selected").val());
		var c = parseInt($(".pass_list13 option:selected").val());

		var sum = a + b + c;

		if (sum < 10) {
			event.stopPropagation();
			$("#resultInter1").html("No: " + Math.round(sum));
			$("#resultInter2").html(d);
		}
		else {
			event.stopPropagation();
			$("#resultInter2").html("<b style='color: red;'>INVALID<br>Max - 9</b>");
			$("#resultInter1").html(" ");
		}

		$(".dropdowns-menu").toggle();
		$(".n-text").css("display", "none");
	})
</script>
<script>
	$("#drop_button_inter").hover(
		() => { //hover
			$("#searchBox").css("height", "236px");
	  	}, 
	  	() => { //out
			$("#searchBox").css("height", "auto");
	  	}
	);
	
	$("#dropdownExpand").hover(
		() => { //hover
			$("#searchBox").css("height", "236px");
	  	}, 
	  	() => { //out
			$("#searchBox").css("height", "auto");
	  	}
	);
	
</script>
<script type="text/javascript">

	$(document).ready(function () {
		$("#floatingInputDepurture").click(function () {
			calenderView($("#floatingInputDepurture"));
		});

		$("#floatingInputDepurtureReturn").click(function () {
			calenderViewReturn("floatingInputDepurtureReturn");
		});

		$("#floatingInputReturnReturn").click(function () {
			calenderViewReturnDestination($("#floatingInputDepurtureReturn"), "floatingInputReturnReturn");
		});
	})

	function calenderView(input) {
		name = input.attr("name");
		var today = new Date().toISOString().split('T')[0];
		document.getElementsByName(name)[0].setAttribute('min', today);
	}

	function calenderViewReturn(input) {
		var today = new Date().toISOString().split('T')[0];
		document.getElementById(input).setAttribute('min', today);
	}

	function calenderViewReturnDestination(input, output) {
		inputAttr = input.val();
		document.getElementById(output).setAttribute('min', inputAttr);
	}

</script>
<script>
	$("#return-next").click(function(){
		$("#return-next").css("display", "none");
		$("#return-previous").css("display", "flex");
	})
	$("#return-previous").click(function(){
		$("#return-previous").css("display", "none");
		$("#return-next").css("display", "flex");
	})
	$("#return_international").click(function(){
		$("#return-next").css("display", "none");
		$("#return-previous").css("display", "flex");
	})
</script>


</html>