
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

		<!-- dynamic head starts -->

<head th:replace="fragments :: page_head('Welcome to Easegofly Admin Driver add page', 'none')"></head>

		<!-- dynamic head ends -->

    <style>
        .form-group {
            margin-bottom: 1rem;
        }
    </style>

<body>
	<div class="main-wrapper">

		<!-- sidebar starts -->
    
		<div th:replace="navigation :: nav_sidebar"></div>

        <!-- sidebar Ends -->
	
		<div class="page-wrapper">
					
		    <!-- navbar Starts -->

		    <div th:replace="navigation :: nav_profile"></div>

			<!-- navbar Ends -->

            <!-- Page Content Starts -->

			<div class="page-content">


<div class="bg-light d-flex align-items-center justify-content-center min-vh-100 p-4">

		
	
	<div class="bg-white p-4 rounded shadow-lg w-100" style="max-width: 1400px;">
        <h2 class="text-center text-primary mb-4">Driver & Cab Registration</h2>
        
         <form th:action="@{/drivers/save_driver}" method="POST" enctype="multipart/form-data">
            <!-- Driver Card -->
            <div class="card mb-3">
				<div class="card-header bg-info text-white">Upload Pictures</div>
				 <div class="card-body">
					 <div class="row">
						<div class="col-md-6 col-12 form-group">
							<label class="form-label">Driver Picture:</label>
							<input type="hidden" name="driverImage">
							<input type="file" name="image" id="fileImage" accept="image/png, image/jpeg" class="mb-2"/>
							<img class="img-thumbnail img-fluid" id="thumbnail" th:src="@{/images/user.png}" alt="Photo Preview" style="max-width: 25% !important;"/> 
						</div>
						<div class="col-md-6 col-12 form-group">
							<label class="form-label">Cab Picture:</label>
							<input type="hidden" name="cabImage">
							<input type="file" name="cabImg" id="cabImg" accept="image/png, image/jpeg" class="mb-2"/>
							<img class="img-thumbnail img-fluid" id="cabimageShow" th:src="@{/images/user.png}" alt="Photo Preview" style="max-width: 25% !important;"/> 
						</div>
					 </div>
				 </div>
			</div>
            <!-- Driver Card -->
            <div class="card mb-3">
                <div class="card-header bg-primary text-white">Driver Information</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-12 form-group"><label class="form-label">Name:</label> <input type="text" name="driverName" placeholder="Enter Driver Name" class="form-control"  required></div>
                        <div class="col-md-4 col-sm-6 col-12 form-group"><label class="form-label">Rating:</label> <input type="number" name="rating" placeholder="Enter Rating" step="0.1" class="form-control" required></div>
                        <div class="col-md-4 col-sm-6 col-12 form-group"><label class="form-label">Experience (Years):</label> <input type="number" name="experience" placeholder="Enter Experience" class="form-control" required></div>
                        
			
                        <div class="col-md-4 col-sm-6 col-12 form-group"><label class="form-label">Location:</label> <input type="text" name="location" placeholder="Enter Location" class="form-control" required></div>
                        <div class="col-md-4 col-sm-6 col-12 form-group"><label class="form-label">Contact:</label> <input type="tel" name="contact" placeholder="Enter Contact Number" class="form-control" required></div>
                        <div class="col-md-4 col-sm-6 col-12 form-group"><label class="form-label">Covering Distance (km):</label> <input type="number" name="coveringDistance" placeholder="Enter Covering Distance" class="form-control" required></div>
                        <div class="col-md-6 col-sm-6 col-12 form-group"><label class="form-label">Latitude:</label> <input type="text" name="latitude" placeholder="Enter Latitude" class="form-control" ></div>
                        <div class="col-md-6 col-sm-6 col-12 form-group"><label class="form-label">Longitude:</label> <input type="text" name="longitude" placeholder="Enter Longitude" class="form-control" ></div>
                        <div class="col-md-12 col-sm-12 col-12 form-group"><label class="form-label">Address:</label> <input type="text" name="address" placeholder="Enter Address" class="form-control" required></div>
                    </div>
                </div>
            </div>
            
            <!-- Cab Card -->
            <div class="card mb-3">
                <div class="card-header bg-success text-white">Cab Information</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-12 form-group"><label class="form-label">Name:</label> <input type="text" name="cabName" placeholder="Enter Cab Name" class="form-control" required></div>
                        <div class="col-md-4 col-sm-6 col-12 form-group"><label class="form-label">Type:</label> <input type="text" name="type" placeholder="Enter Cab Type" class="form-control" required></div>
                        <div class="col-md-4 col-sm-6 col-12 form-group"><label class="form-label">Seating:</label> <input type="number" name="seating" placeholder="Enter Seating Capacity" class="form-control" required></div> 
			
                        <div class="col-md-4 col-sm-6 col-12 form-group"><label class="form-label">Booking Fare:</label> <input type="number" name="bookingFare" placeholder="Enter Booking Fare" step="0.1" class="form-control" required></div>
                        <div class="col-md-4 col-sm-6 col-12 form-group">
                            <label class="form-label">Fuel Type:</label>
                            <select name="fuelType" class="form-control" required>
                                <option value="Petrol">Petrol</option>
                                <option value="Diesel">Diesel</option>
                                <option value="Electric">Electric</option>
                                <option value="Hybrid">Hybrid</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 form-group"><label class="form-label">Color:</label> <input type="text" name="color" placeholder="Enter Color" class="form-control" required></div>
                        <div class="col-md-4 col-sm-6 col-12 form-group"><label class="form-label">Max Speed (km/h):</label> <input type="number" name="maxSpeed" placeholder="Enter Max Speed" class="form-control" maxlength="3" required></div>
                        <div class="col-md-4 col-sm-6 col-12 form-group">
                            <label class="form-label">Air Conditioning:</label>
                            <select name="airConditioning" class="form-control" required>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 form-group">
                            <label class="form-label">WiFi:</label>
                            <select name="wifi" class="form-control" required>
                                <option value="Available">Available</option>
                                <option value="Not Available">Not Available</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6 col-12 form-group"><label class="form-label">License:</label> <input type="text" name="license" placeholder="Enter License Number" class="form-control" required></div>
                        <div class="col-md-6 col-sm-6 col-12 form-group"><label class="form-label">Features:</label> <input type="text" name="features" placeholder="Enter Features" class="form-control" required></div>
                    </div>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>

    </div>
	</div>






			</div>

            <!-- Page Content Ends -->

			<!-- footer Starts -->
      
		    <div th:replace="fragments :: footer"></div>

            <!-- footer Ends -->
		
		</div>
	</div>
		
<script type="text/javascript">
	onUploadImage('thumbnail', 'image');
	onUploadImage('cabimageShow', 'cabImg');
	
	onChangeImage('#fileImage', 1024);
	onChangeImage('#cabImg', 1024);
</script>

</body>
</html>    