<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

		<!-- dynamic head starts -->

<head th:replace="fragments :: page_head('Welcome to Easegofly Admin Error page', 'none')"></head>

		<!-- dynamic head ends -->


<body>
	<div class="main-wrapper">

		<!-- sidebar starts -->
    

        <!-- sidebar Ends -->
	
		<div class="page-wrapper">
					
		    <!-- navbar Starts -->


			<!-- navbar Ends -->

            <!-- Page Content Starts -->

			<div class="page-content">





		<div class="m-3 text-center">
			<div class="alert alert-danger" role="alert">
			  <h2><i class="fa fa-duotone fa-circle-exclamation"></i>&nbsp; Sorry, you don't have permission to access this page. &nbsp;<i class="fa fa-duotone fa-circle-exclamation"></i></h2>
			</div>
		</div>




			</div>

            <!-- Page Content Ends -->

			<!-- footer Starts -->
      
		    <div th:replace="fragments :: footer"></div>

            <!-- footer Ends -->
		
		</div>
	</div>


</body>
</html>    