<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:fragment="bus-fragment">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" th:href="@{css/bus/swiper-icons.css}">
    <link rel="stylesheet" th:href="@{css/bus/aos.min.css}">
    <link rel="stylesheet" th:href="@{css/bus/animate.min.css}">
    <link rel="stylesheet" th:href="@{css/bus/accordion-faq-list.css}">
    <link rel="stylesheet" th:href="@{css/bus/Articles-Cards-images.css}">
    <link rel="stylesheet" th:href="@{css/bus/Navbar-With-Button-icons.css}">
    <link rel="stylesheet" th:href="@{css/bus/Simple-Slider-swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{css/bus/Simple-Slider.css}">
    <link rel="stylesheet" th:href="@{css/bus/untitled.css}">
</head>

<body style="padding-top: 0px;">
 
    <div class="container py-4 py-xl-5">
        <div class="carousel slide" data-bs-ride="false" id="carousel-1" style="width: 100%; height: fit-content;">
            <div class="carousel-inner height-stl" style="width: 80%; margin-left: auto;margin-right: auto;">
                <div class="carousel-item active"><img class="w-100 d-block" data-bss-hover-animate="pulse" th:src="@{images/bus/Bus.png}" alt="Slide Image"></div>
                <div class="carousel-item"><img class="w-100 d-block" data-bss-hover-animate="pulse" th:src="@{images/bus/Easegofly.com.png}" alt="Slide Image"></div>
                <div class="carousel-item"><img class="w-100 d-block" data-bss-hover-animate="pulse" th:src="@{images/bus/hotel.png}" alt="Slide Image"></div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <div class="carousel-indicators"><button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2"></button></div>
        </div>
        <div class="simple-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bolder" data-aos="slide-up" style="color: var(--swiper-theme-color);"><span style="color: rgb(29, 29, 29);">Online Bus Booking</span></h2>
                <p class="w-lg-50"><span style="color: rgb(13, 13, 13);">Book your bus tickets effortlessly with Easegofly in India. Our platform makes it simple, straightforward, and budget-friendly. Choose your route, review schedules, select seats, and pay securely online with various payment methods for discounts.</span><br><span style="color: rgb(13, 13, 13);">Enjoy hassle-free travel with Easegofly.</span><br><br></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body p-4" data-bss-hover-animate="bounce" style="margin: -7px;padding: 0px;border-radius: 0px;border-color: var(--bs-body-color);box-shadow: 0px 0px 0px;">
                        <h6 class="text-dark text-opacity-75 text-bg-info card-title"><span style="color: rgb(33, 33, 33);">Book Your Bus Tickets on Easegofly</span></h6>
                        <p class="text-capitalize fs-6 fw-normal card-text" style="color: var(--bs-gray-700);border-radius: 0px;">Welcome to Easegofly, your one-stop destination for all your bus travel needs in India! easegofly is here to make your bus travel experience more comfortable, convenient, and hassle-free.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body border-2 p-4" data-bss-hover-animate="bounce">
                        <h4 class="font-monospace fs-6 fw-semibold text-secondary text-opacity-25 text-bg-info card-title"><span style="color: rgb(33, 33, 33);">Why Book Bus Tickets Online Through Easegofly</span></h4>
                        <p class="text-capitalize fs-6 bg-body card-text">Easegofly, India's top flight ticket booking platform, now offers bus ticket bookings, making it your one-stop solution for travel. With options for flights, and buses, along with hotel stays , Easegofly simplifies your travel planning, providing a seamless booking experience.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card" data-aos="fade">
                    <div class="card-body p-4" data-bss-hover-animate="pulse">
                        <h6 class="font-monospace fs-6 fw-semibold text-bg-info card-title"><span style="color: rgb(33, 33, 33);">Easegofly 24/7 Customer Support</span></h6>
                        <p class="text-capitalize card-text">Experience seamless bus booking with easegofly. Our platform offers simple payment options, secure online booking, and round-the-clock customer service. Have questions? Chat with us anytime via our help section. Our dedicated support team ensures a stress-free and enjoyable trip, assisting with all your bus ticketing needs.</p>
                    </div>
                </div>
            </div>
        </div>
        <section class="visible py-5 bg-light">
            <h1 class="text-center text-success" data-aos="slide-up" style="padding-top: 15px;padding-bottom: 15px;color: #1b6ce5!important;">FAQ</h1>
            <div class="container" style="display: flex; justify-content: center;">
                <div class="row">
                    <div>
                        <div id="faqlist" class="accordion accordion-flush">
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class=" accordion-button collapsed" data-aos="slide-up" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-1"><br><strong><span style="color: rgb(29, 29, 29);">Does bus booking online cost me more?</span></strong><br><br></button></h2>
                                <div id="content-accordion-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Online bus booking through Easegofly does not cost you more. In fact, it often saves you money. We offer various discounts and deals exclusive to online bookings. Additionally, you can conveniently compare prices across different bus operators to find the best deals available. With easegofly, you can book your bus tickets at competitive rates without any extra charges.</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class=" accordion-button collapsed" data-aos="slide-up" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-2"><br><strong><span style="color: rgb(29, 29, 29);">How can I get the discounts on the bus booking?</span></strong><br><br></button></h2>
                                <div id="content-accordion-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body">To get a discount on bus booking, please check the available offers. Copy the coupon code and paste it during checkout to avail of the discount.</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class=" accordion-button collapsed" data-aos="slide-up" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-3"><br><strong>Can I book a Government bus ticket on Easegofly?</strong><br><br></button></h2>
                                <div id="content-accordion-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"><br><span style="color: rgb(13, 13, 13);">Easegofly primarily focuses on facilitating bookings for private bus operators. While we may not currently offer bookings for government-operated buses, we provide a wide range of options from reputable private operators across various routes.</span></p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class=" accordion-button collapsed" data-aos="slide-up" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-4"><br><strong><span style="color: rgb(29, 29, 29);">Can I cancel my bus ticket online?</span></strong><br><br></button></h2>
                                <div data-aos="fade" id="content-accordion-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Yes, you can cancel bus tickets online through Easegofly. Most tickets are eligible for online cancellation, but there may be exceptions where cancellation is only possible through our call center. Please note that cancellation fees and periods may vary depending on the bus service. For specific cancellation details, feel free to contact our customer service executives who will assist you further.</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class=" accordion-button collapsed" data-aos="slide-up" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-5"><br><strong><span style="color: rgb(29, 29, 29);">How can I get a refund in case I cancel my ticket?</span></strong><br><br></button></h2>
                                <div id="content-accordion-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"><span style="color: rgb(13, 13, 13);">The refund is provided as per cancellation policy of the operator. The refund can be credited to the source of payment (Example: debit card, credit card, net banking) or Wallet . Wallet credit can be used for bus booking in future (within 6 months of cancellation).</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script th:src="@{js/bus/aos.min.js}"></script>
    <script th:src="@{js/bus/bs-init.js}"></script>
    <script th:src="@{js/bus/Simple-Slider-swiper-bundle.min.js}"></script>
    <script th:src="@{js/bus/Simple-Slider.js}"></script>
</body>
</html>