<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:fragment="bus-fragment">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" th:href="@{css/bus/swiper-icons.css}">
    <link rel="stylesheet" th:href="@{css/bus/aos.min.css}">
    <link rel="stylesheet" th:href="@{css/bus/animate.min.css}">
    <link rel="stylesheet" th:href="@{css/bus/accordion-faq-list.css}">
    <link rel="stylesheet" th:href="@{css/bus/Articles-Cards-images.css}">
    <link rel="stylesheet" th:href="@{css/bus/Navbar-With-Button-icons.css}">
    <link rel="stylesheet" th:href="@{css/bus/Simple-Slider-swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{css/bus/Simple-Slider.css}">
    <link rel="stylesheet" th:href="@{css/bus/untitled.css}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</head>
<style>
	@media (min-width: 768px) {
  .row-stl {
    overflow-y: visible !important;
    height: 100% !important;
  }
	.container .clndr {
		width: 77%;
	}
	.container .text-sized {
		font-size: 25px;
	}
}
.green-btn {
    border-color: green;
    border: 1px solid green;
    padding: 6px;    
    width: 100%;
}
.row-stl {
  overflow-y: scroll;
  height: 377px;
  margin: 0;
}
.clndr {
	width: 100%;
	padding: 10px 0; 
}
.tiles-stl {
	padding: 15px 10px;
    border-bottom: 2px solid rgb(105, 105, 105);
    margin: 4px 0;
    background: whitesmoke;
}
.text-sized {
	font-size: 22px;
}
</style>

<body style="padding-top: 0px;">
 
    <div class="container py-2 py-xl-3">
        <div class="carousel slide" data-bs-ride="false" id="carousel-1" style="width: 100%; height: fit-content;">
            <div class="carousel-inner height-stl" style="margin-left: auto;margin-right: auto;">
                <div class="carousel-item active height-stl" data-bs-interval="2000" style="border-radius: 20px; overflow: hidden;"><img class="w-100 d-block" data-bss-hover-animate="pulse" th:src="@{images/bus/Bus.png}" alt="Slide Image"></div>
                <div class="carousel-item height-stl" data-bs-interval="4000" style="border-radius: 20px; overflow: hidden;"><img class="w-100 d-block" data-bss-hover-animate="pulse" th:src="@{images/bus/Easegofly.com.png}" alt="Slide Image"></div>
                <div class="carousel-item height-stl" data-bs-interval="4000" style="border-radius: 20px; overflow: hidden;"><img class="w-100 d-block" data-bss-hover-animate="pulse" th:src="@{images/bus/hotel.png}" alt="Slide Image"></div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <div class="carousel-indicators"><button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2"></button></div>
        </div>
        <div class="simple-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
    <div class="container py-2 py-xl-3">
        <div style="padding: 10px;border: 2px solid #e3e3e3;border-radius: 8px; height: fit-content;">
            <div style="padding: 0 8px; position: relative">
                <h4 class="text-sized" data-aos="fade-up">Top Searched Destinations</h4>
                <marquee behavior="scroll" direction="right" scrollamount="12" style=" width: 291px; position: absolute; top: 8px;"><span style="border-bottom: 4px solid grey; width: 100%;">&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					
				</span></marquee>
            </div>
            <div class="row row-stl">
                <div class="col-12 col-md-6 col-xl-4 redirectClass" data-aos-delay="50">
                    <div class="shadow-sm tiles-stl" data-bss-hover-animate="pulse">
                        <div class="row" style="margin: 0;">
                            <div class="col-12" style="display: flex;text-align: center;align-items: center;">
                                <p style="margin: 0;font-weight: bold;color: rgb(105,105,105); width: 100%;">Hyderabad - Bangalore</p>
                            </div>
                            <div class="col-12" style="padding: 15px 0 0 0;">
								<div class="row" style="margin: 0;">
									<div class="col-6">
										<input type="text" class="form-control hill1 input_styles" name="deptTime" id="checkInDate" th:placeholder="${#dates.format(today, 'dd MMMM, yy')}" 
										onfocus="(this.type='date')" onblur="(this.type='text')" onclick="calenderViewNew(this)" form="topSearched-1" required>
									</div>
									<div  class="col-6">
										<button class="text-center btn btn-outline-success col-12 green-btn" type="submit" form="topSearched-1">Search Bus</button>
									</div>
								</div>
							</div>
							<form id="topSearched-1" method="post" th:action="@{/bus/saveSearchBus}">
								<input type="hidden" name="busDeparture" value="Hyderabad">
								<input type="hidden" name="busDestination" value="Bangalore">
							</form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 redirectClass" data-aos-delay="50">
                    <div class="shadow-sm tiles-stl" data-bss-hover-animate="pulse">
                        <div class="row" style="margin: 0;">
                            <div class="col-12" style="display: flex;text-align: center;align-items: center;">
                                <p style="margin: 0;font-weight: bold;color: rgb(105,105,105); width: 100%;">Mumbai - Pune</p>
                            </div>
                            <div class="col-12" style="padding: 15px 0 0 0;">
								<div class="row" style="margin: 0;">
									<div class="col-6">
										<input type="text" class="form-control hill1 input_styles" name="deptTime" id="checkInDate" th:placeholder="${#dates.format(today, 'dd MMMM, yy')}" 
										onfocus="(this.type='date')" onblur="(this.type='text')" onclick="calenderViewNew(this)" required>
									</div>
									<div  class="col-6">
										<button class="text-center btn btn-outline-success col-12 green-btn" type="button" >Search Bus</button>
									</div>
								</div>
							</div>
							<form id="topSearched-2" method="post" th:action="@{/bus/saveSearchBus}">
								<input type="hidden" name="busDeparture" value="Hyderabad">
								<input type="hidden" name="busDestination" value="Bangalore">
							</form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 redirectClass" data-aos-delay="50">
                    <div class="shadow-sm tiles-stl" data-bss-hover-animate="pulse">
                        <div class="row" style="margin: 0;">
                            <div class="col-12" style="display: flex;text-align: center;align-items: center;">
                                <p style="margin: 0;font-weight: bold;color: rgb(105,105,105); width: 100%;">Shimla - Delhi</p>
                            </div>
                            <div class="col-12" style="padding: 15px 0 0 0;">
								<div class="row" style="margin: 0;">
									<div class="col-6">
										<input type="text" class="form-control hill1 input_styles" name="deptTime" id="checkInDate" th:placeholder="${#dates.format(today, 'dd MMMM, yy')}" 
										onfocus="(this.type='date')" onblur="(this.type='text')" onclick="calenderViewNew(this)" required>
									</div>
									<div  class="col-6">
										<button class="text-center btn btn-outline-success col-12 green-btn" type="button" >Search Bus</button>
									</div>
								</div>
							</div>
							<form id="topSearched-1" method="post" th:action="@{/bus/saveSearchBus}">
								<input type="hidden" name="busDeparture" value="Hyderabad">
								<input type="hidden" name="busDestination" value="Bangalore">
							</form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 redirectClass" data-aos-delay="50">
                    <div class="shadow-sm tiles-stl" data-bss-hover-animate="pulse">
                        <div class="row" style="margin: 0;">
                            <div class="col-12" style="display: flex;text-align: center;align-items: center;">
                                <p style="margin: 0;font-weight: bold;color: rgb(105,105,105); width: 100%;">Hydrabad - Kurnool</p>
                            </div>
                            <div class="col-12" style="padding: 15px 0 0 0;">
								<div class="row" style="margin: 0;">
									<div class="col-6">
										<input type="text" class="form-control hill1 input_styles" name="deptTime" id="checkInDate" th:placeholder="${#dates.format(today, 'dd MMMM, yy')}" 
										onfocus="(this.type='date')" onblur="(this.type='text')" onclick="calenderViewNew(this)" required>
									</div>
									<div  class="col-6">
										<button class="text-center btn btn-outline-success col-12 green-btn" type="button" >Search Bus</button>
									</div>
								</div>
							</div>
							<form id="topSearched-1" method="post" th:action="@{/bus/saveSearchBus}">
								<input type="hidden" name="busDeparture" value="Hyderabad">
								<input type="hidden" name="busDestination" value="Bangalore">
							</form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 redirectClass" data-aos-delay="50">
                    <div class="shadow-sm tiles-stl" data-bss-hover-animate="pulse">
                        <div class="row" style="margin: 0;">
                            <div class="col-12" style="display: flex;text-align: center;align-items: center;">
                                <p style="margin: 0;font-weight: bold;color: rgb(105,105,105); width: 100%;">Vijayawada - Hydrabad</p>
                            </div>
                            <div class="col-12" style="padding: 15px 0 0 0;">
								<div class="row" style="margin: 0;">
									<div class="col-6">
										<input type="text" class="form-control hill1 input_styles" name="deptTime" id="checkInDate" th:placeholder="${#dates.format(today, 'dd MMMM, yy')}" 
										onfocus="(this.type='date')" onblur="(this.type='text')" onclick="calenderViewNew(this)" required>
									</div>
									<div  class="col-6">
										<button class="text-center btn btn-outline-success col-12 green-btn" type="button" >Search Bus</button>
									</div>
								</div>
							</div>
							<form id="topSearched-1" method="post" th:action="@{/bus/saveSearchBus}">
								<input type="hidden" name="busDeparture" value="Hyderabad">
								<input type="hidden" name="busDestination" value="Bangalore">
							</form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 redirectClass" data-aos-delay="50">
                    <div class="shadow-sm tiles-stl" data-bss-hover-animate="pulse">
                        <div class="row" style="margin: 0;">
                            <div class="col-12" style="display: flex;text-align: center;align-items: center;">
                                <p style="margin: 0;font-weight: bold;color: rgb(105,105,105); width: 100%;">Tirupati - Bangalore</p>
                            </div>
                            <div class="col-12" style="padding: 15px 0 0 0;">
								<div class="row" style="margin: 0;">
									<div class="col-6">
										<input type="text" class="form-control hill1 input_styles" name="deptTime" id="checkInDate" th:placeholder="${#dates.format(today, 'dd MMMM, yy')}" 
										onfocus="(this.type='date')" onblur="(this.type='text')" onclick="calenderViewNew(this)" required>
									</div>
									<div  class="col-6">
										<button class="text-center btn btn-outline-success col-12 green-btn" type="button" >Search Bus</button>
									</div>
								</div>
							</div>
							<form id="topSearched-1" method="post" th:action="@{/bus/saveSearchBus}">
								<input type="hidden" name="busDeparture" value="Hyderabad">
								<input type="hidden" name="busDestination" value="Bangalore">
							</form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 redirectClass" data-aos-delay="50">
                    <div class="shadow-sm tiles-stl" data-bss-hover-animate="pulse">
                        <div class="row" style="margin: 0;">
                            <div class="col-12" style="display: flex;text-align: center;align-items: center;">
                                <p style="margin: 0;font-weight: bold;color: rgb(105,105,105); width: 100%;">Eluru - Visakhapatnam</p>
                            </div>
                            <div class="col-12" style="padding: 15px 0 0 0;">
								<div class="row" style="margin: 0;">
									<div class="col-6">
										<input type="text" class="form-control hill1 input_styles" name="deptTime" id="checkInDate" th:placeholder="${#dates.format(today, 'dd MMMM, yy')}" 
										onfocus="(this.type='date')" onblur="(this.type='text')" onclick="calenderViewNew(this)" required>
									</div>
									<div  class="col-6">
										<button class="text-center btn btn-outline-success col-12 green-btn" type="button" >Search Bus</button>
									</div>
								</div>
							</div>
							<form id="topSearched-1" method="post" th:action="@{/bus/saveSearchBus}">
								<input type="hidden" name="busDeparture" value="Hyderabad">
								<input type="hidden" name="busDestination" value="Bangalore">
							</form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 redirectClass" data-aos-delay="50">
                    <div class="shadow-sm tiles-stl" data-bss-hover-animate="pulse">
                        <div class="row" style="margin: 0;">
                            <div class="col-12" style="display: flex;text-align: center;align-items: center;">
                                <p style="margin: 0;font-weight: bold;color: rgb(105,105,105); width: 100%;">Andhrapardesh - Visakhapatnam</p>
                            </div>
                            <div class="col-12" style="padding: 15px 0 0 0;">
								<div class="row" style="margin: 0;">
									<div class="col-6">
										<input type="text" class="form-control hill1 input_styles" name="deptTime" id="checkInDate" th:placeholder="${#dates.format(today, 'dd MMMM, yy')}" 
										onfocus="(this.type='date')" onblur="(this.type='text')" onclick="calenderViewNew(this)" required>
									</div>
									<div  class="col-6">
										<button class="text-center btn btn-outline-success col-12 green-btn" type="button" >Search Bus</button>
									</div>
								</div>
							</div>
							<form id="topSearched-1" method="post" th:action="@{/bus/saveSearchBus}">
								<input type="hidden" name="busDeparture" value="Hyderabad">
								<input type="hidden" name="busDestination" value="Bangalore">
							</form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 redirectClass" data-aos-delay="50">
                    <div class="shadow-sm tiles-stl" data-bss-hover-animate="pulse">
                        <div class="row" style="margin: 0;">
                            <div class="col-12" style="display: flex;text-align: center;align-items: center;">
                                <p style="margin: 0;font-weight: bold;color: rgb(105,105,105); width: 100%;">Kolkata - Siliguri</p>
                            </div>
                            <div class="col-12" style="padding: 15px 0 0 0;">
								<div class="row" style="margin: 0;">
									<div class="col-6">
										<input type="text" class="form-control hill1 input_styles" name="deptTime" id="checkInDate" th:placeholder="${#dates.format(today, 'dd MMMM, yy')}" 
										onfocus="(this.type='date')" onblur="(this.type='text')" onclick="calenderViewNew(this)" required>
									</div>
									<div  class="col-6">
										<button class="text-center btn btn-outline-success col-12 green-btn" type="button" >Search Bus</button>
									</div>
								</div>
							</div>
							<form id="topSearched-1" method="post" th:action="@{/bus/saveSearchBus}">
								<input type="hidden" name="busDeparture" value="Hyderabad">
								<input type="hidden" name="busDestination" value="Bangalore">
							</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container py-2 py-xl-3">
        <div class="row" style="margin: 0; background: whitesmoke; padding: 8px 0;">
            <div class="col-md-8 col-xl-6">
                <h2 class="fw-bolder" data-aos="slide-up" style="color: var(--swiper-theme-color);"><span style="color: rgb(29, 29, 29);">Online Bus Booking</span></h2>
                <p class="w-lg-50" style="margin: 0;"><span style="color: rgb(13, 13, 13);">Book your bus tickets effortlessly with Easegofly in India. Our platform makes it simple, straightforward, and budget-friendly. Choose your route, review schedules, select seats, and pay securely online with various payment methods for discounts.</span><br><span style="color: rgb(13, 13, 13);">Enjoy hassle-free travel with Easegofly.</span></p>
            </div>
        </div>
	</div>
    
    <div class="container py-2 py-xl-3">
        <section class="visible bg-light" style="padding: 8px 0;">
            <h1 class="text-center text-success" data-aos="slide-up" style="padding-top: 15px;padding-bottom: 15px;color: #1b6ce5!important;">FAQ</h1>
            <div class="container" style="display: flex; justify-content: center;">
                <div class="row">
                    <div>
                        <div id="faqlist" class="accordion accordion-flush">
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class=" accordion-button collapsed" data-aos="slide-up" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-1"><br><strong><span style="color: rgb(29, 29, 29);">Does bus booking online cost me more?</span></strong><br><br></button></h2>
                                <div id="content-accordion-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Online bus booking through Easegofly does not cost you more. In fact, it often saves you money. We offer various discounts and deals exclusive to online bookings. Additionally, you can conveniently compare prices across different bus operators to find the best deals available. With easegofly, you can book your bus tickets at competitive rates without any extra charges.</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class=" accordion-button collapsed" data-aos="slide-up" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-2"><br><strong><span style="color: rgb(29, 29, 29);">How can I get the discounts on the bus booking?</span></strong><br><br></button></h2>
                                <div id="content-accordion-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body">To get a discount on bus booking, please check the available offers. Copy the coupon code and paste it during checkout to avail of the discount.</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class=" accordion-button collapsed" data-aos="slide-up" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-3"><br><strong>Can I book a Government bus ticket on Easegofly?</strong><br><br></button></h2>
                                <div id="content-accordion-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"><br><span style="color: rgb(13, 13, 13);">Easegofly primarily focuses on facilitating bookings for private bus operators. While we may not currently offer bookings for government-operated buses, we provide a wide range of options from reputable private operators across various routes.</span></p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class=" accordion-button collapsed" data-aos="slide-up" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-4"><br><strong><span style="color: rgb(29, 29, 29);">Can I cancel my bus ticket online?</span></strong><br><br></button></h2>
                                <div data-aos="fade" id="content-accordion-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Yes, you can cancel bus tickets online through Easegofly. Most tickets are eligible for online cancellation, but there may be exceptions where cancellation is only possible through our call center. Please note that cancellation fees and periods may vary depending on the bus service. For specific cancellation details, feel free to contact our customer service executives who will assist you further.</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class=" accordion-button collapsed" data-aos="slide-up" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-5"><br><strong><span style="color: rgb(29, 29, 29);">How can I get a refund in case I cancel my ticket?</span></strong><br><br></button></h2>
                                <div id="content-accordion-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"><span style="color: rgb(13, 13, 13);">The refund is provided as per cancellation policy of the operator. The refund can be credited to the source of payment (Example: debit card, credit card, net banking) or Wallet . Wallet credit can be used for bus booking in future (within 6 months of cancellation).</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script th:src="@{js/bus/aos.min.js}"></script>
    <script th:src="@{js/bus/bs-init.js}"></script>
    <script th:src="@{js/bus/Simple-Slider-swiper-bundle.min.js}"></script>
    <script th:src="@{js/bus/Simple-Slider.js}"></script>
</body>

<script>
	function calenderViewNew(input) {
		var today = new Date().toISOString().split('T')[0];
		$(input).attr('min', today);
	};
	
</script>
<script>
	if (window.matchMedia('(min-width: 767px)').matches) {
        $(".redirectClass").attr("data-aos", "fade-up");
    } else {
        $(".redirectClass").removeAttr("data-aos");
    }
	
</script>
</html>