<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
		th:fragment="flight_booking">
		
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" >

    <script>
        $(function () {
            $("#datepicker").datepicker({ 
                    autoclose: true,
                    todayHighlight: true,
                    changeMonth: true,
                    changeYear: true
            }).datepicker('update', new Date());
        });
    </script>
 
    <body>
		
		  <!-- BreadCrumb Starts -->  
	    <section class="breadcrumb-main pb-8 pt-10" th:style="'background-image: url(' + @{/assets/images/bg/bg1.jpg} + ');'">
	        <div class="section-shape section-shape1 top-inherit bottom-0" th:style="'background-image: url(' + @{/assets/images/shape8.png} + ');'"></div>
	        <div class="breadcrumb-outer pb-2">
	            <div class="container">
	                <div class="breadcrumb-content text-center">
	                    <h1 class="mb-3">Flight Booking</h1>
	                    <nav aria-label="breadcrumb" class="d-block">
	                        <ul class="breadcrumb">
	                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
	                            <li class="breadcrumb-item"><a th:href="@{/}">Flight List</a></li>
	                            <li class="breadcrumb-item active" aria-current="page">Flight Booking</li>
	                        </ul>
	                    </nav>
	                </div>
	            </div>
				<div class="mt-2 text-center">
	        		<p class="m-0 text-white">TIME LEFT TO COMPLETE YOUR BOOKING : <b id="timer" style="color: #c4332f;"></b></p>
				</div>
	        </div>
			
			<div class="container mb-4">
				<div class="d-flex justify-content-center">
					<div class="bg-white p-4 radius-8 hide-lg">
		            	<p class="card-text"><span> [[${cityOneName}]] | [[${cityTwoName}]] | [[${search.journeyClass}]] | [[${search.passengerNum}]] Pax | [[${#dates.format(search.date, 'dd MMM, yy')}]] | [[${#dates.format(search.returnDate, 'dd MMM, yy')}]]</span></p>
					</div>
					<div class="bg-white p-4 radius-8 text-center hide-mobile btndeactive">
		            	<p class="card-text"><span> [[${cityOneName}]] | [[${cityTwoName}]] | [[${search.journeyClass}]] </span></p>
		            	<p class="card-text"><span> [[${search.passengerNum}]] Pax | [[${#dates.format(search.date, 'dd MMM, yy')}]] | [[${#dates.format(search.returnDate, 'dd MMM, yy')}]]</span></p>
					</div>
				</div>
			</div>
	        <div class="dot-overlay"></div>
	    </section>
	    <!-- BreadCrumb Ends -->
		
        <div id="booking_page">
            <div class="container">
                <div class="media-hide">
                    <div class="row" style="padding: 20px 0;">
                        <div class="col-md-4">
                            <div class="circles circles_active" id="c1"></div>
                            <div class="progress_div">
                            	<P class="booki_page_p progress_div_active">Traveller Details</P>
							</div>
                        </div>
                        <div class="col-md-4">
                            <div class="circles" id="c2"></div>
                            <div class="progress_div">
                            	<P class="booki_page_p">Review</P>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="circles " id="c3"></div>
                            <div class="progress_div">
                            	<P class="booki_page_p ">Payment</P>
                            </div>
                        </div>
                    </div>
                    <div class="progress_border"></div>
                </div>
                <div id="traveller_details_tab justify_center_div" style="margin-bottom: 15px;">
                    <div class="row">
                    	<div class="col-md-9 col-12">
	                        
	                        <div class="item mb-2 border-all p-3 px-4 rounded shadow">
								<div class="position-relative">
									<div class="onward onwars_responsive"><p style="margin: 0;">Onward</p></div>
								</div>
                            	<div class="row media-hide mb-1" style="padding-top: 18px;">
									<div class="col-12 progress_div" ><h4>Destination Flight</h4></div>
								</div>
	                            <div class="row d-flex align-items-center justify-content-between">
	                                <div class="col-lg-3 col-md-3 col-3">
	                                    <div class="item-inner-image text-start">
	                                        <img  th:id="'brandImg' + ${flightOne.id}" class="radius-8">
	                                        <h5 class="mb-0">[[${flightOne.brand}]]</h5>
	                                        <small>[[${flightOne.airlineRemarks}]]</small>
	                                    </div>
	                                </div>     
	                                <div class="col-lg-2 col-md-2 col-3"> 
	                                    <div class="item-inner">
	                                        <div class="content">
	                                            <h3 class="mb-0">[[${flightOne.depTime}]]</h3>
	                                            <p class="mb-0 text-uppercase">[[${flightOne.cityOne}]]</p>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="col-lg-2 col-md-2 col-3">
	                                    <div class="item-inner flight-time">
	                                    <p class="mb-0"><span th:class="'duration_' + ${flightOne.id}"></span><br><span th:id="'non_stop-' + ${flightOne.id}"></span></p>
	                                    </div>
	                                </div>
	                                <div class="col-lg-2 col-md-2 col-3">
	                                    <div class="item-inner">
	                                        <div class="content">
	                                                <h3 class="mb-0">[[${flightOne.arrTime}]]</h3>
	                                                <p class="mb-0 text-uppercase">[[${flightOne.cityTwo}]]</p>
	                                        </div>
	                                    </div>
	                                </div>   
	                                <div class="col-lg-3 col-md-3 col-6 hide-lg">
	                                    <div class="item-inner text-end">
	                                        <p class="theme fs-4 fw-bold">[[${CURRENCY_SYMBOL}]]<span th:class="'totalPrice-' + ${flightOne.id}"></span></p>
	                                    </div>
	                                </div>
	                                <div class="col-lg-12">
	                                    <div class="accordion accordion-flush border-t mt-1 pt-1" id="accordionflush1">
	                                        <div class="accordion-item overflow-hidden">
	                                            <p class="accordion-header" id="flush-headingOne1">
	                                                <button class="accordion-button collapsed p-0 border-0 rounded-0" type="button" data-bs-toggle="collapse" th:data-bs-target="'#flush-collapseOne' + ${flightOne.id}" aria-expanded="false" th:aria-controls="'flush-collapseOne' + ${flightOne.id}">
	                                                  Flight Details
	                                                </button>
	                                            </p>
	                                            <div th:id="'flush-collapseOne' + ${flightOne.id}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne1" data-bs-parent="#accordionFlushExample">
	                                                <div class="accordion-body p-0">
														<th:block th:if="${flightOne.stopNum} == 0">
	                                                        <div class="row flight-detail-wrap align-items-center border-t pt-1 mt-1" style="">
	                                                            <div class="col-lg-4">
	                                                                <div class="flight-date">
	                                                                    <ul>
	                                                                        <li>[[${flightOne.journeyClass}]]</li>
	                                                                        <li>[[${#dates.format(search.date, 'dd MMMM, yy')}]] - [[${flightOne.depTime}]]</li><br>
	                                                                        <li class="theme" >
																				<span th:id="'duration2_' + ${flightOne.id}"></span>
																			</li>
	                                                                    </ul>
	                                                                </div>
	                                                            </div>
	                                                            <div class="col-lg-8">
	                                                                <div class="flight-detail-right">
	                                                                    <h5>
																			<i class="fa fa-plane"></i> 
		                                                                    <th:block th:each="city : ${cities}">
		                                                                    	<th:block th:if="${city.code} == ${flightOne.cityOne}">
																					[[${city.code}]] - [[${city.name}]], [[${city.cityName}]]
																				</th:block>
																			</th:block>
	                                                                    </h5>
	                                                                    <div class="flight-detail-info d-flex align-items-center p-2 py-3 bg-grey rounded mb-2">
	                                                                        <img th:id="'brandImgFlight1-' + ${flightOne.id}">
	                                                                        <ul>
	                                                                            <li>Operated by [[${flightOne.brand}]]</li><br>
	                                                                            <li>[[${flightOne.journeyClass}]] | Flight [[${flightOne.craftType}]] | Aircraft [[${flightOne.craftType}]]</li>
	                                                                            <li>Adult(s): [[${flightOne.baggage}]]KG luggage free</li>
	                                                                        </ul>
	                                                                    </div>
	                                                                    <h5 class="mb-0">
		                                                                    <th:block th:each="city : ${cities}">
		                                                                    	<th:block th:if="${city.code} == ${flightOne.cityTwo}">
																					[[${city.code}]] - [[${city.name}]], [[${city.cityName}]]
																				</th:block>
																			</th:block>
																		</h5>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                    </th:block>
														<th:block th:if="${flightOne.stopNum} > 0">
	                                                        <div class="row flight-detail-wrap align-items-center border-t pt-1 mt-1" style="">
	                                                            <div class="col-lg-4">
	                                                                <div class="flight-date">
	                                                                    <ul>
	                                                                        <li>[[${flightOne.journeyClass}]]</li><br>
	                                                                        <li>[[${#dates.format(search.date, 'dd MMMM, yy')}]] - [[${flightOne.depTime}]]</li><br>
	                                                                        <li class="theme" >
																				<span th:class="'duration_' + ${flightOne.id}"></span>
																			</li><br><br>
	                                                                    </ul>
	                                                                </div>
	                                                            </div>
	                                                            <div class="col-lg-8">
																	<div class="flight-detail-right">
	                                                                    <h5>
																			<i class="fa fa-plane"></i> 
		                                                                    <th:block th:each="city : ${cities}">
		                                                                    	<th:block th:if="${city.code} == ${flightOne.cityOne}">
																					[[${city.code}]] - [[${city.name}]], [[${city.cityName}]]
																				</th:block>
																			</th:block>
	                                                                    </h5>
	                                                                    <div class="flight-detail-info d-flex align-items-center p-2 py-3 bg-grey rounded mb-2">
	                                                                        <img th:id="'brandImgFlight2-' + ${flightOne.id}">
	                                                                        <ul>
	                                                                            <li>Operated by [[${flightOne.brand}]]</li><br>
	                                                                            <li>[[${flightOne.journeyClass}]] | Flight [[${flightOne.craftType}]] | Aircraft [[${flightOne.craftType}]]</li><br>
		                                                                        <li>Arriving at [[${flightOne.arrTime}]]</li><br>
	                                                                            <li>Adult(s): [[${flightOne.baggage}]]KG luggage free</li>
	                                                                        </ul>
	                                                                    </div>
	                                                            	</div>
	                                                                <th:block th:each="stop : ${flightOne.stops}">
																		<div class="flight-detail-right">
		                                                                    <h5>
																				<i class="fa fa-plane"></i> 
			                                                                    <th:block th:each="city : ${cities}">
			                                                                    	<th:block th:if="${city.code} == ${stop.cityName}">
																						[[${city.code}]] - [[${city.name}]], [[${city.cityName}]]
																					</th:block>
																				</th:block>
		                                                                    </h5>
		                                                                    <div class="flight-detail-info d-flex align-items-center p-2 py-3 bg-grey rounded mb-2">
		                                                                        <img th:id="'brandImgFlight3-' + ${flightOne.id}">
		                                                                        <ul>
		                                                                            <li>Operated by [[${flightOne.brand}]]</li><br>
		                                                                            <li>[[${flightOne.journeyClass}]] | Flight [[${flightOne.craftType}]] | Aircraft [[${flightOne.craftType}]]</li><br>
		                                                                            <li>Arriving at [[${stop.arrTime}]] - Leaving by [[${stop.depTime}]]</li><br>
		                                                                            <li>Adult(s): [[${flightOne.baggage}]]KG luggage free</li>
		                                                                        </ul>
		                                                                    </div>
	                                                                	</div>
																	</th:block>
	                                                            </div>
	                                                        </div>
	                                                    </th:block>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>    
	                            <div class="row d-flex align-items-center justify-content-between">
									
									<div class="w-100 text-center">
										<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
											<path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
										</svg>
										
									</div>
								</div> 
								
								<div class="position-relative">
									<div class="onward onwars_responsive"><p style="margin: 0;">Onward</p></div>
								</div>
                            	<div class="row media-hide mb-1" style="padding-top: 18px;">
									<div class="col-12 progress_div" ><h4>Return Flight</h4></div>
								</div>
	                            <div class="row d-flex align-items-center justify-content-between">
	                                <div class="col-lg-3 col-md-3 col-3">
	                                    <div class="item-inner-image text-start">
	                                        <img  th:id="'brandImg' + ${flightTwo.id}" class="radius-8">
	                                        <h5 class="mb-0">[[${flightTwo.brand}]]</h5>
	                                        <small>[[${flightTwo.airlineRemarks}]]</small>
	                                    </div>
	                                </div>     
	                                <div class="col-lg-2 col-md-2 col-3"> 
	                                    <div class="item-inner">
	                                        <div class="content">
	                                            <h3 class="mb-0">[[${flightTwo.depTime}]]</h3>
	                                            <p class="mb-0 text-uppercase">[[${flightTwo.cityOne}]]</p>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="col-lg-2 col-md-2 col-3">
	                                    <div class="item-inner flight-time">
	                                    <p class="mb-0"><span th:class="'duration_' + ${flightTwo.id}"></span><br><span th:id="'non_stop-' + ${flightTwo.id}"></span></p>
	                                    </div>
	                                </div>
	                                <div class="col-lg-2 col-md-2 col-3">
	                                    <div class="item-inner">
	                                        <div class="content">
	                                                <h3 class="mb-0">[[${flightTwo.arrTime}]]</h3>
	                                                <p class="mb-0 text-uppercase">[[${flightTwo.cityTwo}]]</p>
	                                        </div>
	                                    </div>
	                                </div>   
	                                <div class="col-lg-3 col-md-3 col-6 hide-lg">
	                                    <div class="item-inner text-end">
	                                        <p class="theme fs-4 fw-bold">[[${CURRENCY_SYMBOL}]]<span th:class="'totalPrice-' + ${flightTwo.id}"></span></p>
	                                    </div>
	                                </div>
	                                <div class="col-lg-12">
	                                    <div class="accordion accordion-flush border-t mt-1 pt-1" id="accordionflush1">
	                                        <div class="accordion-item overflow-hidden">
	                                            <p class="accordion-header" id="flush-headingOne1">
	                                                <button class="accordion-button collapsed p-0 border-0 rounded-0" type="button" data-bs-toggle="collapse" th:data-bs-target="'#flush-collapseOne' + ${flightTwo.id}" aria-expanded="false" th:aria-controls="'flush-collapseOne' + ${flightTwo.id}">
	                                                  Flight Details
	                                                </button>
	                                            </p>
	                                            <div th:id="'flush-collapseOne' + ${flightTwo.id}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne1" data-bs-parent="#accordionFlushExample">
	                                                <div class="accordion-body p-0">
														<th:block th:if="${flightTwo.stopNum} == 0">
	                                                        <div class="row flight-detail-wrap align-items-center border-t pt-1 mt-1" style="">
	                                                            <div class="col-lg-4">
	                                                                <div class="flight-date">
	                                                                    <ul>
	                                                                        <li>[[${flightTwo.journeyClass}]]</li>
	                                                                        <li>[[${#dates.format(search.date, 'dd MMMM, yy')}]] - [[${flightTwo.depTime}]]</li><br>
	                                                                        <li class="theme" >
																				<span th:id="'duration2_' + ${flightTwo.id}"></span>
																			</li>
	                                                                    </ul>
	                                                                </div>
	                                                            </div>
	                                                            <div class="col-lg-8">
	                                                                <div class="flight-detail-right">
	                                                                    <h5>
																			<i class="fa fa-plane"></i> 
		                                                                    <th:block th:each="city : ${cities}">
		                                                                    	<th:block th:if="${city.code} == ${flightTwo.cityOne}">
																					[[${city.code}]] - [[${city.name}]], [[${city.cityName}]]
																				</th:block>
																			</th:block>
	                                                                    </h5>
	                                                                    <div class="flight-detail-info d-flex align-items-center p-2 py-3 bg-grey rounded mb-2">
	                                                                        <img th:id="'brandImgFlight1-' + ${flightTwo.id}">
	                                                                        <ul>
	                                                                            <li>Operated by [[${flightTwo.brand}]]</li><br>
	                                                                            <li>[[${flightTwo.journeyClass}]] | Flight [[${flightTwo.craftType}]] | Aircraft [[${flightTwo.craftType}]]</li>
	                                                                            <li>Adult(s): [[${flightTwo.baggage}]]KG luggage free</li>
	                                                                        </ul>
	                                                                    </div>
	                                                                    <h5 class="mb-0">
		                                                                    <th:block th:each="city : ${cities}">
		                                                                    	<th:block th:if="${city.code} == ${flightTwo.cityTwo}">
																					[[${city.code}]] - [[${city.name}]], [[${city.cityName}]]
																				</th:block>
																			</th:block>
																		</h5>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                    </th:block>
														<th:block th:if="${flightOne.stopNum} > 0">
	                                                        <div class="row flight-detail-wrap align-items-center border-t pt-1 mt-1" style="">
	                                                            <div class="col-lg-4">
	                                                                <div class="flight-date">
	                                                                    <ul>
	                                                                        <li>[[${flightTwo.journeyClass}]]</li><br>
	                                                                        <li>[[${#dates.format(search.date, 'dd MMMM, yy')}]] - [[${flightTwo.depTime}]]</li><br>
	                                                                        <li class="theme" >
																				<span th:class="'duration_' + ${flightTwo.id}"></span>
																			</li><br><br>
	                                                                    </ul>
	                                                                </div>
	                                                            </div>
	                                                            <div class="col-lg-8">
																	<div class="flight-detail-right">
	                                                                    <h5>
																			<i class="fa fa-plane"></i> 
		                                                                    <th:block th:each="city : ${cities}">
		                                                                    	<th:block th:if="${city.code} == ${flightTwo.cityOne}">
																					[[${city.code}]] - [[${city.name}]], [[${city.cityName}]]
																				</th:block>
																			</th:block>
	                                                                    </h5>
	                                                                    <div class="flight-detail-info d-flex align-items-center p-2 py-3 bg-grey rounded mb-2">
	                                                                        <img th:id="'brandImgFlight2-' + ${flightTwo.id}">
	                                                                        <ul>
	                                                                            <li>Operated by [[${flightTwo.brand}]]</li><br>
	                                                                            <li>[[${flightTwo.journeyClass}]] | Flight [[${flightTwo.craftType}]] | Aircraft [[${flightTwo.craftType}]]</li><br>
		                                                                        <li>Arriving at [[${flightTwo.arrTime}]]</li><br>
	                                                                            <li>Adult(s): [[${flightTwo.baggage}]]KG luggage free</li>
	                                                                        </ul>
	                                                                    </div>
	                                                            	</div>
	                                                                <th:block th:each="stop : ${flightOne.stops}">
																		<div class="flight-detail-right">
		                                                                    <h5>
																				<i class="fa fa-plane"></i> 
			                                                                    <th:block th:each="city : ${cities}">
			                                                                    	<th:block th:if="${city.code} == ${stop.cityName}">
																						[[${city.code}]] - [[${city.name}]], [[${city.cityName}]]
																					</th:block>
																				</th:block>
		                                                                    </h5>
		                                                                    <div class="flight-detail-info d-flex align-items-center p-2 py-3 bg-grey rounded mb-2">
		                                                                        <img th:id="'brandImgFlight3-' + ${flightTwo.id}">
		                                                                        <ul>
		                                                                            <li>Operated by [[${flightTwo.brand}]]</li><br>
		                                                                            <li>[[${flightTwo.journeyClass}]] | Flight [[${flightTwo.craftType}]] | Aircraft [[${flightTwo.craftType}]]</li><br>
		                                                                            <li>Arriving at [[${stop.arrTime}]] - Leaving by [[${stop.depTime}]]</li><br>
		                                                                            <li>Adult(s): [[${flightTwo.baggage}]]KG luggage free</li>
		                                                                        </ul>
		                                                                    </div>
	                                                                	</div>
																	</th:block>
	                                                            </div>
	                                                        </div>
	                                                    </th:block>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>    
	                        </div>
	                        <script>
								
					          	if ([[${flightOne.stopNum}]] == 0) {
					          		$("#non_stop-" + [[${flightOne.id}]]).text("Non-Stop");
					          	} else {
					          		$("#non_stop-" + [[${flightOne.id}]]).text("Stop " + [[${flightOne.stopNum}]]);
					          	}
				          		//**************************//
					          	
					          	var timeDuration = [[${flightOne.duration}]];
					          	var timeInHour = Math.floor(timeDuration / 60);
					          	var timeRemaining = timeDuration - (timeInHour * 60);
					          	
					          	$(".duration_" + [[${flightOne.id}]]).text(timeInHour + "H " + timeRemaining + "M");
					          	
				          		//**************************//
			          		
					          	var totalAdultPrice = ([[${flightOne.priceADT}]] + [[${flightOne.markupADT}]]) * ([[${search.adultNum}]] + [[${search.childNum}]]);
				          		var totalInfantPrice = ([[${flightOne.priceINF}]] + [[${flightOne.markupINF}]]) * [[${search.infantNum}]];
				          		
				          		var totalPrice = totalAdultPrice + totalInfantPrice;
				          		$(".totalPrice-" + [[${flightOne.id}]]).text(totalPrice);
				          		
				          		//**************************//
				          		
				          		checkBrandImageData('#brandImg[[${flightOne.id}]]', '60px', '160px', '0');
				          		checkBrandImageData('#brandImgFlight1-[[${flightOne.id}]]', '80px', '140px', '20px');
				          		checkBrandImageData('#brandImgFlight2-[[${flightOne.id}]]', '80px', '140px', '20px');
				          		checkBrandImageData('#brandImgFlight3-[[${flightOne.id}]]', '80px', '140px', '20px');
				          		 
								function checkBrandImageData(id, ht, wd, ps) {
									var url = "[[@{/find_brand_}]]" + '[[${flightOne.brand}]]';
									  
							  		$.get(url, function(response) {
										$(id).attr("src", response);
										$(id).attr("alt", '[[${flightOne.brand}]]');
										$(id).css("height", ht);
										$(id).css("width", wd);
										$(id).css("padding-right", ps);
									}).fail(function(){
										alert("Could not connect to the server.");
									});
								}
							</script>
							
	                        <script>
								
					          	if ([[${flightTwo.stopNum}]] == 0) {
					          		$("#non_stop-" + [[${flightTwo.id}]]).text("Non-Stop");
					          	} else {
					          		$("#non_stop-" + [[${flightTwo.id}]]).text("Stop " + [[${flightTwo.stopNum}]]);
					          	}
				          		//**************************//
					          	
					          	var timeDuration = [[${flightTwo.duration}]];
					          	var timeInHour = Math.floor(timeDuration / 60);
					          	var timeRemaining = timeDuration - (timeInHour * 60);
					          	
					          	$(".duration_" + [[${flightTwo.id}]]).text(timeInHour + "H " + timeRemaining + "M");
					          	
				          		//**************************//
			          		
					          	var totalAdultPrice = ([[${flightTwo.priceADT}]] + [[${flightTwo.markupADT}]]) * ([[${search.adultNum}]] + [[${search.childNum}]]);
				          		var totalInfantPrice = ([[${flightTwo.priceINF}]] + [[${flightTwo.markupINF}]]) * [[${search.infantNum}]];
				          		
				          		var totalPrice = totalAdultPrice + totalInfantPrice;
				          		$(".totalPrice-" + [[${flightTwo.id}]]).text(totalPrice);
				          		
				          		//**************************//
				          		
				          		checkBrandImageData('#brandImg[[${flightTwo.id}]]', '60px', '160px', '0');
				          		checkBrandImageData('#brandImgFlight1-[[${flightTwo.id}]]', '80px', '140px', '20px');
				          		checkBrandImageData('#brandImgFlight2-[[${flightTwo.id}]]', '80px', '140px', '20px');
				          		checkBrandImageData('#brandImgFlight3-[[${flightTwo.id}]]', '80px', '140px', '20px');
				          		 
								function checkBrandImageData(id, ht, wd, ps) {
									var url = "[[@{/find_brand_}]]" + '[[${flightTwo.brand}]]';
									  
							  		$.get(url, function(response) {
										$(id).attr("src", response);
										$(id).attr("alt", '[[${flightTwo.brand}]]');
										$(id).css("height", ht);
										$(id).css("width", wd);
										$(id).css("padding-right", ps);
									}).fail(function(){
										alert("Could not connect to the server.");
									});
								}
							</script>
							
							
							
	                        <div class="item mb-2 border-all p-3 px-4 rounded shadow">
	                            <div class="customer-information">
	                                <h3 class="border-b pb-2 mb-2">Traveller Information</h3>
	                                
                    				<form th:action="@{/traveller_details_return}" method="post" id="travelar-info">
          								<input type="hidden" name="timeRemaining" id="timeRemaining">
		                                <input type="hidden" name="search_id" id="search_id" th:value="${search.id}">
										<input type="hidden" name="flightOne_id" id="flightOne_id" th:value="${flightOne.id}">
										<input type="hidden" name="itemOne_id" id="itemOne_id" th:value="${itemOne.id}">
										<input type="hidden" name="flightTwo_id" id="flightTwo_id" th:value="${flightTwo.id}">
										<input type="hidden" name="itemTwo_id" id="itemTwo_id" th:value="${itemTwo.id}">
										<th:block th:each="traveler : ${travelers}">
			                            	<div style="padding-top: 20px;">
												<input type="hidden" th:id="'existing_traveller_id' + ${flightOne.id}" th:value="${traveler.id}">
		                                    	<div class="row" style="padding: 0 7px;">
									    			<div class="col-md-2 col-12" style="padding: 0 0 0 31px; font-size: 14px;">
											            <div class="form-floating" >
									                        <select class="form-select" aria-label="Floating label select example" disabled>
									                        	<th:block th:if="${traveler.paxType}== '1'">
									                            	<option th:value="${traveler.paxType}">Adult</option>
									                            </th:block>
									                            <th:block th:if="${traveler.paxType} == '2'">
									                            	<option th:value="${traveler.paxType}">Child</option>
									                            </th:block>
									                            <th:block th:if="${traveler.paxType} == '3'">
									                            	<option th:value="${traveler.paxType}">Infant</option>
									                            </th:block>
									                        </select>
									                        <label for="floatingSelect">Type</label>
									                    </div>
									                </div>
									                <div class="col-md-2 col-12" style="margin-bottom: 14px;">
									                    <div class="form-floating" >
									                        <select class="form-select" aria-label="Floating label select example" disabled>
									                            <option selected >[[${traveler.salutation}]]</option>
									                        </select>
									                        <label for="floatingSelect">Title</label>
									                    </div>
									                </div>
									                <div class="col-md-3 col-12">
									                    <div class="form-floating mb-3">
									                        <input type="text" class="form-control"  th:value="${traveler.firstName}" disabled>
									                        <label for="floatingInput">First Name</label>
									                    </div>
									                </div>
									                <div class="col-md-3 col-12">
									                    <div class="form-floating mb-3">
									                        <input type="text" class="form-control" id="lastName"  th:value="${traveler.lastName}" disabled>
									                        <label for="floatingInput">Last Name</label>
									                    </div>
									                </div>
									                <div class="col-md-2 col-12">
									                    <div class="form-floating mb-4 d-flex">
									                        <input 
									                                type="date"
									                                class="datepicker form-control border-2"
									                                id="datepick"
									                                th:value="${traveler.dob}" disabled
									                                >
									                        <label for="datepick">Date of Birth</label>
									                    </div>
									                </div>
									                </div>
		                                    </div>
			                            </th:block>
	                                
	                                    <div id="appendTraveler" style="padding: 20px 10px 0;"></div>
	                                    <script type="text/javascript">
		                                    var travelerId = [[${#lists.size(list)}]];
	
		                                    var travelerIdAdult = [[${#lists.size(adultList)}]];
		                                    var travelerIdChild = [[${#lists.size(childList)}]];
		                                    var travelerIdInfant = [[${#lists.size(infantList)}]];
		                                    
		                                 	$(document).ready(function() {
		                                 		listTraveler(travelerIdAdult, "Adult");
		                                 		listTraveler(travelerIdChild, "Child");
		                                 		listTraveler(travelerIdInfant, "Infant");
		                                 	});
		                                 	
		                                 	function listTraveler(traveler, type){
												 val = 0;
												 
												 for (let i = 0; i < traveler; i++) {
													
														 if(type == "Adult") {
															 val = 1;
														 } else if(type == "Child") {
															 val = 2;
														 } else if(type == "Infant") {
															 val = 3;
														 }
		                                 			
		                                 			htmlCode = `
			                                    		<div class="row" style="padding: 0 7px;">
										    			<div class="col-md-2 col-12 traveler_type_form" style="padding: 0 0 0 31px; font-size: 14px;">
										    				<div class="form-floating">
															<input type="hidden" name="paxType" value="` + val + `" id="paxType` + val + `-` + i + `">
										                    <div class="form-floating mb-3">
										                        <b style="font-size: 24px; color: green;">` + type + `</b>
										                    </div>
										                	</div>
										                </div>
										                <div class="col-md-2 col-12">
										                    <div class="form-floating">
										                        <select class="form-select" style="margin-bottom: 16px;" id="salutation` + val + `-` + i + `" name="salutation" aria-label="Floating label select example" required>
										                        </select>
										                        <label for="salutation">Title</label>
										                    </div>
										                </div>
										                <div class="col-md-3 col-12">
										                    <div class="form-floating mb-3">
										                        <input type="text" class="form-control" name="firstName" required>
										                        <label for="floatingInput">First Name</label>
										                    </div>
										                </div>
										                <div class="col-md-3 col-12">
										                    <div class="form-floating mb-3">
										                        <input type="text" class="form-control" id="lastName" name="lastName" required>
										                        <label for="floatingInput">Last Name</label>
										                    </div>
										                </div>
										                <div class="col-md-2 col-12">
										                    <div id="identify` + val + `-` + i + `" class="form-floating mb-4 d-flex">
										                        <input 
										                                type="date"
										                                class="datepicker form-control border-2"
										                                id="datepicker` + val + `-` + i + `"
										                                name="dob" 
										                                required>
										                        <label for="datepicker" required>DOB</label>
										                    </div>
										                </div>
										                </div>
			                                    	`;
			                                    	
			                                    	valTraveler = $("#existing_traveller_id" + [[${flightOne.id}]]).val();
			                                    	if(valTraveler == null){
				                                    	$("#appendTraveler").append(htmlCode);
				                                    	
			                                    	}
			                                    	
			                                    	
		                                 			if(val == "1") {
		                                 				$("#identify" + val + "-" + i).children().attr("id", "datepickerAdult" + val + "-" + i );
			                                 			var dobidadt = $("#datepickerAdult" + val + "-" + i );
			                                 			var today = new Date();
					                                    var dd = today.getDate();
					                                    var mm = today.getMonth() + 1; //January is 0!
					                                    var yyyy = today.getFullYear() - 18;
					                                     if(dd<10){
					                                            dd='0'+dd
					                                        } 
					                                        if(mm<10){
					                                            mm='0'+mm
					                                        } 
				
					                                    today = yyyy+'-'+mm+'-'+dd;
					                                    dobidadt.attr("max", today);
					                                    dobidadt.attr("min", "");
					                                    
					                                  	//setting salutation according to passenger type.
						                                  var salutation = $("#salutation" + val + "-" + i);
						                                  htmlSal = `
									                          <option selected value="Mr">Mr</option>
									                          <option value="Mrs">Mrs</option>
									                          <option value="Miss">Miss</option>
						                                  `;
						                                  salutation.html(htmlSal);
						                                  
		                                 			} else if(val == "2") {
			                                 				$("#identify" + val + "-" + i).children().attr("id", "datepickerChild" + val + "-" + i );
				                                 			var dobidchd = $("#datepickerChild" + val + "-" + i );
				                                 			//setting date for Child passenger
				                                 			var todayNow = new Date();
						                                    var dd2 = todayNow.getDate();
						                                    var mm2 = todayNow.getMonth() + 1; 
						                                    var yyyy2 = todayNow.getFullYear() - 5;
						                                    if(dd2<10){
					                                            dd2='0'+dd2
					                                        } 
					                                        if(mm2<10){
					                                            mm2='0'+mm2
					                                        }
						                                    todayNow = yyyy2+'-'+mm2+'-'+dd2;
						                                    dobidchd.attr("max", todayNow);
						                                    
						                                    var today = new Date();
						                                    var dd = today.getDate();
						                                    var mm = today.getMonth() + 1; //January is 0!
						                                    var yyyy = today.getFullYear() - 12;
						                                     if(dd<10){
						                                            dd='0'+dd
						                                        } 
						                                        if(mm<10){
						                                            mm='0'+mm
						                                        } 
					
						                                    today = yyyy+'-'+mm+'-'+dd;
						                                    dobidchd.attr("min", today);
						                                    
						                                  //setting salutation according to passenger type.
						                                  var salutation = $("#salutation" + val + "-" + i);
						                                  htmlSal = `
									                          <option selected value="Mstr">Mstr</option>
									                          <option value="Miss">Miss</option>
						                                  `;
						                                  salutation.html(htmlSal);
			                                 			} else if(val == "3") {
			                                 				$("#identify" + val + "-" + i).children().attr("id", "datepickerInfant" + val + "-" + i );
				                                 			var dobidinf = $("#datepickerInfant" + val + "-" + i );
				                                 			//setting date for Infant passenger
				                                 			var todayNow = new Date();
						                                    var dd2 = todayNow.getDate();
						                                    var mm2 = todayNow.getMonth() + 1; 
						                                    var yyyy2 = todayNow.getFullYear();
						                                    if(dd2<10){
					                                            dd2='0'+dd2
					                                        } 
					                                        if(mm2<10){
					                                            mm2='0'+mm2
					                                        }
						                                    todayNow = yyyy2+'-'+mm2+'-'+dd2;
						                                    dobidinf.attr("max", todayNow);
						                                    
						                                    var today = new Date();
						                                    var dd = today.getDate();
						                                    var mm = today.getMonth() + 1; //January is 0!
						                                    var yyyy = today.getFullYear() - 5;
						                                     if(dd<10){
						                                            dd='0'+dd
						                                        } 
						                                        if(mm<10){
						                                            mm='0'+mm
						                                        } 
					
						                                    today = yyyy+'-'+mm+'-'+dd;
						                                    dobidinf.attr("min", today);
						                                    
						                                  //setting salutation according to passenger type.
							                                  var salutation = $("#salutation" + val + "-" + i);
							                                  htmlSal = `
										                          <option selected value="Mstr">Mstr</option>
										                          <option value="Miss">Miss</option>
							                                  `;
							                                  salutation.html(htmlSal);
							                                  
			                                 			}
			                                 		
		                                 		} 
											};
	                                    
	                                    </script>
                    				</form>
	                                
	                            </div>
							</div>
							
	                        <div class="item mb-2 border-all p-3 px-4 rounded shadow">
	                            <div class="customer-information">
	                                <h3 class="border-b pb-2 mb-2">Contact Information</h3>
	                                
                                    <div class="row" style=" margin: 16px 10px;">
                                        <div class="col-md-4 col-12">
                                        	<small class="mb-2">Email will be sent to this email</small>
                                            <div class="form-floating mb-3">
                                                <input type="email" class="form-control" id="floatingInput" th:value="${itemOne.email}" name="email"  form="travelar-info">
                                                <label for="floatingInput">Email ID :</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                        	<small class="mb-2">SMS will be sent to this number</small>
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control" id="phone_num" name="phoneNum" th:field="${itemOne.phoneNum}" maxlength="12"  form="travelar-info">
                                                <label for="floatingInput">Phone No :</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                    </div>
	                            </div>
	                        </div>
	                        
	                        
	                        <div class="item mb-2 border-all p-3 px-4 rounded shadow">
	                            <div class="customer-information d-flex justify-content-between">
	                                <h3 class="border-b pb-2 mb-2">Farerule Details Departure</h3>
	                                
                            		<button class="accordion-button buttn_stly collapsed" type="button" aria-expanded="false" style="width: fit-content;" aria-controls="flush-collapseTwo" data-bs-target="#flush-collapseTwo" data-bs-toggle="collapse" id="button_collapse">Show&nbsp;&nbsp;</button>
	                            </div>
	                            
	                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
	                                <div class="accordion-body radius-8" style="background: #efefef; color: #858385; padding: 15px;">
	                                	<p th:utext="${jsonObjFareruleOne}"></p>
	                                </div>
	                            </div>
	                        </div>
	                        
	                        <div class="item mb-2 border-all p-3 px-4 rounded shadow">
	                            <div class="customer-information d-flex justify-content-between">
	                                <h3 class="border-b pb-2 mb-2">Farerule Details Return</h3>
	                                
                            		<button class="accordion-button buttn_stly collapsed" type="button" style="width: fit-content;" aria-expanded="false" aria-controls="flush-collapseThree" data-bs-target="#flush-collapseThree" data-bs-toggle="collapse" id="button_collapseThree">Show&nbsp;&nbsp;</button>
	                            </div>
	                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
	                                <div class="accordion-body radius-8" style="background: #efefef; color: #858385; padding: 15px;">
	                                	<p th:utext="${jsonObjFareruleTwo}"></p>
	                                </div>
	                            </div>
	                        </div>
	                        
                        </div>
                        <div class="col-md-3 col-12">
                        	<div th:replace="flight/booking_return/bill_page_return :: bill_section('tag')"></div>
                        </div>
                        <div class="col-md-9 col-12 d-flex justify-content-between">
                          	<a th:href="@{'/flight_search_' + ${search.id}}" class="col-md-2 col-4 booking_footer_btn nir-btn p-3 px-4" id="footer_home">Home</a>
                            <input type="submit" class="col-md-2 col-4 booking_footer_btn nir-btn p-3 px-4" id="footer_next" value="Next" form="travelar-info">
                        </div>
                          
                    </div>
                </div>
                
                
            </div>
        </div>
     
        <div class="media_status" style="height: 50px;"></div>
    </body>
    <script type="text/javascript">
		
		$(document).ready(function() {
			checkBrand($("#brandImage" + [[${flightOne.id}]]));
			checkBrand($("#brandImageTwo" + [[${flightTwo.id}]]));
		});

		function checkBrand(brandImg) {
			brandName = "[[${flightOne.brand}]]";
			url = "[[@{/find_brand_}]]" + brandName;
			
			$.get(url, function(response) {
				htmlImg = `
					<img src="[[@{` + response + `}]]" width="40" height="45" style="border: 1px solid #E9ECEF; border-radius: 5px;">
				`;
				brandImg.append(htmlImg);
			}).fail(function(){
				alert("Could not connect to the server.");
			});
			
			return false;
		};
	</script>
 
    <script>
        $("#button_collapse").click(function(){
            $(this).toggleClass("buttn_stly_eff");
        })
    </script>
    <script>
        $("#footer_home").click(function(){
            window.location.replace("https://fiction-world.com/travels/");
        })

        $("#c1").addClass("circles_active");
     
    </script>
    <link th:href="@{css/custom.css}" rel="stylesheet">
<script>
   moduleURL = '[[@{/}]]';
   timeInSec = parseInt("[[${timeRemainingPro}]]");
</script>

<script type="text/javascript" th:src="@{/js/timer.js}"></script>
</html>