<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:fragment="account_fragment(remove)" th:remove="${remove}">
<head>
<style type="text/css">
	.class_hide {
		display: none !important;
	}
	.class_center {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
	}
</style>
</head>
<body>

<div id="class_hide" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
	<th:block th:each="customer : ${customer}">
	<div class="row">
		<div class="col-md-4">
			<img class="img-thumbnail img-fluid" id="thumbnail" th:src="@{${customer.photosImagePath}}" alt="Photo Preview" />
		</div>
		<div class="col-md-8 class_center">
			<div class="row">
				<div class="col-md-9">
					<p style="margin-top: 10px;">Name: <b>[[${customer.fullName}]]</b></p>
					<p>Email: <b>[[${customer.email}]]</b></p>
					<p>Phone: <b>[[${customer.phone}]]</b></p>
					<p>Address: <b>[[${customer.addressLine1}]] [[${customer.addressLine2}]]</b></p>
					<p>Gender: <b>[[${customer.gender}]]</b> &nbsp;&nbsp;&nbsp; Country: <b>[[${customer.country.name}]]</b></p>
					<p>City: <b>[[${customer.city}]]</b> &nbsp;&nbsp;&nbsp; State: <b>[[${customer.state}]] - [[${customer.postalCode}]]</b></p>
				</div>
				<div class="col-md-3 class_center">
					<a class="specialButton" id="profile_update">Update</a>
				</div>
			</div>
		</div>
	</div>
	</th:block>
	
	<form th:action="@{/request/save}" th:object="${request}" method="post">
		<div class="mobile_account_view" style="padding: 15px 0; display: flex; justify-content: center; flex-direction: column; align-items: center;">
			<input type="hidden" th:field="*{id}">
			<h4 style="margin-left: 12px;">Submit your query below</h4>
			<div class="row">
				<div class="col-12" style="margin-bottom: 10px;">
					<input class="form-control" th:field="*{subject}" type="text" placeholder="Subject" required>
				</div>
				<div class="col-12" style="margin-bottom: 10px;">
					<textarea class="form-control" name="conversation" rows="8" cols="" placeholder="Ask your question here..."></textarea>
				</div>
				<div class="col-12" style="margin-bottom: 10px;">
					<input class="form-control specialButton" type="submit" value="Submit" style=" width: 100%; height: 37px;">
				</div>
			</div>
		</div>
	</form>
</div>

<form th:action="@{/account/update}" th:object="${customer}" method="post" enctype="multipart/form-data" id="form_hide">
	<div class="account_update class_center" style="display: none; ">
		<div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
			<input type="hidden" th:field="*{id}">
			<input type="hidden" id="custometId" th:value="${customer.id}">
			<div class="row" style="width: 100%;">
				<div class="col-md-4">
					<input type="hidden" th:field="*{photos}">
					<img class="img-thumbnail img-fluid" id="thumbnail1" th:src="@{${customer.photosImagePath}}" alt="Photo Preview" />
					<div style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
						<label for="fileImage">Select: </label>
						<input type="file" name="image" id="fileImage" accept="image/png, image/jpeg" class="mb-2" style="margin-top: 4px; margin-left: 5px;" onchange="showImageThumbnail(this, '#thumbnail')"/>
					</div>
				</div>
				<div class="col-md-8 class_center">
					<div class="row">
						<div class="col-6 margin-bottom-update-account">
							<div class="form-floating">
								<input type="text" class="form-control" th:field="*{firstName}" minlength="3" maxlength="128">
							  	<label for="firstName">First Name</label>
							</div>
						</div>
						<div class="col-6 margin-bottom-update-account">
							<div class="form-floating">
								<input type="text" class="form-control" th:field="*{lastName}" minlength="3" maxlength="128">
							  	<label for="lastName">Last Name</label>
							</div>
						</div>
						<div class="col-6 margin-bottom-update-account">
							<div class="form-floating">
								<input type="text" class="form-control" th:field="*{phone}" minlength="3" maxlength="128">
							  	<label for="phone">Phone</label>
							</div>
						</div>
						<div class="col-6 margin-bottom-update-account">
							<div class="form-floating">
							  <select class="form-select" th:field="*{gender}" aria-label="Floating label select example">
							    <option value="Male" selected>Male</option>
							    <option value="Female">Female</option>
							    <option value="Trans">Trans</option>
							  </select>
							  <label for="gender">Gender</label>
							</div>
						</div>
						<div class="col-6 margin-bottom-update-account">
							<div class="form-floating">
								<input class="input form-control" type="text" th:field="*{city}" placeholder="City" />
							  	<label for="city">City</label>
							</div>
						</div>
						<div class="col-6 margin-bottom-update-account">
							<div class="form-floating">
								<input class="input form-control" type="text" th:field="*{state}" placeholder="State" />
							  	<label for="state">State</label>
							</div>
						</div>
						<div class="col-12 margin-bottom-update-account">
							<div class="form-floating">
								<input class="input form-control" type="text" th:field="*{addressLine1}" placeholder="Address Line 1"/>
							  	<label for="addressLine1">Address Line 1 </label>
							</div>
						</div>
						<div class="col-12 margin-bottom-update-account">
							<div class="form-floating">
								<input class="input form-control" type="text" th:field="*{addressLine2}" placeholder="Address Line 2" />
							  	<label for="addressLine2">Address Line 2</label>
							</div>
						</div>
						<div class="col-6 margin-bottom-update-account">
							<div class="form-floating">
								<input class="input form-control" type="text" th:field="*{postalCode}" placeholder="PIN" />
							  	<label for="postalCode">PIN</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12" style="margin: 15px 0 5px 0">
					<input class="specialButton" type="submit" value="Update Profile" style="float: right;"/>
					<input class="specialButton_danger" id="profile_cancel" value="Cancel" style="float: left; width: 79px;"/>
				</div>
			</div>
		</div>
		
	</div>
</form>
	
	<div class="modal fade text-center" id="modalDialogue">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle"></h4>
        			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<span id="modalBody" style="color: red;"></span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>	
	</div>
	
</body>
<script type="text/javascript">
	$(document).ready(function(){
		$("#profile_update").click(function(){
			$("#class_hide").addClass("class_hide");
			$(".account_update").css("display", "block");
			$("#form_hide").removeClass("class_hide");
		});
		$("#profile_cancel").click(function(){
			$("#form_hide").addClass("class_hide");
			$(".account_update").css("display", "none");
			$("#class_hide").removeClass("class_hide");
		});
	});
</script>
<script type="text/javascript">

	moduleURL = "[[@{/}]]";
	
	function checkPasswordMatch(confirmPassword) {
		if(confirmPassword.value != $("#password").val()) {
			confirmPassword.setCustomValidity("Passwords do not match!");
		} else {
			confirmPassword.setCustomValidity("");
		}
	}
	
</script>

<script type="text/javascript">

var reader = new FileReader();
reader.onload = function(r_event) {
  document.getElementById('thumbnail1').setAttribute('src', r_event.target.result);
}

document.getElementsByName('image')[0].addEventListener('change', function(event) {
    reader.readAsDataURL(this.files[0]);
});

</script>

<script>
	moduleURL = "[[@{/}]]";
	imageSize = 1024;
	
	sizeScale = "kb";
	
	checkImageSize("#fileImage", imageSize, "an image");
	
	function checkImageSize(fileInput, size, msg) {
		$(fileInput).change(function() {
			fileSize = this.files[0].size;
			var nesize = fileSize / 1024;
			imageSizeShort = size * 1024;
			
			if (fileSize > imageSizeShort) {
				var strmsg = "You must choose "+msg+" less than "+size+" "+sizeScale+"! Current image size is " + nesize + " kb.";
				this.setCustomValidity(strmsg);
				this.reportValidity();
				showModelDialogue("Warning!", strmsg)
			} else {
				this.setCustomValidity("");
				showImageThumbnail(this);
			}
		})
	}
	
	function showModelDialogue(title, message) {
		if (message != null) {
			$("#modalTitle").text(title);
			$("#modalBody").text(message);
			$("#modalDialogue").modal('show');
		};
	};
	
	function showImageThumbnail(fileInput, thumb) {
		var localFile = fileInput.files[0];
		var extension = fileInput.files[0].name.split('.');
		var reader = new FileReader();
		if (extension[1] != "pdf") {
			reader.onload = function(e) {
				$(thumb).attr("src", e.target.result);
			};
		} 
			
		reader.readAsDataURL(localFile);
		
	}
</script>
	
<script>
		$("#checkbtn").click(function(){
			checkPhone();
		})
	
		function checkPhone() {
			var custId = $("#custometId").val();
			var phone = $("input[name='phone']").val();
			
			var params = {id: custId, phone: phone};
			var urlCheck = "[[@{/customers/check_phone}]]";
				alert(custId);
				alert(phone);
				
	    	
	    	$.post(urlCheck, params, function(elem) {
				alert(elem);
				
	    	}).fail(function(){
				consol.log("Something went wrong in the server!");
	    	});
		};
</script>

</html>