<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:fragment="account_fragment(remove)" th:remove="${remove}">
<head>
<style type="text/css">
	.class_hide {
		display: none;
	}
</style>
</head>
<body>

<div id="class_hide">
	<th:block th:each="customer : ${customer}">
	<div class="row mobile_account_view">
		<div class="col-md-4">
			<img class="img-thumbnail img-fluid" id="thumbnail" th:src="@{${customer.photosImagePath}}" alt="Photo Preview" />
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-9">
					<p>[[${customer.fullName}]] <span></span></p>
					<p>[[${customer.email}]]</p>
					<p>[[${customer.phone}]]</p>
					<p>[[${customer.addressLine1}]]</p>
					<p>[[${customer.addressLine2}]]</p>
					<p>Gender: [[${customer.gender}]] &nbsp;&nbsp;&nbsp; Country: [[${customer.country.name}]]</p>
					<p>City: [[${customer.city}]] &nbsp;&nbsp;&nbsp; State: [[${customer.state}]] - [[${customer.postalCode}]]</p>
				</div>
				<div class="col-md-3 ">
					<a class="specialButton" id="profile_update">Update</a>
				</div>
			</div>
		</div>
	</div>
	</th:block>
	
	<form th:action="@{/request/save}" th:object="${request}" method="post">
		<div class="mobile_account_view" style="margin: 20px 0;">
			<input type="hidden" th:field="*{id}">
			<h4>Submit your query below</h4>
			<div class="row">
				<div class="col-12" style="margin-bottom: 10px;">
					<input class="form-control" th:field="*{subject}" type="text" placeholder="Subject" required>
				</div>
				<div class="col-12" style="margin-bottom: 10px;">
					<textarea class="form-control" name="conversation" rows="8" cols="" placeholder="Ask your question here..."></textarea>
				</div>
				<div class="col-12" style="margin-bottom: 10px;">
					<input class="form-control specialButton" type="submit" value="Submit" style=" width: 100%; height: 37px;">
				</div>
			</div>
		</div>
	</form>
</div>

<form th:action="@{/account/update}" th:object="${customer}" method="post" enctype="multipart/form-data" id="form_hide">
	<div class="account_update" style="display: none;">
		<input type="hidden" th:field="*{id}">
		<div class="row">
			<div class="col-md-4">
				<input type="hidden" th:field="*{photos}">
				<img class="img-thumbnail img-fluid" id="thumbnail1" th:src="@{${customer.photosImagePath}}" alt="Photo Preview" />
				<input type="file" name="image" id="fileImage" accept="image/png, image/jpeg" class="mb-2" style="margin-top: 4px;"/>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-6 margin-bottom-update-account">
						<input type="text" class="form-control" th:field="*{firstName}" minlength="3" maxlength="128">
					</div>
					<div class="col-6 margin-bottom-update-account">
						<input type="text" class="form-control" th:field="*{lastName}" minlength="3" maxlength="128">
					</div>
					<div class="col-8 margin-bottom-update-account">
						<input type="text" class="form-control" th:field="*{phone}" minlength="3" maxlength="128">
					</div>
					<div class="col-6 margin-bottom-update-account">
						<input type="password" class="form-control" th:field="*{password}" placeholder="Leave blank if you don't want to change password." minlength="8" maxlength="40" oninput="checkPasswordMatch(document.getElementById('confirmPassword'))">
					</div>
					<div class="col-6 margin-bottom-update-account">
						<input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password!" minlength="8" maxlength="40" oninput="checkPasswordMatch(this)">
					</div>
					<div class="col-6 margin-bottom-update-account">
						<input class="input form-control" type="text" th:field="*{city}" placeholder="City" />
					</div>
					<div class="col-6 margin-bottom-update-account">
						<input class="input form-control" type="text" th:field="*{state}" placeholder="State" />
					</div>
					<div class="col-6 margin-bottom-update-account">
						<input class="input form-control" type="text" th:field="*{postalCode}" placeholder="PIN" />
					</div>
					<div class="col-12 margin-bottom-update-account">
						<input class="input form-control" type="text" th:field="*{addressLine1}" placeholder="Address Line 1"/>
					</div>
					<div class="col-12 margin-bottom-update-account">
						<input class="input form-control" type="text" th:field="*{addressLine2}" placeholder="Address Line 2" />
					</div>
				</div>
			</div>
			<div class="col-12" style="margin: 15px 0 5px 0">
				<input class="specialButton" type="submit" value="Update Profile" style="float: right;"/>
				<input class="specialButton_danger" id="profile_cancel" value="Cancel" style="float: left; width: 79px;"/>
			</div>
		</div>
	</div>
</form>

</body>
<script type="text/javascript">
	$(document).ready(function(){
		$("#profile_update").click(function(){
			$("#class_hide").addClass("class_hide");
			$(".account_update").css("display", "block");
			$("#form_hide").removeClass("class_hide");
		});
		$("#profile_cancel").click(function(){
			$("#form_hide").addClass("class_hide");
			$(".account_update").css("display", "none");
			$("#class_hide").removeClass("class_hide");
		});
	});
</script>
<script type="text/javascript">

	moduleURL = "[[@{/}]]";
	
	function checkPasswordMatch(confirmPassword) {
		if(confirmPassword.value != $("#password").val()) {
			confirmPassword.setCustomValidity("Passwords do not match!");
		} else {
			confirmPassword.setCustomValidity("");
		}
	}
	
</script>

<script type="text/javascript">

var reader = new FileReader();
reader.onload = function(r_event) {
  document.getElementById('thumbnail1').setAttribute('src', r_event.target.result);
}

document.getElementsByName('image')[0].addEventListener('change', function(event) {
    reader.readAsDataURL(this.files[0]);
});

</script>
</html>