<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

		
<head>
	<head th:replace="fragments :: page_head(': Profile Page', 'tag')"></head>

</head>	

<style>
	*.active{
	background: rgb(184, 205, 254);
	display: block;
	}

	.div-stl {
		    margin-bottom: 20px;
		    padding: 15px 0;
		    border-radius: 9px;
		    background: white;
		    border: 1px solid #8080806b;
	}
</style>
</head>


<body>

	<div class="hide-lg">
		<!-- Preloader -->
		<div id="preloader">
		    <div id="status"></div>
		</div>
		<!-- Preloader Ends -->
		
		<!-- header starts -->
	   
	    <header class="main_header_area">
			<div th:replace="nav-fragment :: page_header('tag')"></div>
		</header>
	    <!-- header ends -->
  
  
    <div th:if="${message != null}" class="alert alert-success text-center">
		[[${message}]]
	</div>
	<div th:if="${alert != null}" class="alert alert-danger text-center">
		[[${alert}]]
	</div>
	<div th:if="${warning != null}" class="alert alert-warning text-center">
		[[${warning}]]
	</div>
	
	
</div>


	<div class="hide-mobile btndeactive scrollbar-hidden">
	  <section id="preloader-mobile" class="spalsh-screen">
	    <div class="circle text-center">
	      <div>
	        <h1>EaseGoFly</h1>
	        <p>Discover Your Destinition</p>
	      </div>
	    </div>
	    <div class="loader-spinner">
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
		</div>
	</section>
		<!-- splash-screen end -->
	
		<main class="home">
			<div th:replace="nav-fragment :: page_header_mobile('tag')"></div>
			 
  
		    <div th:if="${message != null}" class="alert alert-success text-center">
				[[${message}]]
			</div>
			<div th:if="${alert != null}" class="alert alert-danger text-center">
				[[${alert}]]
			</div>
			<div th:if="${warning != null}" class="alert alert-warning text-center">
				[[${warning}]]
			</div>
		</main>
	</div>
  	<div th:replace="user_credential/account/account-fragment :: content"></div>
  	
	<div th:replace="whatsapp :: content"></div>
 	<footer th:replace="fragments :: page_footer('tag')"></footer>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
</body>
<script>
	$(".home").css("margin-bottom", "0");
</script>
<link th:href="@{css/custom.css}" rel="stylesheet">
</html>	
 


