<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
		
<body>
	<div th:fragment="content" th:remove="tag">
		<form th:action="@{/settings/save_api_service}" method="post">
			<h3>TBO</h3>
			<br>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">TBO API Client ID :</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="TBO_API_CLIENTID" th:value="${TBO_API_CLIENTID}" required="required">
				</div>
			</div>
			<br>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Username:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="TBO_API_USERNAME" th:value="${TBO_API_USERNAME}" required="required">
				</div>
			</div>
			<br>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Password:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="TBO_API_PASSWORD" th:value="${TBO_API_PASSWORD}" required="required">
				</div>
			</div>
			<br>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">User IP:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="TBO_API_USERIP" th:value="${TBO_API_USERIP}" required="required">
				</div>
			</div>
			<br>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Authentication URL:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="TBO_API_AUTH_URL" th:value="${TBO_API_AUTH_URL}" required="required">
				</div>
			</div>
			<br>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Default URL:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="TBO_API_DEFAULT_URL" th:value="${TBO_API_DEFAULT_URL}" required="required">
				</div>
			</div>
			<br>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Hotel URL:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="TBO_API_HOTEL_URL" th:value="${TBO_API_HOTEL_URL}" required="required">
				</div>
			</div>
			<br>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Bus URL:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="TBO_API_BUS_URL" th:value="${TBO_API_BUS_URL}" required="required">
				</div>
			</div>			
			<br>
			<div class="form-group row border p-2">
				<label class="col-sm-2 col-form-label">Bus City URL:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="TBO_API_BUS_CITY" th:value="${TBO_API_BUS_CITY}" required="required">
				</div>				
				<div class="col-sm-12">
					<a th:href="@{/settings/save_bus_city}" class="btn btn-primary">Update Bus City List</a>
				</div>
			</div>
			<div class="text-center">
					<input type="submit" value="Save" class="btn btn-primary m-3" >
			</div>
		</form>
	</div>
</body>

</html>