<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
		
		
<head>
	<head th:replace="fragments :: page_head(': International Return Flight Order Page', 'tag')"></head>

</head>	
<body th:style="'background-image: url(' + @{'/assets//img/1971537-temp.jpg'} + ');'">
	
  <header id="header" class="fixed-top d-flex align-items-center" >
  	<div th:replace="fragments :: page_header('tag')"></div>
  </header>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  
  <div th:replace="whatsapp :: content"></div>

<div th:replace="order/international/return/flight_order_fragment :: flight_booking('tag')"></div>
 
<footer th:replace="fragments :: page_footer"></footer>
</body>
</html>
