 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("https://assets.nicepagecdn.com/3a8c658c/4052166/images/images.jpeg");
  background-position: 50% 72.4%;
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("https://assets.nicepagecdn.com/3a8c658c/4052166/images/images1.jpeg");
  background-position: 50% 73.11%;
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("https://assets.nicepagecdn.com/3a8c658c/4052166/images/caption.jpg");
  background-position: 50% 75.52%;
}

 .u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("https://assets.nicepagecdn.com/3a8c658c/4052166/images/SightSeeinggtaJhg.jpg");
  background-position: 50% 50%;
}