<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<head th:replace="fragments :: page_head(': Loading Page', 'tag')"></head>
	<meta charset="ISO-8859-1">
	<meta http-equiv="refresh" th:content="|0; url=@{${searchURL}}|">
</head>
<body>
    <!-- Preloader -->
    <div class="preloading">
        <div class="status-loading"></div>
    </div>
    <!-- Preloader Ends -->

 <footer th:replace="fragments :: page_footer('tag')"></footer>
 <script type="text/javascript" th:src="@{/js/common.js}"></script>
</body>
</html>