<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<br/>
<br/>
<br/>
	[[${memberName}]]
<br/>
	[[${memberEmail}]]
<br/>
	[[${memberId}]]
<br/>
	[[${memberAgencyId}]]
<br/>
	[[${memberLoginName}]]
<br/>
	[[${memberLoginDetails}]]
<br/>
	[[${memberIsPrimaryAgent}]]
<br/>
	[[${errorCode}]]
<br/>
	[[${errorMessage}]]
<br/>
<a th:href="@{/api_results}" style="padding: 10px; background: green; border-radius: 7px; color: black;">Loading</a>

</body>
</html>