*.icon-white {color: white;}
*.icon-silver {color: silver;}
*.icon-green {color: green;}
*.icon-dark {color: gray;}
*.icon-black {color: black;}
*.icon-warning {color: yellow;}
*.star_marked {color: red;}
*.back_white {background-color: white;}
/* Font family */

*.font-times { font-family: 'Playfair Display', serif;}


label {
	margin-left: .75rem;
}

input {
	background: white;
}
*.activated {
	background: #D32F2F !important;
}
*.activated b {
	color: white !important;
}
*.activated a {
	color: white !important;
}

a:hover {
	color: white !important;
}

.row {
	margin: 0;
	width: 100%;
}
/* <a> - style properties */
*.disabledDiv {background-color: #E9ECEF;}
*.styleLink {text-decoration: none;}
*.styleLinkHover {text-decoration: none;}
*.styleLinkHover:hover {text-decoration: underline;}
*.styleLinkButton {
	cursor: pointer;
	width: auto;
	color: #2c2c2ceb;
    padding: 3px 9px;
    border-radius: 5px;
    border: 1px solid #8080804d;
    font-weight: 600;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

*.specialButton {
	cursor: pointer;
	width: auto;
	color: #2c2c2ceb;
    padding: 3px 9px;
    border-radius: 5px;
    border: 1px solid green;
    font-weight: 600;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
	  -webkit-transition: background-color 2s ease-out;
	  -moz-transition: background-color 2s ease-out;
	  -o-transition: background-color 2s ease-out;
	  transition: background-color 2s ease-out;
	  -webkit-transition: color 0.5s ease-out;
	  -moz-transition: color 0.5s ease-out;
	  -o-transition: color 0.5s ease-out;
	  transition: color 0.5s ease-out;
}
*.specialButton:hover {
	background-color: green;
	color: white;
}
*.specialButtonRed {
	background-color: #cf5b4a;
	color: white;
	cursor: pointer;
	width: auto;
    padding: 3px 9px;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
	  -webkit-transition: background-color 2s ease-out;
	  -moz-transition: background-color 2s ease-out;
	  -o-transition: background-color 2s ease-out;
	  transition: background-color 2s ease-out;
	  -webkit-transition: color 0.5s ease-out;
	  -moz-transition: color 0.5s ease-out;
	  -o-transition: color 0.5s ease-out;
	  transition: color 0.5s ease-out;
}
*.specialButtonRed:hover {
	background-color: #fdf4f2;
	color: #2c2c2ceb;
    border: 1px solid #cf5b4a;
}
*.specialButton_reverse {
	cursor: pointer;
	width: auto;
	color: white;
    padding: 3px 9px;
    border-radius: 5px;
    background-color: green;
    border: 1px solid green;
    font-weight: 600;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
	  -webkit-transition: background-color 2s ease-out;
	  -moz-transition: background-color 2s ease-out;
	  -o-transition: background-color 2s ease-out;
	  transition: background-color 2s ease-out;
	  -webkit-transition: color 0.5s ease-out;
	  -moz-transition: color 0.5s ease-out;
	  -o-transition: color 0.5s ease-out;
	  transition: color 0.5s ease-out;
}
*.specialButton_reverse:hover {
	color: #2c2c2ceb;
    background-color: white;
}
*.specialButton_danger {
	cursor: pointer;
	width: auto;
	color: #2c2c2ceb;
    padding: 3px 9px;
    border-radius: 5px;
    border: 1px solid #cf3218;
    font-weight: 600;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
	  -webkit-transition: background-color 2s ease-out;
	  -moz-transition: background-color 2s ease-out;
	  -o-transition: background-color 2s ease-out;
	  transition: background-color 2s ease-out;
	  -webkit-transition: color 0.5s ease-out;
	  -moz-transition: color 0.5s ease-out;
	  -o-transition: color 0.5s ease-out;
	  transition: color 0.5s ease-out;
}
*.specialButton_danger:hover {
	background-color: #cf3218;
	color: white;
}
*.specialButton_danger_reverse {
	cursor: pointer;
	width: auto;
	color: white;
    padding: 3px 9px;
    border-radius: 5px;
    background-color: #cf3218;
    border: 1px solid #cf3218;
    font-weight: 600;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
	  -webkit-transition: background-color 2s ease-out;
	  -moz-transition: background-color 2s ease-out;
	  -o-transition: background-color 2s ease-out;
	  transition: background-color 2s ease-out;
	  -webkit-transition: color 0.5s ease-out;
	  -moz-transition: color 0.5s ease-out;
	  -o-transition: color 0.5s ease-out;
	  transition: color 0.5s ease-out;
}
*.specialButton_danger_reverse:hover {
	color: #2c2c2ceb;
    background-color: white;
}
*.specialButton2 {
    padding: 6px 9px !important;
    border: 1px solid grey !important;
}
*.specialButton2:hover {
	background-color: grey !important;
	color: white !important;
}
*.styleLinkButton:hover {
	border-color: #005aff6e;
}
*.styleLinkButton:active {
	box-shadow: rgb(50 50 93 / 5%) 0px 30px 60px -12px inset, rgb(0 0 0 / 15%) 0px 18px 36px -18px inset !important;
}
*.request_tab_link {
	text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
}
*.request_tab {
	padding: 5px;
    margin: 5px 0;
    border: 1px solid #e1e1e1;
    background: #eeeeee;
    border-radius: 5px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}
*.request_tab:hover {
	background-color: #dcd9d9;
}
*.mild_color {
	color: #525252eb;
}
/* Positioning */


*.float-left { float: left !important;}
*.float-right { float: right !important;}
*.float-state {float: right !important;}
*.margin-both_side { margin: 0 7px !important;}
*.float-center {margin: 0 auto !important; width: 100%;}
*.margin-padding-none {margin: 0 !important; padding: 0 !important;}

*.width-auto {width: auto !important;}

*.dropdown-menu-special{ left: 50% !important;}
*.media_status { display: none;}
*.media_status_flex_CPN { display: none;}
*.padding_in_popullar {
	padding-bottom: 24px;
}
/* Responsive */
@media only screen and (max-width: 800px) {
		.ghfghgfh {margin-bottom: 0px !important;}
		.img-hover-zoom {margin-bottom: 0px !important;}
  	   .response-header {width: 90% !important;}
	  *.onwars_responsive { padding: 6px 81px !important;}
	  *.extra_height { height: 176px;}
	  *.insert_padding { padding-top: 8px !important;}
	  *.auto_width { width: 280px !important;}
	  *.width_full { width: 100% !important;}
	  *.padding_zero { padding: 0 !important;}
	  *.media_status { display: block !important;}
	  *.media_status_flex_CPN { display: flex !important;}
	  *.media-hide { display: none !important;}
	  *.media-display { display: block !important;}
	  *.float-state {float: left !important;}
	  *.dropDown_toggle_md { display: none !important;}
	  *.dropDown_toggle_col { display: block !important;}
	  
		*.traveler_type_form {
			padding: 0 calc(var(--bs-gutter-x) * .5) 15px calc(var(--bs-gutter-x) * .5) !important;
		}
	  *.media_status_flex { 
		  display: flex !important;
		  justify-content: center;
		  align-items: center;
	  }
	  *.ul_modify {
	  	border-radius: 7px;
	  	box-shadow: 0 0 5px 6px;
	    background: #ffffff2b !important;
	    backdrop-filter: blur(10px);
	  }
	  *.inbox_login_button {
		cursor: pointer;
		margin: 3px 5px;
		background: white;
		width: auto;
		color: #2c2c2ceb;
	    padding: 3px 9px;
	    border-radius: 5px;
	    border: 1px solid green;
	    font-weight: 600;
	    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
		  -webkit-transition: background-color 2s ease-out;
		  -moz-transition: background-color 2s ease-out;
		  -o-transition: background-color 2s ease-out;
		  transition: background-color 2s ease-out;
		  -webkit-transition: color 0.5s ease-out;
		  -moz-transition: color 0.5s ease-out;
		  -o-transition: color 0.5s ease-out;
		  transition: color 0.5s ease-out;
	}
	*.deal_custom {
		overflow: scroll;  
		overflow-y: hidden;
	}
	*.deal_custom_row {
		width: 2320px;
	}
	*.deal_custom_row2 {
		width: 816px;
	}
	*.carousel_inners {
		width: auto !important;
	}
	*.padding_in_popullar {
		padding-bottom: 10px;
	}
	*.font_resizerer {
		font-size: 20px;
	}
	*.div_resizer {
		width: 97% !important;
	}
	*.background_media {
		background: #c6ecff !important;
	}
	*.seacrh_margin {
		margin-top: 0px !important;
	}
	
}
*.modify_link_navigation {
	justify-content: unset !important;
}
.dropdowns:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
*.back-to-top2 {
	position: fixed;
    left: 15px;
    bottom: 72px;
    z-index: 996;
    background: #5c9f24;
    width: 43px;
    height: 43px;
    border-radius: 4px;
    transition: all 0.4s;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
*.back-to-top2:hover {
	background: #6fc02c;
    color: #fff;
}
*.back-to-top2:active {
	visibility: visible;
    opacity: 1;
}
*.active{
	background: none;
	display: block;
}
*.active_tab{
	background: #fff;
	display: block;
}
*.horiz {
	min-width: 100% !important;
	display: inline-block !important;
	zoom: 1;
	text-align: center;
	margin: 8px 0;
    width: 100% !important;
}
*.a_center {
	width: auto !important;
    display: flex !important;
    justify-content: center !important;
}
*.dropDown_position {inset: 0px 0px auto 81px !important;}
*.dropDown_toggle_col { display: none !important;}

@media screen and (max-width: 768px) {
	div.full-details {display: none;}
	div.less-details {display: block;}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	div.full-details {display: block;}
	div.less-details {display: none;}
	.hideable-column {display: none;}
	*.dropDown_toggle_col { display: block;}
}

@media screen and (min-width: 1024px) {
	div.less-details {display: none;}
	.hideable-column {display: table-cell;}
}

*.hoverInv:hover {
	background-color: #681414 !important;
	border-color: #681414 !important;
	color: white;
}

*.hover:hover {
	background-color: #D32F2F !important;
	border-color: #D32F2F !important;
	color: white;
}

*.chat {
	width: 157px;
	height: 45px;
	border-radius: 27px;
	position: fixed;
	bottom: 53px;
	right: 53px;
	z-index: 6;
	font-size: 45px;
}

*.chat i {
	color: #4dc85b;
	padding-left: 15px;
	position: relative;
	bottom: 6px;
}

*.chat strong {
	color: #4dc85b;
	font-size: 17px;
	position: relative;
	bottom: 12px;
	left: 7px;
}

*.resizer {
	margin: 0;
}

*.resizer li {
	display: inline;
	float: left;
	list-style-type: none;
	margin-bottom: 2px;
}
*.text_modify {
    color: black;
    border: 1px solid grey;
    border-radius: 15px;
    font-size: 20px;
}
*.text_modify:hover {
	background-color: #D32F2F;
}
.mealStyle {
	display: flex; 
	align-items: center; 
	margin: 10px 0 10px 24px; 
	border-radius: 8px; 
	border: 1px solid gray; 
	padding-left: 37px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.baggageStyle{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
	font-weight: bold;
}
.extra_detail_tab { 
	margin: 18px 0px; 
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 0 8px;
}
.detail-box {
	margin: 10px; 
	width: 95% !important; 
	background-color: white; 
	border-radius: 8px; 
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.booki_page_p {
    color: rgb(44 43 43);
    font-weight: 600;
    background: #e5e9ff;
    border-radius: 6px;
    padding: 0 8px;
    margin: 5px;
}
.extra_detail_heading {
	border-bottom: 2px dashed grey;
    padding: 5px 0;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}
.extra_detail_selection {
	width: 80%; 
	border-radius: 6px;
}
.extra_detail_heading_para {
	margin: 0;
    background: #00000080;
    padding: 0 5px;
    border-radius: 6px;
}
.extra_detail_selection_div {
	padding: 5px 0; 
	margin: 0; 
	display: flex; 
	justify-content: space-around; 
	align-items: center;
}
.extra_detail_price {
	padding: 5px 0; 
	margin: 0; 
	display: flex; 
	align-items: center;
}
.progress_div {
	display: flex; 
	justify-content: center;
}
.progress_div_active {
	background: #75ca7d;
}

.flight_detail_box {
	border-radius: 7px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
*.extra_detail_row_style {
	display: flex; 
	justify-content: center; 
	background-color: #00000014;
}
.extra_detail_headng_style {
	display: flex; 
	justify-content: center; 
	border-bottom: 1px ridge gray; 
	align-items: end;
}
.extra_detail_inner_div {
	border: 2px solid grey;
    border-radius: 8px;
}

.onward {
	position: absolute;
    margin-top: 10px;
    background-color: #1369f5;
    color: white;
    padding: 6px 11px;
    width: 10%;
    border-radius: 0 20px 20px 0;
}

.footerInner {
		  position: fixed; 
		  bottom: 0; 
		  width: 100%; 
		  background: rgb(36 32 74); 
		  z-index: 1000; 
		  color: white;
  }
  .footerInner button {
	  align-items: center; 
	  justify-content: center; 
	  display: flex; 
	  background: #24204a; 
  }
  .footerInner i {
	  font-size: 30px;
  }
  .footerInner p {
	  font-size: 18px;
	  margin: 0;
  }
  .footerInnerDiv {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
	padding: 4px 0;
  }
  .footerInnerDiv p{
	  font-size: 20px;
	  margin: 0;
  }
  .footerInnerDiv i{
	  font-size: 20px;
  }
  .footerFragInnerDiv {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
	padding: 4px 0;
  }
  .footerFragInnerDiv p{
	  font-size: 20px;
	  margin: 0;
  }
  .footerFragInnerDiv i{
	  font-size: 20px;
  }
  .response-header {
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
  }
  *.shdw-stl {
	  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }