<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<head th:replace="fragments :: page_head(': Book Flight, Hotel, Bus & Tour Packages', 'tag')"></head>
	
</head>	
<style>
	@media screen and (max-width: 800px) {
		.hotel-card-style {
			height: 110px !important;
		}	
		.hotel-tabs-style {
			background: #dddddd !important; 
			padding: 5px 0;
		}
		.hotel-tile-style {
			border: none !important; 
		}
	}
		.hotel-card-style {
			height: 210px;
		}
		.hotel-tabs-style {
			background: white;
		}
		.hotel-tile-style {
			border: 1px solid #8080803d; 
			border-radius: 8px;
		}
	gmp-map {
		width: 50vh;
        height: 50vh;
      }
</style>
<body>
<div class="hide-lg">
		<!-- Preloader -->
		<div id="preloader">
		    <div id="status"></div>
		</div>
		<!-- Preloader Ends -->
		
		<!-- header starts -->
	   
	    <header class="main_header_area">
			<div th:replace="nav-fragment :: page_header('tag')"></div>
		</header>
	    <!-- header ends -->
	    
	    <!-- Banner start -->
		<section class="banner flight-banner pb-14" style="position: relative;" id="headerDiv3">
			<video autoplay muted loop id="myVideo2" class="pb-4" style="width: 100%; transform: rotateY(180deg);">
				<source th:src="@{assets/videos/business-jet-in-flight-2023-11-27-05-11-43-utc.mp4}" type="video/mp4">
				Your browser does not support HTML5 video.
			</video>
			  <div style="width: 100%; position: absolute; top: 2%;" id="headerDiv4">
			    <div class="container" >
			        <div class="banner-in" >
			            <div class="row align-items-center position-relative"  id="headerDiv2">
			
			                <div class="col-lg-6 mb-4" id="headerDiv1" >
			                    <div class="banner-content text-lg-start text-center" >
			                        <h4 class="theme mb-0" style="text-shadow:rgb(255, 255, 255) 0px 1px 1px;">Explore The World</h4>
			                        <h1 style="text-shadow:rgb(255, 255, 255) 0px 1px 1px;">Start Planning Your Dream Trip Today!</h1>
			                        <p class="mb-4" style="color: #272727; text-shadow:rgb(255, 255, 255) 0px 1px 1px;">EaseGoFly offers seamless travel experiences, connecting you to top destinations with affordable flights and personalized tour packages. Our user-friendly platform makes booking fast and convenient, so you can focus on creating memories. With EaseGoFly, adventure is just a click away.</p>
			                        
									
			                    </div>
			                </div>
			                <div class="col-lg-6 mb-4 position-relative" >
			                    <div class="flight-slider">
			                        <div class="row review-slider1">
			                            <div class="col-lg">
			                                <img th:src="@{/assets/images/flights/3f.jpg}" alt="" class="rounded">
			                            </div>
			                            <div class="col-lg">
			                                <img th:src="@{/assets/images/flights/4f.jpg}" alt="" class="rounded">
			                            </div>
			                            <div class="col-lg">
			                                <img th:src="@{/assets/images/flights/5f.jpg}" alt="" class="rounded">
			                            </div>
			                        </div>
			                    </div>
			                </div>
			                
							<div id="tabsModalDiv" class="paddingResize position-absolute w-100" style="z-index: 2; bottom: 100px;">
									<div th:replace="hotel/hotel-search-tab :: hotel-search"></div>
							</div>
			            </div>
			            <div class="category-main-inner border-t pt-1">
			                <div class="row side-slider">
			                    <div class="col-lg-3 col-md-6 my-4">
			                        <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
			                            <div class="trending-topic-content">
			                                <img th:src="@{/assets/images/flights/flight_grid_2f.png}" class="mb-1 d-inline-block" alt="">
			                                <h5 class="mb-0"><a href="flight-grid.html">Thai Airlines</a></h5>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-lg-3 col-md-6 my-4">
			                        <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
			                            <div class="trending-topic-content text-center">
			                                <img th:src="@{/assets/images/flights/flight_grid_3f.png}" class="mb-1 d-inline-block" alt="">
			                                <h5 class="mb-0"><a href="flight-grid.html">Air Asia Airlines</a></h5>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-lg-3 col-md-6 my-4">
			                        <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
			                            <div class="trending-topic-content">
			                                <img th:src="@{/assets/images/flights/flight_grid_4f.png}" class="mb-1 d-inline-block" alt="">
			                                <h5 class="mb-0"><a href="flight-grid.html">Turkish Airlines</a></h5>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-lg-3 col-md-6 my-4">
			                        <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
			                            <div class="trending-topic-content">
			                                <img th:src="@{/assets/images/flights/flight_grid_5f.png}" class="mb-1 d-inline-block" alt="">
			                                <h5 class="mb-0"><a href="flight-grid.html">Dragon Airlines</a></h5>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-lg-3 col-md-6 my-4">
			                        <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
			                            <div class="trending-topic-content">
			                                <img th:src="@{/assets/images/flights/flight_grid_2f.png}" class="mb-1 d-inline-block" alt="">
			                                <h5 class="mb-0"><a href="flight-grid.html">Thai Airlines</a></h5>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-lg-3 col-md-6 my-4">
			                        <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
			                            <div class="trending-topic-content">
			                                <img th:src="@{/assets/images/flights/flight_grid_3f.png}" class="mb-1 d-inline-block" alt="">
			                                <h5 class="mb-0"><a href="flight-grid.html">Air Asia Airlines</a></h5>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-lg-3 col-md-6 my-4">
			                        <div class="category-item box-shadow p-3 py-4 text-center bg-white rounded overflow-hidden">
			                            <img th:src="@{/assets/images/flights/flight_grid_4f.png}" class="mb-1 d-inline-block" alt="">
			                            <div class="trending-topic-content">
			                                <h5 class="mb-0"><a href="flight-grid.html">Turkish Airlines</a></h5>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			  </div>
		    
		</section>
	    <!-- Banner end -->
	
	<script>
	    $("#headerDiv1").css("height", $("#headerDiv2").height() + "px");
	    $("#headerDiv3").css("height", $("#headerDiv4").height() + "px");
	    // alert($("#headerDiv2").height());
	
	</script>
	    
	    
	    
	    
</div>
<div class="hide-mobile btndeactive scrollbar-hidden">
	  <section id="preloader-mobile" class="spalsh-screen">
	    <div class="circle text-center">
	      <div>
	        <h1>EaseGoFly</h1>
	        <p>Discover Your Destinition</p>
	      </div>
	    </div>
	    <div class="loader-spinner">
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	    </div>
	  </section>
	  <!-- splash-screen end -->
	
	  <main class="home">
	    <div th:replace="nav-fragment :: page_header_mobile('tag')"></div>
	    
	
	    <!-- service start -->
	    <section class="service py-12">
	      <!-- item 1 -->
	      <a th:href="@{/}" >
	        <figure class="item text-center">
	          <div class="image rounded-full d-flex align-items-center justify-content-center m-auto" >
	            <img th:src="@{/assets/mobile/home/airport.png}" alt="airport" class="img-fluid backface-hidden">
	          </div>
	          <figcaption>Flight</figcaption>
	        </figure>
	      </a>
	
	      <!-- item 3 -->
	      <a href="#" onclick="return toggleSearch(this);">
	        <figure class="item text-center">
	          <div class="image rounded-full d-flex align-items-center justify-content-center m-auto img-select" id="toggle-div">
	            <img th:src="@{/assets/mobile/home/hotel.png}" alt="hotel" class="img-fluid backface-hidden">
	          </div>
	          <figcaption>Hotel</figcaption>
	        </figure>
	      </a>
	      <!-- item 2 -->
	      <a th:href="@{/bus}" >
	        <figure class="item text-center">
	          <div class="image rounded-full d-flex align-items-center justify-content-center m-auto">
	            <img th:src="@{/assets/mobile/home/car-rental.png}" alt="car" class="img-fluid backface-hidden">
	          </div>
	          <figcaption>Bus</figcaption>
	        </figure>
	      </a>
	
	
	      <!-- item 4 -->
	      <figure class="item text-center" data-bs-toggle="modal" data-bs-target="#serviceModal">
	        <div class="image rounded-full d-flex align-items-center justify-content-center m-auto">
	          <img th:src="@{/assets/mobile/home/category.png}" alt="category" class="img-fluid backface-hidden">
	        </div>
	        <figcaption>More</figcaption>
	      </figure>
	    </section>
	    <!-- service end -->
	
	    <!-- search start -->
	    <section class="search py-0" >
			<div id="search-bar-py" style="transition: all 0.4s ease-in-out;">
		        <div id="search-bar-mb" class="search-bar-class">
					<div th:replace="hotel/hotel-search-tab :: hotel-search"></div>
					
				</div>
			
			</div>
                <script>
					
			if (window.innerWidth < 900) { 
					$(".search-tags-mb").css("box-shadow", "none");
					$(".search-tags-mb").addClass("border radius-8 mb-2");
					$(".search-tags-mb label").addClass("p-0 m-0 label-change");
					$(".cityFIcon").addClass("m-0");
					
					//$(".search-col").addClass("col-6");
					//$(".search-tags").removeClass("justify-content-start");
					//$(".search-tags").addClass("justify-content-around");
					var totalHeightSearch = ($(".search-tags-mb").height() + convertToInt($(".search-tags-mb").css("padding-top")) + convertToInt($(".search-tags-mb").css("padding-bottom")) + convertToInt($(".search-tags-mb").css("margin-top")) + convertToInt($(".search-tags-mb").css("margin-bottom")));
					
					$("#search-bar-mb").css("height", totalHeightSearch + "px");
					
					function toggleSearch(id){
						$("#toggle-div").toggleClass("img-select");
						$("#search-bar-mb").toggleClass("h-0");
						$("#search-bar-mb").removeClass("overflow-unset");
						$("#search-bar-py").toggleClass("py-12");
					}
					
					function convertToInt(str) {
						var arr = str.split("px");
						return parseInt(arr[0]);
					}
					
					
					function toggleOverflowTraveler(){
						$("#search-bar-mb").addClass("overflow-unset");
					}
				}
				</script>
	    </section>
	    <!-- search end -->
	    
	  </main>
	</div>
  <div th:replace="whatsapp :: content"></div>
  
 
  
  <div th:replace="hotel/hotel_middle :: hotel-middle"></div>
  
  <!--<div>
	 <gmp-map center="40.12150192260742,-100.45039367675781" zoom="4" map-id="DEMO_MAP_ID">
      <gmp-advanced-marker position="40.12150192260742,-100.45039367675781" title="My location"></gmp-advanced-marker>
    </gmp-map>
  </div>-->
 
 <footer th:replace="fragments :: page_footer('tag')"></footer>
 
 <script type="text/javascript" th:src="@{/js/common.js}"></script>
</body>
</html>	
 


