<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:fragment="hotel-middle" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{css/hotel-middle.css}">
</head>

<body>
    <div class="container container-stl">
        <h1 class="text-center"><strong><span style="color: rgb(23, 24, 28);">Exclusive Offers</span></strong></h1>
    </div>
    <div class="container container-stl">
        <div class="row">
            <div class="col-md-3 div-style col-6">
                <div class="card">
                    <div class="card-body text-center"><img class="img-fluid img-stl" th:src="@{images/hotel/NEW%20DELHI.webp}">
                        <div></div>
                        <h4 class="text-center card-title">New Delhi</h4>
                        <h6 class="card-subtitle mb-2">Delhi</h6>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-md-3 div-style col-6">
                <div class="card">
                    <div class="card-body text-center"><img class="img-fluid img-stl" th:src="@{images/hotel/NEW%20DELHI.webp}">
                        <div></div>
                        <h4 class="text-center card-title">New Delhi</h4>
                        <h6 class="card-subtitle mb-2">Delhi</h6>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-md-3 div-style col-6">
                <div class="card">
                    <div class="card-body text-center"><img class="img-fluid img-stl" th:src="@{images/hotel/NEW%20DELHI.webp}">
                        <div></div>
                        <h4 class="text-center card-title">New Delhi</h4>
                        <h6 class="card-subtitle mb-2">Delhi</h6>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-md-3 div-style col-6">
                <div class="card">
                    <div class="card-body text-center"><img class="img-fluid img-stl" th:src="@{images/hotel/NEW%20DELHI.webp}">
                        <div></div>
                        <h4 class="text-center card-title">New Delhi</h4>
                        <h6 class="card-subtitle mb-2">Delhi</h6>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-md-3 div-style col-6">
                <div class="card">
                    <div class="card-body text-center"><img class="img-fluid img-stl" th:src="@{images/hotel/NEW%20DELHI.webp}">
                        <div></div>
                        <h4 class="text-center card-title">New Delhi</h4>
                        <h6 class="card-subtitle mb-2">Delhi</h6>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-md-3 div-style col-6">
                <div class="card">
                    <div class="card-body text-center"><img class="img-fluid img-stl" th:src="@{images/hotel/NEW%20DELHI.webp}">
                        <div></div>
                        <h4 class="text-center card-title">New Delhi</h4>
                        <h6 class="card-subtitle mb-2">Delhi</h6>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-md-3 div-style col-6">
                <div class="card">
                    <div class="card-body text-center"><img class="img-fluid img-stl" th:src="@{images/hotel/NEW%20DELHI.webp}">
                        <div></div>
                        <h4 class="text-center card-title">New Delhi</h4>
                        <h6 class="card-subtitle mb-2">Delhi</h6>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-md-3 div-style col-6">
                <div class="card">
                    <div class="card-body text-center"><img class="img-fluid img-stl" th:src="@{images/hotel/NEW%20DELHI.webp}">
                        <div></div>
                        <h4 class="text-center card-title">New Delhi</h4>
                        <h6 class="card-subtitle mb-2">Delhi</h6>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-md-3 div-style col-6">
                <div class="card">
                    <div class="card-body text-center"><img class="img-fluid img-stl" th:src="@{images/hotel/NEW%20DELHI.webp}">
                        <div></div>
                        <h4 class="text-center card-title">New Delhi</h4>
                        <h6 class="card-subtitle mb-2">Delhi</h6>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-md-3 div-style col-6">
                <div class="card">
                    <div class="card-body text-center"><img class="img-fluid img-stl" th:src="@{images/hotel/NEW%20DELHI.webp}">
                        <div></div>
                        <h4 class="text-center card-title">New Delhi</h4>
                        <h6 class="card-subtitle mb-2">Delhi</h6>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-md-3 div-style col-6">
                <div class="card">
                    <div class="card-body text-center"><img class="img-fluid img-stl" th:src="@{images/hotel/NEW%20DELHI.webp}">
                        <div></div>
                        <h4 class="text-center card-title">New Delhi</h4>
                        <h6 class="card-subtitle mb-2">Delhi</h6>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-md-3 div-style col-6">
                <div class="card">
                    <div class="card-body text-center"><img class="img-fluid img-stl" th:src="@{images/hotel/NEW%20DELHI.webp}">
                        <div></div>
                        <h4 class="text-center card-title">New Delhi</h4>
                        <h6 class="card-subtitle mb-2">Delhi</h6>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-md-3 div-style col-6">
                <div class="card">
                    <div class="card-body text-center"><img class="img-fluid img-stl" th:src="@{images/hotel/NEW%20DELHI.webp}">
                        <div></div>
                        <h4 class="text-center card-title">New Delhi</h4>
                        <h6 class="card-subtitle mb-2">Delhi</h6>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-md-3 div-style col-6">
                <div class="card">
                    <div class="card-body text-center"><img class="img-fluid img-stl" th:src="@{images/hotel/NEW%20DELHI.webp}">
                        <div></div>
                        <h4 class="text-center card-title">New Delhi</h4>
                        <h6 class="card-subtitle mb-2">Delhi</h6>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-md-3 div-style col-6">
                <div class="card">
                    <div class="card-body text-center"><img class="img-fluid img-stl" th:src="@{images/hotel/NEW%20DELHI.webp}">
                        <div></div>
                        <h4 class="text-center card-title">New Delhi</h4>
                        <h6 class="card-subtitle mb-2">Delhi</h6>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-md-3 div-style col-6">
                <div class="card">
                    <div class="card-body text-center"><img class="img-fluid img-stl" th:src="@{images/hotel/NEW%20DELHI.webp}">
                        <div></div>
                        <h4 class="text-center card-title">New Delhi</h4>
                        <h6 class="card-subtitle mb-2">Delhi</h6>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-stl">
        <h3>Top Destination</h3>
    </div>
    <div class="container container-stl">
        <div class="row">
            <div class="col-md-6 d-flex d-md-flex">
                <div class="d-flex justify-content-between align-items-center clmn-stl">
                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" type="button">Search Flight</button>
                </div>
            </div>
            <div class="col-md-6 d-flex d-md-flex">
                <div class="d-flex justify-content-between align-items-center clmn-stl">
                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" type="button">Search Flight</button>
                </div>
            </div>
            <div class="col-md-6 d-flex d-md-flex">
                <div class="d-flex justify-content-between align-items-center clmn-stl">
                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" type="button">Search Flight</button>
                </div>
            </div>
            <div class="col-md-6 d-flex d-md-flex">
                <div class="d-flex justify-content-between align-items-center clmn-stl">
                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" type="button">Search Flight</button>
                </div>
            </div>
            <div class="col-md-6 d-flex d-md-flex">
                <div class="d-flex justify-content-between align-items-center clmn-stl">
                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" type="button">Search Flight</button>
                </div>
            </div>
            <div class="col-md-6 d-flex d-md-flex">
                <div class="d-flex justify-content-between align-items-center clmn-stl">
                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" type="button">Search Flight</button>
                </div>
            </div>
            <div class="col-md-6 d-flex d-md-flex">
                <div class="d-flex justify-content-between align-items-center clmn-stl">
                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" type="button">Search Flight</button>
                </div>
            </div>
            <div class="col-md-6 d-flex d-md-flex">
                <div class="d-flex justify-content-between align-items-center clmn-stl">
                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" type="button">Search Flight</button>
                </div>
            </div>
            <div class="col-md-6 d-flex d-md-flex">
                <div class="d-flex justify-content-between align-items-center clmn-stl">
                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" type="button">Search Flight</button>
                </div>
            </div>
            <div class="col-md-6 d-flex d-md-flex">
                <div class="d-flex justify-content-between align-items-center clmn-stl">
                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" type="button">Search Flight</button>
                </div>
            </div>
            <div class="col-md-6 d-flex d-md-flex">
                <div class="d-flex justify-content-between align-items-center clmn-stl">
                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" type="button">Search Flight</button>
                </div>
            </div>
            <div class="col-md-6 d-flex d-md-flex">
                <div class="d-flex justify-content-between align-items-center clmn-stl">
                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" type="button">Search Flight</button>
                </div>
            </div>
            <div class="col-md-6 d-flex d-md-flex">
                <div class="d-flex justify-content-between align-items-center clmn-stl">
                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" type="button">Search Flight</button>
                </div>
            </div>
            <div class="col-md-6 d-flex d-md-flex">
                <div class="d-flex justify-content-between align-items-center clmn-stl">
                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" type="button">Search Flight</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-stl">
        <section class="py-5 bg-light">
            <h3 class="text-center text-success" style="padding-top: 15px;padding-bottom: 15px;color: #1b6ce5!important;"><strong><span style="color: rgb(34, 34, 34);">Easegofly Hotel Booking FAQs</span></strong></h3>
            <div class="container container-stl">
                <div class="row d-flex justify-content-center">
                    <div class="col col-md-10 col-12">
                        <div id="faqlist" class="accordion accordion-flush">
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-1">What is Lorem Ipsum?</button></h2>
                                <div id="content-accordion-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-2">What is Lorem Ipsum?</button></h2>
                                <div id="content-accordion-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-3">What is Lorem Ipsum?</button></h2>
                                <div id="content-accordion-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-4">What is Lorem Ipsum?</button></h2>
                                <div id="content-accordion-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-5">What is Lorem Ipsum?</button></h2>
                                <div id="content-accordion-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>
