<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:fragment="hotel-middle" >
<head>
    <title>Untitled</title>
    <link rel="stylesheet" th:href="@{css/hotel/aos.min.css}">
    <link rel="stylesheet" th:href="@{css/hotel/animate.min.css}">
    <link rel="stylesheet" th:href="@{css/hotel/accordion-faq-list.css}">
    <link rel="stylesheet" th:href="@{css/hotel/styles.css}">
</head>
<style>

	@keyframes float {
		0% {
			transform: translatey(0px);
		}
		50% {
			transform: translatey(-4px);
		}
		100% {
			transform: translatey(0px);
		}
	}
	@keyframes resizer {
		0% {
			scale: 1;
		}
		50% {
			scale: 0.96;
		}
		100% {
			scale: 1;
		}
	}
	.gradient-text  {
		animation: float 1000ms ease-in-out infinite, resizer 4000ms ease-in-out infinite;
	}
	.card-text-pos {
		position: absolute; 
		bottom: 50px;
		color: white;
	}
	#flotingCloud {
		animation: resizer 2000ms ease-in-out infinite;
	}
</style>
<body>
    <div class="container justify_center_verticle" style=" margin-top: 40px; display: none;">
		<div class="media-hide justify_center_verticle" style="position: relative; padding-bottom: 15px;">
			<div style="position: absolute; bottom: -20px;"><img class="img-fluid" alt="a" id="flotingCloud" data-bss-hover-animate="pulse" th:src="@{images/hotel/cloudpicss.png}" style="object-fit: fill;"></div>
        	<h1 class="text-center gradient-text" style="padding: 0 40px;">Exclusive Offers</h1>
		</div>
        <h2  class="media_status" style="padding: 0; font-size: 18px;">Exclusive Offers</h2>
        <div class="row">
            <div class="col-6 col-md-3 div-style">
                <div class="card card-shadow-style" data-aos="slide-up">
                    <div class="card-body text-center justify_center_verticle">
                        <div class="hotel-card-style" style="overflow: hidden;"><img class="img-fluid" data-bss-hover-animate="pulse" th:src="@{images/hotel/NEW%20DELHI.webp}"></div>
                        <div class="card-text-pos">
	                        <h4 class="text-center card-title" style="text-shadow: rgb(0 0 0) 0px 3px 6px;">New Delhi</h4>
	                        <h6 class="card-subtitle mb-2"  style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Delhi</h6>
						</div>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-6 col-md-3 div-style">
                <div class="card card-shadow-style" data-aos="slide-up">
                    <div class="card-body text-center justify_center_verticle">
                        <div class="hotel-card-style" style="overflow: hidden;"><img class="img-fluid " data-bss-hover-animate="pulse" th:src="@{images/hotel/Patna.webp}"></div>
                        <div class="card-text-pos">
	                        <h4 class="text-center card-title" style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Patna</h4>
	                        <h6 class="card-subtitle mb-2"  style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Patna</h6>
                        </div>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-6 col-md-3 div-style">
                <div class="card card-shadow-style" data-aos="slide-up">
                    <div class="card-body text-center justify_center_verticle">
                        <div class="hotel-card-style" style="overflow: hidden;"><img class="img-fluid" data-bss-hover-animate="pulse" th:src="@{images/hotel/Visakhapatnam.webp}"></div>
                        <div class="card-text-pos">
	                        <h4 class="text-center card-title" style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Visakhapatnam</h4>
	                        <h6 class="card-subtitle mb-2"  style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Delhi</h6>
                        </div>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-6 col-md-3 div-style">
                <div class="card card-shadow-style" data-aos="slide-up">
                    <div class="card-body text-center justify_center_verticle">
                        <div class="hotel-card-style" style="overflow: hidden;"><img class="img-fluid" data-bss-hover-animate="pulse" th:src="@{images/hotel/Guwahati.webp}"></div>
                        <div class="card-text-pos">
	                        <h4 class="text-center card-title" style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Guwahati</h4>
	                        <h6 class="card-subtitle mb-2"  style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Delhi</h6>
	                     </div>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-6 col-md-3 div-style">
                <div class="card" data-aos="slide-up">
                    <div class="card-body text-center justify_center_verticle">
                        <div class="hotel-card-style" style="overflow: hidden;"><img class="img-fluid" data-bss-hover-animate="pulse" th:src="@{images/hotel/Shirdi.webp}"></div>
                        <div class="card-text-pos">
	                        <h4 class="text-center card-title" style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Shirdi</h4>
	                        <h6 class="card-subtitle mb-2"  style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Delhi</h6>
                        </div>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-6 col-md-3 div-style">
                <div class="card" data-aos="slide-up">
                    <div class="card-body text-center justify_center_verticle">
                        <div class="hotel-card-style" style="overflow: hidden;"><img class="img-fluid" data-bss-hover-animate="pulse" th:src="@{images/hotel/Hyderabad.webp}"></div>
                        <div class="card-text-pos">
	                        <h4 class="text-center card-title" style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Hyderabad</h4>
	                        <h6 class="card-subtitle mb-2"  style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Delhi</h6>
                        </div>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-6 col-md-3 div-style">
                <div class="card" data-aos="slide-up">
                    <div class="card-body text-center justify_center_verticle">
                        <div class="hotel-card-style" style="overflow: hidden;"><img class="img-fluid" alt="a large building with a clock on the top of it" data-bss-hover-animate="pulse" th:src="@{images/hotel/Bengaluruu.jpg}"></div>
                        <div class="card-text-pos">
	                        <h4 class="text-center card-title" style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Bengaluru</h4>
	                        <h6 class="card-subtitle mb-2"  style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Delhi</h6>
                        </div>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-6 col-md-3 div-style">
                <div class="card" data-aos="slide-up">
                    <div class="card-body text-center justify_center_verticle">
                        <div class="hotel-card-style" style="overflow: hidden;"><img class="img-fluid" alt="green trees near mountain during daytime" data-bss-hover-animate="pulse" th:src="@{images/hotel/Shimla.jpg}"></div>
                        <div class="card-text-pos">
	                        <h4 class="text-center card-title" style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Shimla</h4>
	                        <h6 class="card-subtitle mb-2"  style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Delhi</h6>
                        </div>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-6 col-md-3 div-style">
                <div class="card" data-aos="slide-up">
                    <div class="card-body text-center justify_center_verticle">
                        <div class="hotel-card-style" style="overflow: hidden;"><img class="img-fluid" alt="grayscale photo of a pyramid" data-bss-hover-animate="pulse" th:src="@{images/hotel/TamilNadu.jpg}"></div>
                        <div class="card-text-pos">
	                        <h4 class="text-center card-title" style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Tamil Nadu</h4>
	                        <h6 class="card-subtitle mb-2"  style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Delhi</h6>
                        </div>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-6 col-md-3 div-style">
                <div class="card" data-aos="slide-up">
                    <div class="card-body text-center justify_center_verticle">
                        <div class="hotel-card-style" style="overflow: hidden;"><img class="img-fluid" alt="green palm tree near body of water during daytime" data-bss-hover-animate="pulse" th:src="@{images/hotel/Goa.jpg}"></div>
                        <div class="card-text-pos">
	                        <h4 class="text-center card-title" style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Goa</h4>
	                        <h6 class="card-subtitle mb-2"  style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Delhi</h6>
                        </div>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-6 col-md-3 div-style">
                <div class="card" data-aos="slide-up">
                    <div class="card-body text-center justify_center_verticle">
                        <div class="hotel-card-style" style="overflow: hidden;"><img class="img-fluid" alt="chennai to tirupati package, tour package, darshan package" data-bss-hover-animate="pulse" th:src="@{images/hotel/Tirupati.jpg}"></div>
                        <div class="card-text-pos">
	                        <h4 class="text-center card-title" style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Tirupati</h4>
	                        <h6 class="card-subtitle mb-2"  style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Delhi</h6>
                        </div>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-6 col-md-3 div-style">
                <div class="card" data-aos="slide-up">
                    <div class="card-body text-center justify_center_verticle">
                        <div class="hotel-card-style" style="overflow: hidden;"><img class="img-fluid" alt="amritsar, golden temple, india" data-bss-hover-animate="pulse" th:src="@{images/hotel/Amritsar.jpg}"></div>
                        <div class="card-text-pos">
	                        <h4 class="text-center card-title" style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Amritsar</h4>
	                        <h6 class="card-subtitle mb-2"  style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Delhi</h6>
                        </div>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-6 col-md-3 div-style">
                <div class="card" data-aos="slide-up">
                    <div class="card-body text-center justify_center_verticle">
                        <div class="hotel-card-style" style="overflow: hidden;"><img class="img-fluid" alt="brown and gray concrete buildings during daytime" data-bss-hover-animate="pulse" th:src="@{images/hotel/photo-1524652156139-d4005e60449c.jpg}"></div>
                        <div class="card-text-pos">
	                        <h4 class="text-center card-title" style="text-shadow: rgb(0 0 0) 0px 3px 6px;">New Delhi</h4>
	                        <h6 class="card-subtitle mb-2"  style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Delhi</h6>
                        </div>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-6 col-md-3 div-style">
                <div class="card" data-aos="slide-up">
                    <div class="card-body text-center justify_center_verticle">
                        <div class="hotel-card-style" style="overflow: hidden;"><img class="img-fluid" alt="people riding boat on body of water during daytime" data-bss-hover-animate="pulse" th:src="@{images/hotel/Kolkata.jpg}"></div>
                        <div class="card-text-pos">
	                        <h4 class="text-center card-title" style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Kolkata</h4>
	                        <h6 class="card-subtitle mb-2"  style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Delhi</h6>
                        </div>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-6 col-md-3 div-style">
                <div class="card" data-aos="slide-up">
                    <div class="card-body text-center justify_center_verticle">
                        <div class="hotel-card-style" style="overflow: hidden;"><img class="img-fluid" alt="a small boat is docked on a lake" data-bss-hover-animate="pulse" th:src="@{images/hotel/Ooty.jpg}" style="object-fit: fill;"></div>
                        <div class="card-text-pos">
	                        <h4 class="text-center card-title" style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Ooty</h4>
	                        <h6 class="card-subtitle mb-2"  style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Delhi</h6>
                        </div>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
            <div class="col-6 col-md-3 div-style">
                <div class="card" data-aos="slide-up">
                    <div class="card-body text-center justify_center_verticle">
                        <div class="hotel-card-style" style="overflow: hidden;">
							<img class="img-fluid" alt="White and Brown Concrete Building Near Body of Water" data-bss-hover-animate="pulse" th:src="@{images/hotel/Locknow.jpeg}">
						</div>
                        <div class="card-text-pos">
	                        <h4 class="text-center card-title" style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Locknow</h4>
	                        <h6 class="card-subtitle mb-2"  style="text-shadow: rgb(0 0 0) 0px 3px 6px;">Delhi</h6>
						</div>
                    </div><button class="btn btn-primary" type="button">Properties -&gt;</button>
                </div>
            </div>
        </div>
    </div>
    <div class="hotel-tabs-style" style="display: none;">
	    <div class="container justify_center_verticle" style="background: white;">
			<div class="justify_center_verticle hotel-tile-style">
		        <h3 class="media-hide" data-aos="slide-up">Top Destination</h3>
		        <h2  class="media_status" style="padding-top: 10px; font-size: 18px;">Top Destination</h2>
		        <div class="row pulse animated">
		            <div class="col-md-6 d-flex d-md-flex">
		                <div class="d-flex justify-content-between align-items-center clmn-stl" data-bss-hover-animate="pulse" style="border-width: 1px;box-shadow: 0px 0px;transform: scale(1) skew(0deg);">
		                    <p class="justify-content-between" style="filter: blur(0px) brightness(102%);">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" data-bss-hover-animate="pulse" type="button">Search Flight</button>
		                </div>
		            </div>
		            <div class="col-md-6 d-flex d-md-flex">
		                <div class="d-flex justify-content-between align-items-center clmn-stl" data-bss-hover-animate="pulse">
		                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" data-bss-hover-animate="pulse" type="button">Search Flight</button>
		                </div>
		            </div>
		            <div class="col-md-6 d-flex d-md-flex">
		                <div class="d-flex justify-content-between align-items-center clmn-stl" data-bss-hover-animate="pulse">
		                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" data-bss-hover-animate="pulse" type="button">Search Flight</button>
		                </div>
		            </div>
		            <div class="col-md-6 d-flex d-md-flex">
		                <div class="d-flex justify-content-between align-items-center clmn-stl" data-bss-hover-animate="pulse">
		                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" data-bss-hover-animate="pulse" type="button">Search Flight</button>
		                </div>
		            </div>
		            <div class="col-md-6 d-flex d-md-flex">
		                <div class="d-flex justify-content-between align-items-center clmn-stl" data-bss-hover-animate="pulse">
		                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" data-bss-hover-animate="pulse" type="button">Search Flight</button>
		                </div>
		            </div>
		            <div class="col-md-6 d-flex d-md-flex">
		                <div class="d-flex justify-content-between align-items-center clmn-stl" data-bss-hover-animate="pulse">
		                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" data-bss-hover-animate="pulse" type="button">Search Flight</button>
		                </div>
		            </div>
		            <div class="col-md-6 d-flex d-md-flex">
		                <div class="d-flex justify-content-between align-items-center clmn-stl" data-bss-hover-animate="pulse">
		                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" data-bss-hover-animate="pulse" type="button">Search Flight</button>
		                </div>
		            </div>
		            <div class="col-md-6 d-flex d-md-flex">
		                <div class="d-flex justify-content-between align-items-center clmn-stl" data-bss-hover-animate="pulse">
		                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" data-bss-hover-animate="pulse" type="button">Search Flight</button>
		                </div>
		            </div>
		            <div class="col-md-6 d-flex d-md-flex">
		                <div class="d-flex justify-content-between align-items-center clmn-stl" data-bss-hover-animate="pulse">
		                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" data-bss-hover-animate="pulse" type="button">Search Flight</button>
		                </div>
		            </div>
		            <div class="col-md-6 d-flex d-md-flex">
		                <div class="d-flex justify-content-between align-items-center clmn-stl" data-bss-hover-animate="pulse">
		                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" data-bss-hover-animate="pulse" type="button">Search Flight</button>
		                </div>
		            </div>
		            <div class="col-md-6 d-flex d-md-flex">
		                <div class="d-flex justify-content-between align-items-center clmn-stl" data-bss-hover-animate="pulse">
		                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" data-bss-hover-animate="pulse" type="button">Search Flight</button>
		                </div>
		            </div>
		            <div class="col-md-6 d-flex d-md-flex">
		                <div class="d-flex justify-content-between align-items-center clmn-stl" data-bss-hover-animate="pulse">
		                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" data-bss-hover-animate="pulse" type="button">Search Flight</button>
		                </div>
		            </div>
		            <div class="col-md-6 d-flex d-md-flex">
		                <div class="d-flex justify-content-between align-items-center clmn-stl" data-bss-hover-animate="pulse">
		                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" data-bss-hover-animate="pulse" type="button">Search Flight</button>
		                </div>
		            </div>
		            <div class="col-md-6 d-flex d-md-flex">
		                <div class="d-flex justify-content-between align-items-center clmn-stl" data-bss-hover-animate="pulse">
		                    <p class="justify-content-between">Kolkata(CCU) - Delhi(DEL)</p><button class="btn btn-primary btn-stl" data-bss-hover-animate="pulse" type="button">Search Flight</button>
		                </div>
		            </div>
		        </div>
	        </div>
	    </div>
    </div>
    <div class="container" style=" margin-top: 20px; display: none;">
        <section class="bg-light py-5 hotel-tile-style">
            <h3 class="text-center text-success" style="padding-top:15px;padding-bottom:15px;color:#1b6ce5;"><span style="color:rgb(34, 34, 34);">Easegofly Hotel Booking FAQs</span></h3>
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-10">
                        <div id="faqlist" class="accordion accordion-flush">
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" data-aos="slide-up" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-1">What is Lorem Ipsum?</button></h2>
                                <div id="content-accordion-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" data-aos="slide-up" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-2">What is Lorem Ipsum?</button></h2>
                                <div id="content-accordion-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" data-aos="slide-up" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-3">What is Lorem Ipsum?</button></h2>
                                <div id="content-accordion-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" data-aos="slide-up" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-4">What is Lorem Ipsum?</button></h2>
                                <div id="content-accordion-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header"><button class="btn accordion-button collapsed" data-aos="slide-up" type="button" data-bs-toggle="collapse" data-bs-target="#content-accordion-5">What is Lorem Ipsum?</button></h2>
                                <div id="content-accordion-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <p class="accordion-body"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script th:src="@{js/hotel/aos.min.js}"></script>
    <script th:src="@{js/hotel/bs-init.js}"></script>
</body>

</html>
