<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<head th:replace="fragments :: page_head(': Wallet Home', 'tag')"></head>

	
	<style type="text/css">
	
	.historyt {
		color: #e0f9cc;
	}
	
	.historyt:hover {
		box-shadow: rgb(255 255 255 / 80%) -2px -2px 10px inset, rgb(254 254 254 / 50%) 4px 4px 10px inset !important;
		color: white !important;
	}
	
	.historyt:active {
		box-shadow: rgb(45 45 45 / 80%) -2px -2px 10px inset, rgb(50 50 50 / 50%) 4px 4px 10px inset !important;
		color: #74c92d !important;
	}
	
	
	</style>
</head>	
<body>

	<div class="hide-lg">
		<!-- Preloader -->
		<div id="preloader">
		    <div id="status"></div>
		</div>
		<!-- Preloader Ends -->
		
		<!-- header starts -->
	   
	    <header class="main_header_area">
			<div th:replace="nav-fragment :: page_header('tag')"></div>
		</header>
	    <!-- header ends -->

	  
	<div class="container" style="border: 3px solid #848cea; border-radius: 8px; margin-bottom: 20px; margin-top: 30px; box-shadow: rgb(0 0 0 / 25%) 0px 10px 20px, rgb(0 0 0 / 40%) 0px 10px 20px;">
			<div class="row">
				<div class="col-12 col-md-6">
					<div class="row" style="display: flex;justify-content: space-evenly;border: 1px solid grey;border-radius: 7px;box-shadow: rgb(0 0 0 / 25%) 0px 5px 10px, rgb(0 0 0 / 40%) 0px 5px 10px;margin: 10px 0;">
						<div class="col-8" style="display: flex; padding: 20px;">
	                        <h3 style="margin: 10px;">Wallet Balance: </h3>
	    					<h3 style="margin: 10px; font-family: 'Plus Jakarta Sans', sans-serif;">[[${CURRENCY_SYMBOL}]][[${balance}]]</h3>
	                    </div>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<form th:action="@{/wallet-recharge}" method="post">
							<input type="hidden" name="wallet_id" th:value="${wallet.id}">
						<div class="row" style=" padding: 20px; display: flex; justify-content: space-evenly; border: 1px solid grey; border-radius: 7px; box-shadow: rgb(0 0 0 / 25%) 0px 5px 10px, rgb(0 0 0 / 40%) 0px 5px 10px; margin: 10px 0;">
							
							<div class="form-floating col-7" style="padding: 0;">
							  <input type="number" class="form-control" id="floatingInputValue" name="recharge-amount">
							  <label for="floatingInputValue">Amount</label>
							</div>
							<div class="col-1">
							</div>
							<button type="submit" class="btn btn-success col-4">Recharge</button>
							
						</div>
					</form>
				</div>
			</div>
			
                <div class="row">
					<h4 class="col-md-12 grid-margin stretch-card pb-2 pt-4">Recharge History:</h4>
                    <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                        <table id="dataTableExample" class="table">
                            <thead>
                            <tr style="background: #0083da; color: white;">
                                <th>Date</th>
                                <th>TRN ID</th>
                                <th>INR</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
								
							<th:block th:each="rechargeHistory : ${rechargeHistories}">
									<tr th:class="${rechargeHistory.rechargeHistoryStatus} == ${rechargeStatus} ? 'row-success' : 'row-cancel'">
		                                <td>[[${rechargeHistory.date}]]</td>
		                                <td>[[${rechargeHistory.transaction}]]</td>
		                                <td th:id="'rechargeAmount' + ${rechargeHistory.id}"></td>
		                                <td >[[${rechargeHistory.rechargeHistoryStatus}]]</td>
									</tr>
								<script type="text/javascript">
									rechargeAmount = [[${rechargeHistory.rechargeAmount}]] / 100;
									rechargeAmountString = "[[${CURRENCY_SYMBOL}]] " + rechargeAmount;
									$("#rechargeAmount" + [[${rechargeHistory.id}]]).text(rechargeAmountString);
								</script>
							</th:block>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
		
			
		</div>
	</div>
		
	<div class="hide-mobile btndeactive scrollbar-hidden">
	  <section id="preloader-mobile" class="spalsh-screen">
	    <div class="circle text-center">
	      <div>
	        <h1>EaseGoFly</h1>
	        <p>Discover Your Destinition</p>
	      </div>
	    </div>
	    <div class="loader-spinner">
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	    </div>
	  </section>
	  <!-- splash-screen end -->
	
	  <main class="home">
	    <div th:replace="nav-fragment :: page_header_mobile('tag')"></div>
	
	
	
	  
	<div style="margin-bottom: 20px; margin-top: 30px;">
			<div class="row">
				<div class="col-12 col-md-6">
					<div class="row" style="display: flex;justify-content: space-evenly;border: 1px solid grey;border-radius: 7px;box-shadow: rgb(0 0 0 / 25%) 0px 5px 10px, rgb(0 0 0 / 40%) 0px 5px 10px;margin: 10px 0;">
						<div class="col-12 col-md-8" style="display: flex; padding: 20px;">
	                        <h3 style="margin: 10px;">Wallet Balance: </h3>
	    					<h3 style="margin: 10px; font-family: 'Plus Jakarta Sans', sans-serif;">[[${CURRENCY_SYMBOL}]][[${balance}]]</h3>
	                    </div>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<form th:action="@{/wallet-recharge}" method="post">
							<input type="hidden" name="wallet_id" th:value="${wallet.id}">
						<div class="row" style=" padding: 20px; display: flex; justify-content: space-evenly; border: 1px solid grey; border-radius: 7px; box-shadow: rgb(0 0 0 / 25%) 0px 5px 10px, rgb(0 0 0 / 40%) 0px 5px 10px; margin: 10px 0;">
							
							<div class="form-floating col-7">
							  <input type="number" class="form-control" id="floatingInputValue" name="recharge-amount">
							  <label class="ms-4" for="floatingInputValue">Amount</label>
							</div>
							<div class="col-5">
								<button type="submit" class="btn btn-success radius-8 h-100">Recharge</button>
							</div>
							
						</div>
					</form>
				</div>
			</div>
			
                <div class="row">
					<h4 class="col-md-12 grid-margin stretch-card pb-2 pt-4">Recharge History:</h4>
                    <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                        <table id="dataTableExample" class="table">
                            <thead>
                            <tr style="background: #0083da; color: white;">
                                <th>Date</th>
                                <th>TRN ID</th>
                                <th>INR</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
								
							<th:block th:each="rechargeHistory : ${rechargeHistories}">
									<tr th:class="${rechargeHistory.rechargeHistoryStatus} == ${rechargeStatus} ? 'row-success' : 'row-cancel'">
		                                <td>[[${rechargeHistory.date}]]</td>
		                                <td>[[${rechargeHistory.transaction}]]</td>
		                                <td th:id="'rechargeAmount' + ${rechargeHistory.id}"></td>
		                                <td >[[${rechargeHistory.rechargeHistoryStatus}]]</td>
									</tr>
								<script type="text/javascript">
									rechargeAmount = [[${rechargeHistory.rechargeAmount}]] / 100;
									rechargeAmountString = "[[${CURRENCY_SYMBOL}]] " + rechargeAmount;
									$("#rechargeAmount" + [[${rechargeHistory.id}]]).text(rechargeAmountString);
								</script>
							</th:block>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
		
			
		</div>
	
	  </main>
	  </div>
	  
	  <div th:replace="whatsapp :: content"></div>
 	<footer th:replace="fragments :: page_footer('tag')"></footer>
 <script type="text/javascript" th:src="@{/js/common.js}"></script>
</body>
<link th:href="@{css/custom.css}" rel="stylesheet">
</html>	
 


