.height-stl {
	height: 200px;
}

/* Responsive */
@media only screen and (max-width: 800px) {
	.height-stl {
		height: 150px;
	}
}

.container-stle {
  width: 100%;
  background: white;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.new-card-stl {
  cursor: pointer;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.floating-siv-stl {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.link-carousal {
  width: auto !important;
  padding: 0 10px !important;
}
