.div-stl {
  background: #e1ddb5;
  padding: 10px 26px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-stl p {
  font-size: 24px;
  margin: 2px;
}

@media (min-width: 600px) {
  .sm-pos {
    margin-left: 20px;
  }
}

.ticket-div {
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 4px var(--bs-gray-500);
  overflow: hidden;
  padding: 0;
  border: none;
}

.inner-dvi {
  margin: 35px 10px;
  border: 2px solid grey;
  padding: 10px;
}

.logo-pos {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
}

div {
}

@media (min-width: 768px) {
  .logo-pos {
    top: 10px;
  }
}

.bus-sml {
  background: white;
  color: black;
  padding: 5px 10px;
  margin: 0 20px;
}

.bus-sml p {
  margin: 1px;
}

.bus-sml-lower {
  padding: 10px 10px;
}

.bus-sml-lower p {
  margin: 2px;
  padding: 0 10px;
}

.div-stl strong {
  font-size: 26px;
}

.sen-cnt {
  justify-content: center;
  align-items: center;
}

.sen-cnt p {
  margin: 5px;
  font-size: 15px;
}

.sen-cnt strong {
  font-size: 18px;
  margin: 2px;
  align-items: center;
}

.center-stl {
  display: flex;
  align-items: center;
}

.small-like {
  font-size: 15px;
  color: #7a7a7a;
  margin: 2px 0;
}

