<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Welcome to Easegofly Admin home page', 'none')"></head>
<script>
	var colors = {
	  primary        : "#029e9d",
	  secondary      : "#7987a1",
	  success        : "#05a34a",
	  info           : "#66d1d1",
	  warning        : "#fbbc06",
	  danger         : "#ff3366",
	  light          : "#e9ecef",
	  dark           : "#060c17",
	  muted          : "#7987a1",
	  gridBorder     : "rgba(77, 138, 240, .15)",
	  bodyColor      : "#000",
	  cardBg         : "#fff"
	}
	var chartDatesInner = [];	
	var bookingRevenueChartData = [];	
	var bookingRevenueChartDates = [];	
	var bookingChartData = [];
	var bookingChartDates = [];
	
	
	
	
	function dayCountFromBegining(dates, invoices){
		// Step 1: Convert all strings to Date objects
		const parsedDates = dates.map(d => new Date(d.replace(" ", "T")));
		
		// Step 2: Find the earliest date
		const earliestDate = new Date(Math.min(...parsedDates.map(d => d.getTime())));
		
		// Step 3: Calculate day difference from earliest date to today
		const today = new Date();
		today.setHours(0, 0, 0, 0);
		
		const yesterday = new Date(today);
		yesterday.setDate(today.getDate() - 1);		
		
		const dayBefore = new Date(today);
		dayBefore.setDate(today.getDate() - 2);
		
		const diffMsBefore = dayBefore - earliestDate;		
		const diffMsAfter = yesterday - earliestDate; // difference in milliseconds
		const diffDaysBefore = Math.floor(diffMsBefore / (1000 * 60 * 60 * 24));		
		const diffDaysAfter = Math.floor(diffMsAfter / (1000 * 60 * 60 * 24));
		
		var totalAmountMonth = 0;
		
		invoices.forEach((inv, index) => {
			totalAmountMonth += parseFloat(inv);
		});		
		console.log(`To ${totalAmountMonth}`);
		
		console.log("Earliest Date:", earliestDate.toDateString());
		
		return diffDaysBefore;
	}
	
	function formateDate(input){
		const date = new Date(input.replace(" ", "T")); // Replace space with 'T' for ISO format
		
		const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", 
		                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
		
		const formatted = `${months[date.getMonth()]} ${date.getDate()} ${String(date.getFullYear()).slice(2)}`;
		return formatted;
	}
</script>
<body >
	
	<th:block th:each="order : ${orders}">
		
		<script>
			var localDateinDiv = "";
			bookingRevenueChartData.push('[[${order.price}]]');
			bookingRevenueChartDates.push(formateDate('[[${order.createdTime}]]'));
			chartDatesInner.push('[[${order.createdTime}]]');
		</script>

	</th:block>
	
	
		<div class="main-wrapper">

		<!-- sidebar starts -->
    
		<div th:replace="navigation :: nav_sidebar"></div>



    <!-- sidebar Ends -->
	
		<div class="page-wrapper">
					
			<!-- navbar Starts -->

		<div th:replace="navigation :: nav_profile"></div>



			<!-- navbar Ends -->

      <!-- Page Content Starts -->
			<div class="page-content">

        <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
          <div>
            <h4 class="mb-3 mb-md-0">Welcome to Easegofly Dashboard</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-xl-12 stretch-card">
            <div class="row flex-grow-1">
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-baseline">
                      <h6 class="card-title mb-0">New Booking</h6>
                      <div class="dropdown mb-2">
                        <button class="btn p-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item d-flex align-items-center"><i data-feather="eye" class="icon-sm me-2"></i> <span class="">View</span></a>
                          <a class="dropdown-item d-flex align-items-center"><i data-feather="edit-2" class="icon-sm me-2"></i> <span class="">Edit</span></a>
                          <a class="dropdown-item d-flex align-items-center"><i data-feather="trash" class="icon-sm me-2"></i> <span class="">Delete</span></a>
                          <a class="dropdown-item d-flex align-items-center"><i data-feather="printer" class="icon-sm me-2"></i> <span class="">Print</span></a>
                          <a class="dropdown-item d-flex align-items-center"><i data-feather="download" class="icon-sm me-2"></i> <span class="">Download</span></a>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6 col-md-12 col-xl-5">
                        <h3 class="mb-2">[[${totalOrders}]]</h3>
                        <div class="d-flex align-items-baseline">
                          <p class="text-success">
                            <span>+2.5%</span>
                            <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                          </p>
                        </div>
                      </div>
                      <div class="col-6 col-md-12 col-xl-7">
                        <div id="customersChart" class="mt-md-3 mt-xl-0"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-baseline">
                      <h6 class="card-title mb-0">New Listed Flight</h6>
                      <div class="dropdown mb-2">
                        <button class="btn p-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <a class="dropdown-item d-flex align-items-center"><i data-feather="eye" class="icon-sm me-2"></i> <span class="">View</span></a>
                          <a class="dropdown-item d-flex align-items-center"><i data-feather="edit-2" class="icon-sm me-2"></i> <span class="">Edit</span></a>
                          <a class="dropdown-item d-flex align-items-center"><i data-feather="trash" class="icon-sm me-2"></i> <span class="">Delete</span></a>
                          <a class="dropdown-item d-flex align-items-center"><i data-feather="printer" class="icon-sm me-2"></i> <span class="">Print</span></a>
                          <a class="dropdown-item d-flex align-items-center"><i data-feather="download" class="icon-sm me-2"></i> <span class="">Download</span></a>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6 col-md-12 col-xl-5">
                        <h3 class="mb-2">10,500</h3>
                        <div class="d-flex align-items-baseline">
                          <p class="text-danger">
                            <span>-5.6%</span>
                            <i data-feather="arrow-down" class="icon-sm mb-1"></i>
                          </p>
                        </div>
                      </div>
                      <div class="col-6 col-md-12 col-xl-7">
                        <div id="ordersChart" class="mt-md-3 mt-xl-0"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-baseline">
                      <h6 class="card-title mb-0">Agent Request</h6>
                      <div class="dropdown mb-2">
                        <button class="btn p-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                          <a class="dropdown-item d-flex align-items-center"><i data-feather="eye" class="icon-sm me-2"></i> <span class="">View</span></a>
                          <a class="dropdown-item d-flex align-items-center"><i data-feather="edit-2" class="icon-sm me-2"></i> <span class="">Edit</span></a>
                          <a class="dropdown-item d-flex align-items-center"><i data-feather="trash" class="icon-sm me-2"></i> <span class="">Delete</span></a>
                          <a class="dropdown-item d-flex align-items-center"><i data-feather="printer" class="icon-sm me-2"></i> <span class="">Print</span></a>
                          <a class="dropdown-item d-flex align-items-center"><i data-feather="download" class="icon-sm me-2"></i> <span class="">Download</span></a>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6 col-md-12 col-xl-5">
                        <h3 class="mb-2">45.50%</h3>
                        <div class="d-flex align-items-baseline">
                          <p class="text-success">
                            <span>+8.2%</span>
                            <i data-feather="arrow-up" class="icon-sm mb-1"></i>
                          </p>
                        </div>
                      </div>
                      <div class="col-6 col-md-12 col-xl-7">
                        <div id="growthChart" class="mt-md-3 mt-xl-0"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- row -->

        <div class="row">
          <div class="col-12 col-xl-12 grid-margin stretch-card">
            <div class="card overflow-hidden">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
                  <h6 class="card-title mb-0">Booking data</h6>
                  <div class="dropdown">
                    <button class="btn p-0" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="eye" class="icon-sm me-2"></i> <span class="">View</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="edit-2" class="icon-sm me-2"></i> <span class="">Edit</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="trash" class="icon-sm me-2"></i> <span class="">Delete</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="printer" class="icon-sm me-2"></i> <span class="">Print</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="download" class="icon-sm me-2"></i> <span class="">Download</span></a>
                    </div>
                  </div>
                </div>
                <div class="row align-items-start">
                  <div class="col-md-7">
                    <p class="text-muted tx-13 mb-3 mb-md-0">Revenue is the income that a business has from its normal business activities, usually from the sale of goods and services to customers.</p>
                  </div>
                  <div class="col-md-5 d-flex justify-content-md-end">
                    <div class="btn-group mb-3 mb-md-0" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-outline-primary">Today</button>
                      <button type="button" class="btn btn-outline-primary d-none d-md-block">Week</button>
                      <button type="button" class="btn btn-primary">Month</button>
                      <button type="button" class="btn btn-outline-primary">Year</button>
                    </div>
                  </div>
                </div>
                <div id="revenueChart" ></div>
              </div>
            </div>
          </div>
        </div> <!-- row -->

        <div class="row">
          <div class="col-lg-7 col-xl-8 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                  <h6 class="card-title mb-0">Monthly sales</h6>
                  <div class="dropdown mb-2">
                    <button class="btn p-0" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="eye" class="icon-sm me-2"></i> <span class="">View</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="edit-2" class="icon-sm me-2"></i> <span class="">Edit</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="trash" class="icon-sm me-2"></i> <span class="">Delete</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="printer" class="icon-sm me-2"></i> <span class="">Print</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="download" class="icon-sm me-2"></i> <span class="">Download</span></a>
                    </div>
                  </div>
                </div>
                <p class="text-muted">Sales are activities related to selling or the number of goods or services sold in a given time period.</p>
                <div id="monthlySalesChart"></div>
              </div> 
            </div>
          </div>
          <div class="col-lg-5 col-xl-4 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline">
                  <h6 class="card-title mb-0">Total Customar</h6>
                  <div class="dropdown mb-2">
                    <button class="btn p-0" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="eye" class="icon-sm me-2"></i> <span class="">View</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="edit-2" class="icon-sm me-2"></i> <span class="">Edit</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="trash" class="icon-sm me-2"></i> <span class="">Delete</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="printer" class="icon-sm me-2"></i> <span class="">Print</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="download" class="icon-sm me-2"></i> <span class="">Download</span></a>
                    </div>
                  </div>
                </div>
                <div id="storageChart"></div>
                <div class="row mb-3">
                  <div class="col-6 d-flex justify-content-end">
                    <div>
                      <label class="d-flex align-items-center justify-content-end tx-10 text-uppercase fw-bolder">B2B <span class="p-1 ms-1 rounded-circle bg-secondary"></span></label>
                      <h5 class="fw-bolder mb-0 text-end">[[${totalUsers}]]</h5>
                    </div>
                  </div>
                  <div class="col-6">
                    <div>
                      <label class="d-flex align-items-center tx-10 text-uppercase fw-bolder"><span class="p-1 me-1 rounded-circle bg-primary"></span> B2C</label>
                      <h5 class="fw-bolder mb-0">[[${totalCustomers}]]</h5>					  
                    </div>
                  </div>
                </div>
                <div class="d-grid">
                  <button class="btn btn-primary">All User</button>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- row -->

        <div class="row">
          <div class="col-lg-5 col-xl-4 grid-margin grid-margin-xl-0 stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                  <h6 class="card-title mb-0">New Listed Flight</h6>
                  <div class="dropdown mb-2">
                    <button class="btn p-0" type="button" id="dropdownMenuButton6" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="eye" class="icon-sm me-2"></i> <span class="">View</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="edit-2" class="icon-sm me-2"></i> <span class="">Edit</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="trash" class="icon-sm me-2"></i> <span class="">Delete</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="printer" class="icon-sm me-2"></i> <span class="">Print</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="download" class="icon-sm me-2"></i> <span class="">Download</span></a>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-column">
					<th:block th:each="order : ${latestFiveOrders}">
                  <a class="d-flex align-items-center border-bottom pb-3 my-3">
                    <div class="me-3">
                      <img src="\assets\photo\Air India.jpg" class="rounded-circle wd-35" alt="user">
                    </div>
                    <div class="w-100">
                      <div class="d-flex justify-content-between">
                      	<h6 class="text-body mb-2">[[${order.productDetail.brand}]] </h6>
                        <p class="text-muted tx-12"><span th:text="${#dates.format(order.createdTime, 'dd MMM yy, hh:mm a')}"></span></p>
                      </div>
                      <p class="text-muted tx-13">[[${order.customer.firstName}]] [[${order.customer.lastName}]] has booked [[${order.productDetail.cityOne}]] to [[${order.productDetail.cityTwo}]] flight</p>
                    </div>
                  </a>
				  </th:block>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-xl-8 stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                  <h6 class="card-title mb-0">BOOKING Status .</h6>
                  <div class="dropdown mb-2">
                    <button class="btn p-0" type="button" id="dropdownMenuButton7" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton7">
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="eye" class="icon-sm me-2"></i> <span class="">View</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="edit-2" class="icon-sm me-2"></i> <span class="">Edit</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="trash" class="icon-sm me-2"></i> <span class="">Delete</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="printer" class="icon-sm me-2"></i> <span class="">Print</span></a>
                      <a class="dropdown-item d-flex align-items-center"><i data-feather="download" class="icon-sm me-2"></i> <span class="">Download</span></a>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover mb-0">
                    <thead>
                      <tr>
                        <th class="pt-0">#</th>
                        <th class="pt-0">Booking Type</th>
                        <th class="pt-0">Date</th>
                        <th class="pt-0">PNRStatus</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>7</td>
                        <td>Flight</td>
                        <td>01/01/2022</td>
                        <td><span class="badge bg-danger">Payment Faild</span></td>
                        <td> <a href="#"><i class="link-icon" data-feather="eye"></i></a></li></td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>Flight</td>
                        <td>01/01/2022</td>
                        <td><span class="badge bg-success">Booked</span></td>
                        <td> <a href="#"><i class="link-icon" data-feather="eye"></i></a></li></td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Bus</td>
                        <td>01/05/2022</td>
                        <td><span class="badge bg-primary">PNR Waiting</span></td>
                        <td> <a href="#"><i class="link-icon" data-feather="eye"></i></a></li></td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Hotel</td>
                        <td>01/01/2022</td>
                        <td><span class="badge bg-success">Booked</span></td>
                        <td> <a href="#"><i class="link-icon" data-feather="eye"></i></a></li></td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Flight</td>
                        <td>01/01/2022</td>
                        <td><span class="badge bg-primary">PNR Waiting</span></td>
                        <td> <a href="#"><i class="link-icon" data-feather="eye"></i></a></li></td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Flight</td>
                        <td>01/01/2022</td>
                        <td><span class="badge bg-success">Booked</span></td>
                        <td> <a href="#"><i class="link-icon" data-feather="eye"></i></a></li></td>
                      </tr>
                      <tr>
                        <td class="border-bottom">1</td>
                        <td class="border-bottom">Hotel</td>
                        <td class="border-bottom">01/05/2022</td>
                        <td><span class="badge bg-danger">Payment Faild</span></td>
                        <td> <a href="#"><i class="link-icon" data-feather="eye"></i></a></li></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div> 
            </div>
          </div>
        </div> <!-- row -->

			</div>
      <!-- Page Content Ends -->

	
		<div th:replace="fragments :: footer"></div>
		
		</div>
	</div>

	
	
	
	
</body>
</html>