<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

		<!-- dynamic head starts -->

<head th:replace="fragments :: page_head('Welcome to Easegofly Admin Login page', 'none')"></head>

		<!-- dynamic head ends -->


<body>
	<div class="main-wrapper">

	
		<div class="page-wrapper" style="width: 100%; margin: 0;">
					

            <!-- Page Content Starts -->

			<div class="page-content">



<div style="justify-content: center; align-items: center; display: flex;">
			<a class="navbar-brand" th:href="@{/}"> 
				<div class="row">
					<div class="col">
						<img alt="logo"
						th:src="@{/images/easegofly icon logo web b.png}" width=180
						height=180>
					</div>
					<div class="col">
						<p style="font-size: 56px; color: grey; font-weight: 700; margin-top: 50px;">Easegofly</p><small style="font-size: 16px; color: grey;">Developed by Webkoro.com</small>
					</div>
				</div>
			</a>													
		</div>
		
		<form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto; margin-top: 50px;">
			<div th:if="${param.error}">
				<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
			</div>
			<div th:if="${param.logout}">
				<p class="text-warning">You have logged out.</p>
			</div>
			<div class="border border-secondary round p-3">
				<h4>Access to Shopping admin</h4>
				<p>
					<input type="email" name="email" class="form-control" placeholder="E-mail" required="required">
				</p>
				<p>
					<input type="password" name="password" class="form-control" placeholder="Password" required="required">
				</p>
				<p>
					<input type="checkbox" name="remember-me">&nbsp; Remember me
				</p>
				<p>
					<input type="submit" value="Login" class="btn btn-primary">
				</p>
			</div>
		</form>
		<br>
		
		<h5 style="margin: 0; text-align: center;"><a class="signup_a">Sign up</a>  if not registered.</h5>
		
<br><br><br><br><br>





			</div>

            <!-- Page Content Ends -->

			<!-- footer Starts -->
      
		    <div th:replace="fragments :: footer"></div>

            <!-- footer Ends -->
		
		</div>
	</div>


</body>
</html>    