<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
	<div th:fragment="nav_menu">
			<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
				<input type="submit">
			</form>
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<a class="navbar-brand" th:href="@{/}" style="font-size: 28px; color: grey; font-weight: 700;"> <img alt="logo"
					th:src="@{/images/easegofly icon logo web b.png}" width=90
					height=90>EaseGoFly
				</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#topNavBar"
					aria-controls="topNavBar" aria-expanded="false"
					aria-label="Toggle navigation" id="toggleButton">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="topNavBar">
					<div class="col-8">
						<ul class="navbar-nav">
							<th:block sec:authorize="hasAuthority('Admin')">
								<li class="dropdowns">
								<input type="hidden" id="effectType" value="Drop">
								  <a class="nav-link dropdown-toggle " th:href="@{/users}" type="button" id="toggleButtonDropdown" data-bs-toggle="dropdowns" aria-expanded="false">Users</a>
								  <ul class="dropdown-menu">
								    <li><a th:href="@{/users/new}" class="dropdown-item" title="Create new product">Create New</a></li>
								    <li><a class="dropdown-item" th:href="@{/users}">View All</a></li>
								  </ul>
								</li>
							</th:block>
							<th:block sec:authorize="hasAuthority('Admin')">
								<li class="dropdowns ">
									<input type="hidden" id="effectType" value="Drop">
								  <a class="nav-link dropdown-toggle " type="button" id="toggleButtonDropdown" data-bs-toggle="dropdowns" aria-expanded="false" th:href="@{/brands}">Brands</a>
								  <ul class="dropdown-menu">
								    <li><a th:href="@{/brands/new}" class="dropdown-item" title="Create new product">Create New</a></li>
								    <li><a class="dropdown-item" th:href="@{/brands}">View All</a></li>
								  </ul>
								</li>
							</th:block>
							<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
								<li class="nav-item">
									<a class="nav-link" th:href="@{/products}">Flight Products <i class="fa fa-solid fa-caret-down"></i></a>
								</li>
							</th:block>
							<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
								<li class="dropdowns ">
								  <a class="nav-link" th:href="@{/customers}">Customers <i class="fa fa-solid fa-caret-down"></i></a>
								</li>
							</th:block>
							<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Shipper')">
								<li class="nav-item">
									<a class="nav-link" th:href="@{/orders}">Orders <i class="fa fa-solid fa-caret-down"></i></a>
								</li>
							</th:block>
							<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
								<li class="nav-item">
									<a class="nav-link" th:href="@{/salesReport}">Sales Report <i class="fa fa-solid fa-caret-down"></i></a>
								</li>
							</th:block>
							<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
								<li class="nav-item">
									<a class="nav-link" th:href="@{/requests}">Requests <i class="fa fa-solid fa-caret-down"></i></a>
								</li>
							</th:block>
							<th:block sec:authorize="hasAuthority('Admin')">
								<li class="nav-item">
									<a class="nav-link" th:href="@{/menus}">Menus <i class="fa fa-solid fa-caret-down"></i></a>
								</li>
							</th:block>
							<th:block sec:authorize="hasAuthority('Admin')">
								<li class="dropdowns ">
								<input type="hidden" id="effectType" value="Drop">
								  <a class="nav-link dropdown-toggle " th:href="@{/web_settings}"  type="button" id="toggleButtonDropdown" data-bs-toggle="dropdowns" aria-expanded="false">General Details</a>
								  <ul class="dropdown-menu">
								    <li><a th:href="@{/web_settings#general}" class="dropdown-item" >General</a></li>
								    <li><a th:href="@{/web_settings#advertisement}" class="dropdown-item" >Advertisement</a></li>
								    <li><a th:href="@{/web_settings#images}" class="dropdown-item" >Images</a></li>
								    <li><a th:href="@{/web_settings#offers}" class="dropdown-item" >Offers</a></li>
								    <li><a th:href="@{/web_settings#contacts}" class="dropdown-item" >Contacts</a></li>
								    <li><a th:href="@{/web_settings#lowest_fare_set}" class="dropdown-item" >Set lowest Fare</a></li>
								    <li><a th:href="@{/web_settings#coupons}" class="dropdown-item" >Show Coupons</a></li>
								  </ul>
								</li>
							</th:block>
							<th:block sec:authorize="hasAuthority('Admin')">
								<li class="dropdowns ">
								<input type="hidden" id="effectType" value="Drop">
								  <a class="nav-link dropdown-toggle " th:href="@{/settings}"  type="button" id="toggleButtonDropdown" data-bs-toggle="dropdowns" aria-expanded="false">Settings</a>
								  <ul class="dropdown-menu">
								    <li><a th:href="@{/settings#general}" class="dropdown-item" >General</a></li>
								    <li><a th:href="@{/settings#countries}" class="dropdown-item" >Countries</a></li>
								    <li><a th:href="@{/settings#states}" class="dropdown-item" >States</a></li>
								    <li><a th:href="@{/settings#mailServer}" class="dropdown-item" >Mail Server</a></li>
								    <li><a th:href="@{/settings#mailTemplates}" class="dropdown-item" >Mail Templates</a></li>
								    <li><a th:href="@{/settings#paymentGateway}" class="dropdown-item" >Payment Gateway</a></li>
								    <li><a th:href="@{/settings#apiService}" class="dropdown-item" >API Service</a></li>
								  </ul>
								</li>
							</th:block>
						</ul>
					</div>
					<div class="col-4">
						<ul  class="navbar-nav float-end">
							<li>
								<img alt="" id="showImage" width="37" height="37" style="border-radius: 8px;">
							</li>
							<li class="dropdown ">
								<input type="hidden" id="effectType" value="Drop">
							  <a class="nav-link dropdown-toggle" type="button" id="toggleButtonDropdown" data-bs-toggle="dropdown" aria-expanded="false" sec:authentication="principal.fullName"></a>
							  <ul class="dropdown-menu">
							    <li><a class="dropdown-item" th:href="@{/account}" >Account</a></li>
							    <li><a class="dropdown-item" id="logoutLink" href="">Logout</a></li>
							  </ul>
							</li>
							
						</ul>
					</div>
				</div>
			</nav>
			
			<script type="text/javascript">
				imageLink = "[[${#authentication.principal.imageLink}]]";
				contextUrl = "[[@{/}]]";
				
				var myArrayOne = imageLink.split("/");
				generatedImageLink = myArrayOne[1] + "/" + myArrayOne[2] + "/" + myArrayOne[3];
				
				$("#showImage").attr("src", contextUrl + generatedImageLink);
			</script>
		</div>
		
</body>
</html>