<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	th:fragment="content(balance, remove)" th:remove="${remove}">
<head>
<style type="text/css">
	
	.historyt {
		color: #e0f9cc;
	}
	
	.historyt:hover {
		box-shadow: rgb(255 255 255 / 80%) -2px -2px 10px inset, rgb(254 254 254 / 50%) 4px 4px 10px inset !important;
		color: white !important;
	}
	
	.historyt:active {
		box-shadow: rgb(45 45 45 / 80%) -2px -2px 10px inset, rgb(50 50 50 / 50%) 4px 4px 10px inset !important;
		color: #74c92d !important;
	}
	
	
	</style>
</head>
<body >
	<div class="container" style="border: 3px solid #848cea; border-radius: 8px; margin-bottom: 20px; margin-top: 30px; box-shadow: rgb(0 0 0 / 25%) 0px 10px 20px, rgb(0 0 0 / 40%) 0px 10px 20px;">
			<div class="row">
				<div class="col-12 col-md-6">
					<div class="row" style="display: flex;justify-content: space-evenly;border: 1px solid grey;border-radius: 7px;box-shadow: rgb(0 0 0 / 25%) 0px 5px 10px, rgb(0 0 0 / 40%) 0px 5px 10px;margin: 10px 0;">
						<div class="col-8" style="display: flex; padding: 20px;">
	                        <h2 style="margin: 10px; font-size: 20px;">Wallet Balance: </h2>
	    					<h2 style="margin: 10px; font-size: 20px;" th:id="'wallet_balance' + ${customer.id}"></h2>
	                    </div>
	                    <a class="col-4 historyt" id="historyt" th:href="@{'/show-history-' + ${customer.id}}" style="text-decoration: none; padding: 0; display: flex; justify-content: center; align-items: center; background: #157347f0; border-radius: 0 6px 6px 0; box-shadow: rgb(255 255 255 / 60%) -2px -2px 8px inset, rgb(254 254 254 / 39%) 4px 4px 8px inset;">
	                    	<h3 id="headerH" style=" margin: 0; font-size: 24px;">Show history</h3>
	                    </a>
					</div>
				</div>
				<div class="col-12 col-md-6">
						<div class="row" style=" padding: 14px; display: flex; justify-content: space-evenly; border: 1px solid grey; border-radius: 7px; box-shadow: rgb(0 0 0 / 25%) 0px 5px 10px, rgb(0 0 0 / 40%) 0px 5px 10px; margin: 10px 0;">
							<div class="col-1">
								<input type="hidden" name="wallet_id">
							</div>
							<div class="form-floating col-6" style="padding: 0;">
								<input type="hidden" name="customer_id" th:value="${customer.id}">
							  <input type="number" class="form-control" th:id="'floatingInputValue' + ${customer.id}" name="addedBalance">
							  <label for="floatingInputValue">Amount</label>
							</div>
							<div class="col-1">
							</div>
							<button class="btn btn-success col-3" th:id="'recharge_button' + ${customer.id}"><h4 style="font-size: 16px;">Add balance</h4></button>
							<div class="col-1"><form th:action="@{/asdasd}" method="post"></form></div>
						</div>
				</div>
			</div>
		</div>
	</body>
	
	
	<script type="text/javascript">
	
	customerId = "[[${customer.id}]]";
	
	$(document).ready(function() {
		var balance = "[[${balance}]]" / 100;
		$("#wallet_balance" + [[${customer.id}]]).text( balance + " INR");
		
		$("#recharge_button" + [[${customer.id}]]).click(function(){
			addBalance(customerId);
		});
	});
	
	contextPath = "[[@{/}]]";
	var csrfHeaderName = "[[${_csrf.headerName}]]";
	var csrfValue = "[[${_csrf.token}]]";

	function addBalance(index){
		
		inputValue = $("#floatingInputValue" + index).val();
		walletId = "[[${customer.wallet.id}]]";
		urlBalance = contextPath + "customers/page/add_balance_" + walletId + "_" + inputValue;
		
		jsonData = {};
		
		$.ajax({
			type: 'POST',
			url: urlBalance,
			beforeSend: function(xhr) {
				xhr.setRequestHeader(csrfHeaderName, csrfValue);
			},
			data: JSON.stringify(jsonData),
			contentType: 'application/json'
		}).done(function(bal) {
			var intAmount = bal / 100;
			$("#wallet_balance" + index).text( intAmount + " INR");
			$("#floatingInputValue" + index).val("");
		}).fail(function() {
			consol.log("Error occured!!");
		});
	};
	
	</script>
	</html>