<th:block th:if="${flight.mode} == 'AirIQ'"> 
		          	<div class="col-md-12 shadow rounded marginSetDiv" style=" border: 1px solid #e0e0e0; background-color: white; margin: 15px 10px; width: 95%;">
		            	<form th:action="@{/flight_booking_save}" method="post" th:id="'booking_form' + ${flight.id}">
		          			<input type="hidden" th:id="'inputSeatNum-' + ${flight.id}" th:value="${flight.totalSeats}">
          					<input type="hidden" name="timeRemaining" class="timeRemain">
			          		<div th:id="'flightSearchResult' + ${flight.id}"></div>
		          		</form>
		          	</div>
		          	<script type="text/javascript">
		          	
		          	search_passenger_num = [[${passengerNum}]];
		          	flight_seats = parseInt([[${flight.totalSeats}]]);
		    		
		          	console.log("Total searched seats: " + search_passenger_num);
		          	
		          	htmlCodeBlock = `
		      				<input type="hidden" name="adultNum" value="[[${adultNum}]]">
		      				<input type="hidden" name="childNum" value="[[${childNum}]]">
		      				<input type="hidden" name="infantNum" value="[[${infantNum}]]">
		      				<input type="hidden" name="cityOne" value="[[${cityOne}]]">
		      				<input type="hidden" name="cityTwo" value="[[${cityTwo}]]">
		      				<input type="hidden" name="date" value="[[${strDate}]]">
		      				<input type="hidden" name="journeyClass" value="[[${journeyClass}]]">
		          			<input type="hidden" name="search_id" value="1.5">
				            <input type="hidden" name="flight_id" value="[[${flight.id}]]">
				            <input type="hidden" name="device" class="device">
				            <input type="hidden" name="deviceInfo" class="deviceInfo">
				                    <div class="row media-hide">
				                    	<div class="col-md-10 col">
				                    		<div class="row seacrh_margin media-hide" >
				                    			<div class="col-3" style="padding: 0;">
					                    			<div id="brandImage[[${flight.id}]]" style="float: left; padding: 0px">
														<img src="` + [[@{${flight.photosImagePath}}]] + `" width="40" height="45" style="margin-left: 28px;">
						                    			<p style="font-size: 12px; color: red; background: #d2cfcfc7; padding: 5px;">Non-refundable</p> 
				                                    </div>
				                                    <div style="float: left; font-size: 15px; padding: 10px 25px;">
				                                        <b> [[${flight.brand}]] </b>
				                                        <p id="pnr_id" style="margin: 0;">[[${flight.flightNum}]]</p> 
				                                    </div>
						                    	</div>
						                    	<div class="col-7" style="padding-top: 48px;">
						                            <div class="row">
						                                <div class="col"> 
						                                    <div class="row">
							                                    <div class="col" style="padding: 7px 0 0 0; text-align:center;">
						                                            <h2 style="font-size: 24px; margin: 0;">[[${flight.depTime}]]</h2>
						                                            <p style="margin: 0;">[[${flight.cityOne}]]</p>
						                                        </div>
						                                        <div class="col">
						                                            <div class="col-12" style="display: flex; justify-content: center; padding: 0;">
						                                                <b class="non_stop" id="non_stop-[[${flight.id}]]">Non-stop</b>
						                                            </div>
						                                            <div class="col-12" style="display: flex; justify-content: center; padding: 0;">
						                                            	<img src="[[@{/images/pngwingcomffe.png}]]" width="100%" height="25">
						                                            </div>
						                                        </div>
						                                        <div class="col" style="padding: 7px 0 0 0; text-align:center;">
						                                            <h2 style="font-size: 24px; margin: 0;">[[${flight.arrTime}]]</h2>
						                                            <p style="margin: 0;">[[${flight.cityTwo}]]</p>
						                                        </div>
						                                	</div>
						                             	</div>
						                             	<div class="row">
			                                                <div class="col" style="font-size: 16px; padding: 0; text-align: center; margin-top: -15px;">
			                                                    <i class="fa fa-clock-o" aria-hidden="true" style=" margin-right: 4px;"></i><b id="duration-[[${flight.id}]]"></b>
			                                                </div>
		                                            	</div>
					                          		</div>
					                          </div>
				                    			<div class="col-2 media-hide"></div>
				                    			<div class="col-2 media_status" >
							                    	<div class="col-md-10" style=" text-align: center; background-color: #ffffeb; border: 1px dashed #e8d685;">
						                                <p style="margin: 0; color: #9d8d44;"><i class="fa fa-check-circle" aria-hidden="true"></i> CPN</p>
						                            </div>
						                            <div class="col-md-2 col" style="padding: 0;">
					                                    <input type="checkbox" id="send_quote" name="send_quote" value="send_quote">
					                                    <label for="send_quote" style="padding-left: 2px;"><i class="fa fa-envelope" aria-hidden="true"></i></label>
					                                </div>
						                    	</div>
						                    	<div class="col-12 media_status" style="display: none;">
						                    		<div class="row">
								                    	<div class="col" >
						                                	<p style="font-size: 28px; margin: 0;">[[${CURRENCY_SYMBOL}]]&nbsp;<span id="totalPriceDesk[[${flight.id}]]" style="font-weight: 600;"></span> </p>
						                                	<small>(For [[${passengerNum}]] Passenger/s)</small>
						                                </div>
								                    	<div class="col">
							                                 <button type="submit" class="btn btn-primary submit_btn_stl" style="float: right; font-size: 26px;" id="book_now" name="book_now">Book Now</button>
							                            </div>
						                            </div>
						                    	</div>
					                    		<div class="col-12 media-hide">
						                         <div class="row">
						                            <div class="col-md-1"></div>
						                            <div class="col-md-10" style=" text-align: center; background-color: #ffffeb; border: 1px dashed #e8d685;">
						                                <p style="margin: 0; color: #9d8d44;"><i class="fa fa-check-circle" aria-hidden="true"></i> CPN</p>
						                            </div>
						                            <div class="col-md-1"></div>
						                        </div>
					                          </div>
					                          <div class="col-12">
						                          <div style="background-color: #d6e6f3; border-radius: 8px 8px 0 0;">
						                            <div class="row" style="padding: 5px 0;">
						                                <div class="col-md-4 col media-hide" style="padding: 0 25px;">
						                                    <input type="checkbox" id="send_quote" name="send_quote" value="send_quote">
						                                    <label for="send_quote"><i class="fa fa-envelope" aria-hidden="true"></i> Send Quote</label>
						                                </div>
						                                <div class="col-7 media_status" style="padding: 0 0 0 13px; display: none;">
						                                	[[${flight.totalSeats}]] seat/s available
						                                </div>
						                                <div class="col-md-4 col media-hide"></div>
						                                <div class="col-md-4 col-5 padding_zero" style="padding: 0 25px;">
						                                    <a class="float-state" href="" style="text-decoration: none; float: right;"><i class="fa fa-plane" aria-hidden="true"></i> Flight Details</a>
						                                </div>
						                            </div>
						                        </div>
					                          </div>
					                       </div>
				                    	</div>
				                    	
				                    	<div class="col-md-2  text-center media-hide" style="padding: 0 0 8px; border-left: 4px solid #d6e6f3; ">
				                    		<div class="col-8 float-right" style="background: #d2cfcfc7; padding: 0;">
				                    			[[${flight.totalSeats}]] seat/s available
				                    		</div>
			                                <div  style="margin: 28px 0 15px 0; padding: 0 30px;">
			                                	<p style="font-size: 28px; margin: 0;">[[${CURRENCY_SYMBOL}]]&nbsp;<span id="totalPrice[[${flight.id}]]" style="font-weight: 600;"></span> </p>
			                                	<small>(For [[${passengerNum}]] Passenger/s)</small>
			                                </div>
				                            <div style="display: flex; justify-content: center;">
			                                 	<button type="submit" class="btn btn-primary submit_btn_stl" id="book_now" name="book_now">Book Now</button>
				                            </div>
				                    	</div>
				                    <div>
				                    </div>
				                    </div>
				                    
				                    <button type="button" class="btn btnSpecial media_status" data-bs-toggle="modal" data-bs-target="#staticBackdrop[[${flight.id}]]" style="display:none; padding: 10px 0; width: 100%;">
					                    <div class="row" style="padding-left: 10px;">
											<div class="col-9">
												<div class="row">
													<div class="col-1" style="padding: 0;">
						                    			<div id="brandImageMobile[[${flight.id}]]" style="float: left; padding: 0px">
															<img src="` + [[@{${flight.photosImagePath}}]] + `" width="40" height="45" style="margin-left: 28px;">
					                                    </div>
													</div>
													<div class="col-6" style="padding: 0;">
														<b style="font-size: 22px; padding-left: 10px;"> [[${flight.brand}]] </b>
													</div>
													<div class="col-5" style="padding: 0;">
														<p id="pnr_id" style="margin: 5px 0 0 0; text-align: right;"><small style="font-size: 12px;">Q</small>| [[${flight.flightNum}]]</p> 
													</div>
												</div>
	                                    	</div>
											<div class="col-3" style="padding: 0;">
												<p id="pnr_id" style="font-size: 10px; margin: 0; text-align: right; color: #d41d00;"><i class="fa fa-solid fa-lock" ></i> Lock Price</p>
											</div>
										</div>
										<div class="row">
			                                <div class="col-9"> 
			                                    <div class="row">
				                                    <div class="col" style="padding: 7px 0 0 0; text-align:center;">
			                                            <h2 style="font-size: 22px; margin: 0;">[[${flight.depTime}]]</h2>
			                                            <p style="margin: 0; font-weight: 600; color: #7f7f7f; font-size: 20px;">[[${flight.cityOne}]]</p>
			                                        </div>
			                                        <div class="col">
			                                            <div class="col-12" style="display: flex; justify-content: center; padding: 0; padding-top: 6px;">
                                                    		<b id="duration_mobile-[[${flight.id}]]" style="margin-bottom: -7px;"></b>
			                                            </div>
			                                            <div class="col-12" style="display: flex; justify-content: center; padding: 0; ">
			                                            	<div style="padding-top: 5px; width: 100%; display: flex;">
				                                            	<p style="font-size: 7px; margin: 0; color: green;">
																	<i class="fa fa-solid fa-circle-dot"></i>
				                                            	</p>
																<hr size="5" style="width: 100%; margin-top: 4px; margin: 4px 0 0 0; color: green;">
				                                            	<p style="font-size: 7px; margin: 0; color: green;">
																	<i class="fa fa-solid fa-circle-dot"></i>
				                                            	</p>
															</div>
			                                            </div>
		                                                <div class="col" style="font-size: 16px; padding: 0; text-align: center; ">
			                                                <b class="non_stop" id="non_stop_mobile-[[${flight.id}]]">Non-stop</b>
		                                                </div>
			                                        </div>
			                                        <div class="col" style="padding: 7px 0 0 0; text-align:center;">
			                                            <h2 style="font-size: 22px; margin: 0;">[[${flight.arrTime}]]</h2>
			                                            <p style="margin: 0; font-weight: 600; color: #7f7f7f; font-size: 20px;">[[${flight.cityTwo}]]</p>
			                                        </div>
			                                	</div>
			                             	</div>
			                             	<div class="col-3" style="display: flex; align-items: center; justify-content: end;">
			                                	<p style="font-size: 22px; margin: 0; color: blue;">[[${CURRENCY_SYMBOL}]]&nbsp;<span id="totalPriceMobile[[${flight.id}]]" style="font-weight: 600;"></span> </p>
                                        	</div>
		                          		</div>
		                          		<div style="width: 100%; padding: 10px 10px 0 10px">
			                          		<div class="row" style="border-radius: 10px; background: #d8e9fa">
				                          		<div class="col-6">
			                                		<small>(For [[${passengerNum}]] Passenger/s)</small>
												</div>
				                          		<div class="col-6">
			                                		<small>[[${flight.totalSeats}]] seat/s available</small>
												</div>
											</div>
										</div>
									</button>
									
									
									<!-- Modal -->
									<div class="modal fade" id="staticBackdrop[[${flight.id}]]" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
									  <div class="modal-dialog">
									    <div class="modal-content" style="height: 98vh;">
									      <div class="modal-header">
									        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
									        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									      </div>
									      <div class="modal-body">
									        <div class="form-check"  style="padding: 10px 8px 0 8px; border-radius: 7px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
											  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" style="margin-left: 0;" checked>
											  <label class="form-check-label" for="flexRadioDefault2" id="totalPriceMobileModal[[${flight.id}]]" style="width: 100%;">
											    
											  </label>
											  <div class="row">
												  <div class="col-5">
													  <i class="fa fa-solid fa-chair"></i> Seat
												  </div>
												  <div class="col-7" style="text-align: right;">
													  <p style="color: green;">FREE</p>
												  </div>
											  </div>
											</div>
											
											<div style="padding: 8px; text-align: center;"> ALL FARES INCLUDE</div>
											  <div class="row">
												  <div class="col-8">
													  <i class="fa fa-solid fa-cart-flatbed-suitcase"></i> Cabin Baggage
												  </div>
												  <div class="col-4" style="text-align: right;">
													  <p style="color: green;">[[${flight.cabinBaggage}]] KGS</p>
												  </div>
											  </div>
											  <div class="row">
												  <div class="col-8">
													  <i class="fa fa-solid fa-suitcase"></i> Check-in baggage
												  </div>
												  <div class="col-4" style="text-align: right;">
													  <p style="color: green;">[[${flight.baggage}]] KGS</p>
												  </div>
											  </div>

									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="float: left;">Close</button>
			                                <button type="submit" class="btn btn-primary submit_btn_stl" id="book_now" name="book_now" form="booking_form[[${flight.id}]]" style="float: right;">Book Now</button>
									      </div>
									    </div>
									  </div>
									</div>
		          	
		          	`;
		          	
		          	if (search_passenger_num <= flight_seats) {
		          		console.log("Flight Total Seat same/below searched seats: " + flight_seats + " flight id: " + [[${flight.id}]]);
		          		$("#flightSearchResult" + [[${flight.id}]]).html(htmlCodeBlock);
		          		checkBrand();
		          	}
		    		
		          	if ([[${flight.stopNum}]] == 0) {
		          		$("#non_stop-" + [[${flight.id}]]).text("Non-Stop");
		          		$("#non_stop_mobile-" + [[${flight.id}]]).text("Non-Stop");
		          	} else {
		          		$("#non_stop-" + [[${flight.id}]]).text("Stop " + [[${flight.stopNum}]]);
		          		$("#non_stop_mobile-" + [[${flight.id}]]).text("Stop " + [[${flight.stopNum}]]);
		          	}
		          	
		          	
		          	</script>
		            <script type="text/javascript">
			          	timeDuration = [[${flight.duration}]];
			          	timeInHour = Math.floor(timeDuration / 60);
			          	timeRemaining = timeDuration - (timeInHour * 60);
			          	
			          	$("#duration-" + [[${flight.id}]]).text(timeInHour + "h-" + timeRemaining + "m");
			          	$("#duration_mobile-" + [[${flight.id}]]).text(timeInHour + "h-" + timeRemaining + "m");
			          	
		          		totalAdultPrice = ([[${flight.priceADT}]] + [[${flight.markupADT}]]) * ([[${adultNum}]] + [[${childNum}]]);
		          		totalInfantPrice = ([[${flight.priceINF}]] + [[${flight.markupINF}]]) * [[${infantNum}]];
		          		
		          		totalPrice = totalAdultPrice + totalInfantPrice;
		          		$("#totalPrice" + [[${flight.id}]]).text(totalPrice);
		          		$("#totalPriceMobile" + [[${flight.id}]]).text(totalPrice);
		          		$("#totalPriceMobileModal" + [[${flight.id}]]).html("<b style='float: left; margin-left: 30px;'>Default price</b>" + "<p style='float: right'>" + totalPrice + "</p>");
		          		$("#totalPriceDesk" + [[${flight.id}]]).text(totalPrice);
		          		
						inputVal = $("#inputSeatNum-" + [[${flight.id}]]);
		              	
		              	if(search_passenger_num > inputVal.val()) {
		      				inputVal.parent().parent().css("display", "none");
		      			} else if (search_passenger_num == inputVal.val()) {
		      				inputVal.parent().parent().css("display", "block");
		      			}
		              	
					</script>
					<script type="text/javascript">
						
						function checkBrand() {
							brandName = "[[${flight.brand}]]";
							url = "[[@{/find_brand_}]]" + brandName;
							
							$.get(url, function(response) {
								htmlImg = `
									<img src="[[@{` + response + `}]]" width="40" height="45" style="margin-left: 28px;">
								`;
								htmlImgMobile = `
									<img src="[[@{` + response + `}]]" width="30" height="30" style="border-radius: 5px;">
								`;
								$("#brandImage" + [[${flight.id}]]).append(htmlImg);
								$("#brandImageMobile" + [[${flight.id}]]).append(htmlImgMobile);
							}).fail(function(){
								alert("Could not connect to the server.");
							});
							
							return false;
						};
						
					</script>
					</th:block>
	        </th:block> 
          	
	       
          	 <th:block th:each="flight : ${listProducts}">
				
				
			<!-- for Users-->
			
			
			    
          	 <th:block th:each="flight : ${listProducts}">
				<th:block th:if="${flight.mode} == 'AirIQ'"> 
		          	<div class="col-md-12 shadow rounded marginSetDiv" style=" border: 1px solid #e0e0e0; background-color: white; margin: 15px 10px; width: 95%;">
		            	<form th:action="@{/flight_booking_save}" method="post" th:id="'booking_form' + ${flight.id}">
		          			<input type="hidden" th:id="'inputSeatNum-' + ${flight.id}" th:value="${flight.totalSeats}">
          					<input type="hidden" name="timeRemaining" class="timeRemain">
			          		<div th:id="'flightSearchResult' + ${flight.id}"></div>
		          		</form>
		          	</div>
		          	<script type="text/javascript">
		          	
		          	search_passenger_num = [[${search.passengerNum}]];
		          	flight_seats = parseInt([[${flight.totalSeats}]]);
		    		
		          	console.log("Total searched seats: " + search_passenger_num);
		          	
		          	htmlCodeBlock = `
		      				<input type="hidden" name="cityOne" value="[[${flight.cityOne}]]">
			  				<input type="hidden" name="cityTwo" value="[[${flight.cityTwo}]]">
			  				<input type="hidden" name="date" value="[[${flight.date}]]">
		  					<input type="hidden" name="journeyClass" value="[[${flight.journeyClass}]]">
		          			<input type="hidden" name="adultNum" value="[[${search.adultNum}]]">
		  					<input type="hidden" name="childNum" value="[[${search.childNum}]]">
		  					<input type="hidden" name="infantNum" value="[[${search.infantNum}]]">
				            <input type="hidden" name="search_id" value="[[${search.id}]]">
				            <input type="hidden" name="flight_id" value="[[${flight.id}]]">
				            <input type="hidden" name="device" class="device">
				            <input type="hidden" name="deviceInfo" class="deviceInfo">
				                    <div class="row media-hide">
				                    	<div class="col-md-10 col">
				                    		<div class="row seacrh_margin media-hide" >
				                    			<div class="col-3" style="padding: 0;">
					                    			<div id="brandImage[[${flight.id}]]" style="float: left; padding: 0px">
						                    			<p style="font-size: 12px; color: red; background: #d2cfcfc7; padding: 5px;">Non-refundable</p> 
				                                    </div>
				                                    <div style="float: left; font-size: 15px; padding: 10px 25px;">
				                                        <b> [[${flight.brand}]] </b>
				                                        <p id="pnr_id" style="margin: 0;">[[${flight.flightNum}]]</p> 
				                                    </div>
						                    	</div>
						                    	<div class="col-7" style="padding-top: 48px;">
						                            <div class="row">
						                                <div class="col"> 
						                                    <div class="row">
							                                    <div class="col" style="padding: 7px 0 0 0; text-align:center;">
						                                            <h2 style="font-size: 24px; margin: 0;">[[${flight.depTime}]]</h2>
						                                            <p style="margin: 0;">[[${flight.cityOne}]]</p>
						                                        </div>
						                                        <div class="col">
						                                            <div class="col-12" style="display: flex; justify-content: center; padding: 0;">
						                                                <b class="non_stop" id="non_stop-[[${flight.id}]]">Non-stop</b>
						                                            </div>
						                                            <div class="col-12" style="display: flex; justify-content: center; padding: 0;">
						                                            	<img src="[[@{/images/pngwingcomffe.png}]]" width="100%" height="25">
						                                            </div>
						                                        </div>
						                                        <div class="col" style="padding: 7px 0 0 0; text-align:center;">
						                                            <h2 style="font-size: 24px; margin: 0;">[[${flight.arrTime}]]</h2>
						                                            <p style="margin: 0;">[[${flight.cityTwo}]]</p>
						                                        </div>
						                                	</div>
						                             	</div>
						                             	<div class="row">
			                                                <div class="col" style="font-size: 16px; padding: 0; text-align: center; margin-top: -15px;">
			                                                    <i class="fa fa-clock-o" aria-hidden="true" style=" margin-right: 4px;"></i><b id="duration-[[${flight.id}]]"></b>
			                                                </div>
		                                            	</div>
					                          		</div>
					                          </div>
				                    			<div class="col-2 media-hide"></div>
				                    			<div class="col-2 media_status" >
							                    	<div class="col-md-10" style=" text-align: center; background-color: #ffffeb; border: 1px dashed #e8d685;">
						                                <p style="margin: 0; color: #9d8d44;"><i class="fa fa-check-circle" aria-hidden="true"></i> CPN</p>
						                            </div>
						                            <div class="col-md-2 col" style="padding: 0;">
					                                    <input type="checkbox" id="send_quote" name="send_quote" value="send_quote">
					                                    <label for="send_quote" style="padding-left: 2px;"><i class="fa fa-envelope" aria-hidden="true"></i></label>
					                                </div>
						                    	</div>
						                    	<div class="col-12 media_status" style="display: none;">
						                    		<div class="row">
								                    	<div class="col" >
						                                	<p style="font-size: 28px; margin: 0;">[[${CURRENCY_SYMBOL}]]&nbsp;<span id="totalPriceDesk[[${flight.id}]]" style="font-weight: 600;"></span> </p>
						                                	<small>(For [[${search.passengerNum}]] Passenger/s)</small>
						                                </div>
								                    	<div class="col">
							                                 <button type="submit" class="btn btn-primary submit_btn_stl" style="float: right; font-size: 26px;" id="book_now" name="book_now">Book Now</button>
							                            </div>
						                            </div>
						                    	</div>
					                    		<div class="col-12 media-hide">
						                         <div class="row">
						                            <div class="col-md-1"></div>
						                            <div class="col-md-10" style=" text-align: center; background-color: #ffffeb; border: 1px dashed #e8d685;">
						                                <p style="margin: 0; color: #9d8d44;"><i class="fa fa-check-circle" aria-hidden="true"></i> CPN</p>
						                            </div>
						                            <div class="col-md-1"></div>
						                        </div>
					                          </div>
					                          <div class="col-12">
						                          <div style="background-color: #d6e6f3; border-radius: 8px 8px 0 0;">
						                            <div class="row" style="padding: 5px 0;">
						                                <div class="col-md-4 col media-hide" style="padding: 0 25px;">
						                                    <input type="checkbox" id="send_quote" name="send_quote" value="send_quote">
						                                    <label for="send_quote"><i class="fa fa-envelope" aria-hidden="true"></i> Send Quote</label>
						                                </div>
						                                <div class="col-7 media_status" style="padding: 0 0 0 13px; display: none;">
						                                	[[${flight.totalSeats}]] seat/s available
						                                </div>
						                                <div class="col-md-4 col media-hide"></div>
						                                <div class="col-md-4 col-5 padding_zero" style="padding: 0 25px;">
						                                    <a class="float-state" href="" style="text-decoration: none; float: right;"><i class="fa fa-plane" aria-hidden="true"></i> Flight Details</a>
						                                </div>
						                            </div>
						                        </div>
					                          </div>
					                       </div>
				                    	</div>
				                    	
				                    	<div class="col-md-2  text-center media-hide" style="padding: 0 0 8px; border-left: 4px solid #d6e6f3; ">
				                    		<div class="col-8 float-right" style="background: #d2cfcfc7; padding: 0;">
				                    			[[${flight.totalSeats}]] seat/s available
				                    		</div>
			                                <div  style="margin: 28px 0 15px 0; padding: 0 30px;">
			                                	<p style="font-size: 28px; margin: 0;">[[${CURRENCY_SYMBOL}]]&nbsp;<span id="totalPrice[[${flight.id}]]" style="font-weight: 600;"></span> </p>
			                                	<small>(For [[${search.passengerNum}]] Passenger/s)</small>
			                                </div>
				                            <div style="display: flex; justify-content: center;">
			                                 	<button type="submit" class="btn btn-primary submit_btn_stl" id="book_now" name="book_now">Book Now</button>
				                            </div>
				                    	</div>
				                    <div>
				                    </div>
				                    </div>
				                    
				                    <button type="button" class="btn btnSpecial media_status" data-bs-toggle="modal" data-bs-target="#staticBackdrop[[${flight.id}]]" style="padding: 10px 0; width: 100%;">
					                    <div class="row" style="padding-left: 10px;">
											<div class="col-9">
												<div class="row">
													<div class="col-1" style="padding: 0;">
						                    			<div id="brandImageMobile[[${flight.id}]]" style="float: left; padding: 0px">
					                                    </div>
													</div>
													<div class="col-6" style="padding: 0;">
														<b style="font-size: 22px; padding-left: 10px;"> [[${flight.brand}]] </b>
													</div>
													<div class="col-5" style="padding: 0;">
														<p id="pnr_id" style="margin: 5px 0 0 0; text-align: right;"><small style="font-size: 12px;">Q</small>| [[${flight.flightNum}]]</p> 
													</div>
												</div>
	                                    	</div>
											<div class="col-3" style="padding: 0;">
												<p id="pnr_id" style="font-size: 10px; margin: 0; text-align: right; color: #d41d00;"><i class="fa fa-solid fa-lock" ></i> Lock Price</p>
											</div>
										</div>
										<div class="row">
			                                <div class="col-9"> 
			                                    <div class="row">
				                                    <div class="col" style="padding: 7px 0 0 0; text-align:center;">
			                                            <h2 style="font-size: 22px; margin: 0;">[[${flight.depTime}]]</h2>
			                                            <p style="margin: 0; font-weight: 600; color: #7f7f7f; font-size: 20px;">[[${flight.cityOne}]]</p>
			                                        </div>
			                                        <div class="col">
			                                            <div class="col-12" style="display: flex; justify-content: center; padding: 0; padding-top: 6px;">
                                                    		<b id="duration_mobile-[[${flight.id}]]" style="margin-bottom: -7px;"></b>
			                                            </div>
			                                            <div class="col-12" style="display: flex; justify-content: center; padding: 0; ">
			                                            	<div style="padding-top: 5px; width: 100%; display: flex;">
				                                            	<p style="font-size: 7px; margin: 0; color: green;">
																	<i class="fa fa-solid fa-circle-dot"></i>
				                                            	</p>
																<hr size="5" style="width: 100%; margin-top: 4px; margin: 4px 0 0 0; color: green;">
				                                            	<p style="font-size: 7px; margin: 0; color: green;">
																	<i class="fa fa-solid fa-circle-dot"></i>
				                                            	</p>
															</div>
			                                            </div>
		                                                <div class="col" style="font-size: 16px; padding: 0; text-align: center; ">
			                                                <b class="non_stop" id="non_stop_mobile-[[${flight.id}]]">Non-stop</b>
		                                                </div>
			                                        </div>
			                                        <div class="col" style="padding: 7px 0 0 0; text-align:center;">
			                                            <h2 style="font-size: 22px; margin: 0;">[[${flight.arrTime}]]</h2>
			                                            <p style="margin: 0; font-weight: 600; color: #7f7f7f; font-size: 20px;">[[${flight.cityTwo}]]</p>
			                                        </div>
			                                	</div>
			                             	</div>
			                             	<div class="col-3" style="display: flex; align-items: center; justify-content: end;">
			                                	<p style="font-size: 22px; margin: 0; color: blue;">[[${CURRENCY_SYMBOL}]]&nbsp;<span id="totalPriceMobile[[${flight.id}]]" style="font-weight: 600;"></span> </p>
                                        	</div>
		                          		</div>
		                          		<div style="width: 100%; padding: 10px 10px 0 10px">
			                          		<div class="row" style="border-radius: 10px; background: #d8e9fa">
				                          		<div class="col-6">
			                                		<small>(For [[${search.passengerNum}]] Passenger/s)</small>
												</div>
				                          		<div class="col-6">
			                                		<small>[[${flight.totalSeats}]] seat/s available</small>
												</div>
											</div>
										</div>
									</button>
									
									
									<!-- Modal -->
									<div class="modal fade" id="staticBackdrop[[${flight.id}]]" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
									  <div class="modal-dialog">
									    <div class="modal-content" style="height: 98vh;">
									      <div class="modal-header">
									        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
									        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									      </div>
									      <div class="modal-body">
									        <div class="form-check"  style="padding: 10px 8px 0 8px; border-radius: 7px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
											  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" style="margin-left: 0;" checked>
											  <label class="form-check-label" for="flexRadioDefault2" id="totalPriceMobileModal[[${flight.id}]]" style="width: 100%;">
											    
											  </label>
											  <div class="row">
												  <div class="col-5">
													  <i class="fa fa-solid fa-chair"></i> Seat
												  </div>
												  <div class="col-7" style="text-align: right;">
													  <p style="color: green;">FREE</p>
												  </div>
											  </div>
											</div>
											
											<div style="padding: 8px; text-align: center;"> ALL FARES INCLUDE</div>
											  <div class="row">
												  <div class="col-8">
													  <i class="fa fa-solid fa-cart-flatbed-suitcase"></i> Cabin Baggage
												  </div>
												  <div class="col-4" style="text-align: right;">
													  <p style="color: green;">[[${flight.cabinBaggage}]] KGS</p>
												  </div>
											  </div>
											  <div class="row">
												  <div class="col-8">
													  <i class="fa fa-solid fa-suitcase"></i> Check-in baggage
												  </div>
												  <div class="col-4" style="text-align: right;">
													  <p style="color: green;">[[${flight.baggage}]] KGS</p>
												  </div>
											  </div>

									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="float: left;">Close</button>
			                                <button type="submit" class="btn btn-primary submit_btn_stl" id="book_now" name="book_now" form="booking_form[[${flight.id}]]" style="float: right;">Book Now</button>
									      </div>
									    </div>
									  </div>
									</div>
		          	
		          	`;
		          	
		          	if (search_passenger_num <= flight_seats) {
		          		console.log("Flight Total Seat same/below searched seats: " + flight_seats + " flight id: " + [[${flight.id}]]);
		          		$("#flightSearchResult" + [[${flight.id}]]).html(htmlCodeBlock);
		          		checkBrand();
		          	}
		    		
		          	if ([[${flight.stopNum}]] == 0) {
		          		$("#non_stop-" + [[${flight.id}]]).text("Non-Stop");
		          		$("#non_stop_mobile-" + [[${flight.id}]]).text("Non-Stop");
		          	} else {
		          		$("#non_stop-" + [[${flight.id}]]).text("Stop " + [[${flight.stopNum}]]);
		          		$("#non_stop_mobile-" + [[${flight.id}]]).text("Stop " + [[${flight.stopNum}]]);
		          	}
		          	
		          	
		          	</script>
		            <script type="text/javascript">
			          	timeDuration = [[${flight.duration}]];
			          	timeInHour = Math.floor(timeDuration / 60);
			          	timeRemaining = timeDuration - (timeInHour * 60);
			          	
			          	$("#duration-" + [[${flight.id}]]).text(timeInHour + "h-" + timeRemaining + "m");
			          	$("#duration_mobile-" + [[${flight.id}]]).text(timeInHour + "h-" + timeRemaining + "m");
			          	
		          		totalAdultPrice = ([[${flight.priceADT}]] + [[${flight.markupADT}]]) * ([[${search.adultNum}]] + [[${search.childNum}]]);
		          		totalInfantPrice = ([[${flight.priceINF}]] + [[${flight.markupINF}]]) * [[${search.infantNum}]];
		          		
		          		totalPrice = totalAdultPrice + totalInfantPrice;
		          		$("#totalPrice" + [[${flight.id}]]).text(totalPrice);
		          		$("#totalPriceMobile" + [[${flight.id}]]).text(totalPrice);
		          		$("#totalPriceMobileModal" + [[${flight.id}]]).html("<b style='float: left; margin-left: 30px;'>Default price</b>" + "<p style='float: right'>" + totalPrice + "</p>");
		          		$("#totalPriceDesk" + [[${flight.id}]]).text(totalPrice);
		          		
						inputVal = $("#inputSeatNum-" + [[${flight.id}]]);
		              	
		              	if(search_passenger_num > inputVal.val()) {
		      				inputVal.parent().parent().css("display", "none");
		      			} else if (search_passenger_num == inputVal.val()) {
		      				inputVal.parent().parent().css("display", "block");
		      			}
		              	
					</script>
					<script type="text/javascript">
						
						function checkBrand() {
							brandName = "[[${flight.brand}]]";
							url = "[[@{/find_brand_}]]" + brandName;
							
							$.get(url, function(response) {
								htmlImg = `
									<img src="[[@{` + response + `}]]" width="40" height="45" style="margin-left: 28px;">
								`;
								htmlImgMobile = `
									<img src="[[@{` + response + `}]]" width="30" height="30" style="border-radius: 5px;">
								`;
								$("#brandImage" + [[${flight.id}]]).append(htmlImg);
								$("#brandImageMobile" + [[${flight.id}]]).append(htmlImgMobile);
							}).fail(function(){
								alert("Could not connect to the server.");
							});
							
							return false;
						};
						
					</script>
					</th:block>
	        </th:block> 