<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
		
		
<head>
	<head th:replace="fragments :: page_head(': Error Page', 'tag')"></head>

</head>	

<body>
	
	<div class="hide-lg">
		<!-- Preloader Starts-->
		<div id="preloader">
		    <div id="status"></div>
		</div>
		<!-- Preloader Ends -->

		<!-- header starts -->
	    <header class="main_header_area">
			<div th:replace="nav-fragment :: page_header('tag')"></div>
		</header>
	    <!-- header ends -->
	</div>


	<div class="hide-mobile btndeactive scrollbar-hidden">
		<section id="preloader-mobile" class="spalsh-screen">
			<div class="circle text-center">
				<div>
					<h1>EaseGoFly</h1>
					<p>Discover Your Destinition</p>
				</div>
			</div>
			<div class="loader-spinner">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</section>
		<!-- splash-screen end -->
	
		<main class="home">
			<div th:replace="nav-fragment :: page_header_mobile('tag')"></div>
		</main>
	</div>
	<div class="container-fluid" style="display: flex; justify-content: center;">
		<div class="alert alert-danger col-8" role="alert" style="display: flex; justify-content: center;">
			  <h2><i class="fa fa-duotone fa-circle-exclamation"></i>&nbsp; Sorry, the server has encountered an error while processing your request. &nbsp;<i class="fa fa-duotone fa-circle-exclamation"></i></h2>
		</div>
	</div>
  	
	<div th:replace="whatsapp :: content"></div>
 	<footer th:replace="fragments :: page_footer('tag')"></footer>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
</body>
<script>
	$(".home").css("margin-bottom", "0");
</script>

</html>
