<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<head th:replace="fragments :: page_head('Manage Booking ', 'tag')"></head>

</head>
<style type="text/css">
	.sections {
	background: rgb(231, 237, 254);
	border: 1px solid grey;
    padding: 15px 0;
    border-radius: 3px;
}
	.sections:hover {
	background: rgb(184, 205, 254);
}
	.contents {
	padding: 0;
	border: 1px solid grey;
    border-radius: 3px;
    width: 80% !important;
    margin: 0 auto;
    background: white;
    margin-bottom: 50px;
}
	.active{
	background: rgb(184, 205, 254);
	display: block;
	}
</style>
<body >
	<div class="hide-lg">
		<!-- Preloader -->
		<div id="preloader">
		    <div id="status"></div>
		</div>
		<!-- Preloader Ends -->
		
		<!-- header starts -->
	   
	    <header class="main_header_area">
			<div th:replace="nav-fragment :: page_header('tag')"></div>
		</header>
	    <!-- header ends -->
  
	  	<div th:replace="whatsapp :: content"></div>
	
		<h3 class="text-center m-2">Manage Booking</h3>
		<div class="container">
			<div class="p-4 bg-white rounded mb-3 box-shadow">
		
				<div>
					<ul class="nav nav-tabs" id="settingTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-bs-toggle="tab" href="#cart" role="tab">Cart</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" href="#order" role="tab">Order</a>
						</li>
					</ul>
					
					<div class="tab-content">
						<div class="tab-pane active p-3" id="cart" role="tabpanel">
							<div th:replace="cart/manage_cart_fragment :: manageBooking('tag')"></div>
						</div>
						<div class="tab-pane p-3" id="order" role="tabpanel">
							<div th:replace="cart/manage_order_fragment :: manageOrder('tag')"></div>
						</div>
					</div>
				</div>
		
			</div>
		</div>
	</div>
 
 

 
 	<footer th:replace="fragments :: page_footer('tag')"></footer>

</body>

<script>
    $("#flightCart").click(function() {
    	$(".sections").removeClass("active");
    	$("#flightCart").addClass("active");
    	$(".hidden-groups").css("display", "none");
        $("#new_content1").css("display", "block");
    });
    $("#orderList").click(function() {
    	$(".sections").removeClass("active");
    	$("#orderList").addClass("active");
    	$(".hidden-groups").css("display", "none");
        $("#new_content2").css("display", "block");
    });
    
    baseLink = "https://easegofly.com/";

    if(window.location.href == baseLink + "manage_booking#flightCart") {
    	$(".sections").removeClass("active");
    	$("#flightCart").addClass("active");
    	$(".hidden-groups").css("display", "none");
        $("#new_content1").css("display", "block");
    }
    
</script>
</html>