<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
		
		
<head>
	<head th:replace="fragments :: page_head(': Return Flight Order Page', 'tag')"></head>

</head>	
<body th:style="'background-image: url(' + @{'/assets//img/1971537-temp.jpg'} + ');'">
	
  <header id="header" class="fixed-top d-flex align-items-center" >
  	<div th:replace="fragments :: page_header('tag')"></div>
  </header>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
  <div th:replace="whatsapp :: content"></div>

<div th:replace="order/return/flight_order_fragment :: flight_booking('tag')"></div>
 
<footer th:replace="fragments :: page_footer"></footer>
</body>
</html>
