<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
		
<head>
	<head th:replace="fragments :: page_head(': Flight Booking Page', 'tag')"></head>

</head>	

<body>
		<div class="preloading d-none">
		    <div class="status-loading"></div>
		</div>
	
	<div class="hide-lg">
		<!-- Preloader -->
		<div id="preloader">
		    <div id="status"></div>
		</div>
		<!-- Preloader Ends -->
		
		<!-- header starts -->
	   
	    <header class="main_header_area">
			<div th:replace="nav-fragment :: page_header('tag')"></div>
		</header>
	    <!-- header ends -->
  
	</div>


	<div class="hide-mobile btndeactive scrollbar-hidden">
	  <section id="preloader-mobile" class="spalsh-screen">
	    <div class="circle text-center">
	      <div>
	        <h1>EaseGoFly</h1>
	        <p>Discover Your Destinition</p>
	      </div>
	    </div>
	    <div class="loader-spinner">
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
		</div>
	</section>
		<!-- splash-screen end -->
	
		<main class="home">
			<div th:replace="nav-fragment :: page_header_mobile('tag')"></div>
		</main>
	</div>

		<div th:replace="flight/booking/flight_booking_fragment :: flight_booking"></div>
	 
	 	<footer th:replace="fragments :: page_footer_only('tag')"></footer>

</body>
<script>
	$(".home").css("margin-bottom", "0");
	$(".home").css("padding", "0");
     
	
	$('#travelar-info').on('submit', function (e) {
		$(".preloading").removeClass("d-none");
	});
	
	if (window.innerWidth < 900) { 
	}
</script>
</html>
