<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
		th:fragment="flight_booking(remove)" th:remove="${remove}">

    <script>
        $(function () {
            $("#datepicker").datepicker({ 
                    autoclose: true,
                    todayHighlight: true,
                    changeMonth: true,
                    changeYear: true
            }).datepicker('update', new Date());
        });
    </script>
    
    <style>
        .tile-align {
            float: left;
        }
        .reviews {
            padding: 10px 0;
        }
        .reviews p {
            margin: 0;
        }
        .choosen_request {
            background-color: #969393;
        }
        #time-limit {
            margin: 0px;
            padding: 0px;
            background: #f8f4a2;
        }
        .circles {
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background-color: #344755;
            margin: 0 auto;
            z-index: 1;
        }
        .progress_border {
            border: 1px solid green;
            position: relative;
            bottom: 65px;
            margin: 0 auto;
            width: 68%;
            opacity: 0.3;
            z-index: -1;
        }
        .buttn_stly {
            float: right;
            width: 60%;
            vertical-align: middle;
            border-radius: 0 !important;
            padding: 8px !important;
            background-color: #ecf5fd;
        }
        .buttn_stly:hover {
            background-color: #dcdcdc;
        }
        .accordion-header {
            margin-bottom: 0;
            background-color: #ecf5fd;
        }
        .buttn_stly_eff {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset !important;
        }
        .onward {
            margin: 15px 0;
            background-color: #1369f5;
            color: white;
            padding: 6px 11px;
            width: 10%;
            border-radius: 0 20px 20px 0;
        }
        .non_stop {
            text-align: center;
            margin: 0;
            font-size: 12px;
            color: red;
        }
        .form-floating > .bi-calendar-date + .datepicker_input + label {
            padding-left: 3.5rem;
            z-index: 3;
        }
        .dest_box {
            margin: 5px;
            text-align: center;
            background-color: #22a9bf;
            color: white;
        }
        .summary_btn_stl {
            float: left;
            background-color: white;
            width: 100%;
        }
        .booking_tiles {
            border: 1px solid #a7a7a794; 
            margin-bottom: 15px;
        }
        .booking_footer_btn {
            background-color: #d32f2f;
            text-align: center;
            padding: 10px 0;
            cursor: pointer;
        }
        .booking_footer_btn p {
            text-decoration: none;
            color: white;
            font-weight: 600;
            margin: 0;
        }
        .booking_page_off {
            display: none;
        }
        .booking_page_on {
            display: block;
        }
        .circles_active {
            background-color: #2abd2a !important;
        }
        .travelerActive {
   		    width: 970px;
   			overflow-x: hidden;
   			overflow-y: hidden;
        }
        .activeSLider:hover{
        	position: relative;
    		left: -141px;
        }
        
        .steady{
        	background-color: greean;
        	position: relative !important;
    		left: -141px !important;
        }
        
        .activeSLider{
        	width: 1160px;
        	position: relative;
        	left: 0px;
       		transition: left 0.5s;
       		transition-timing-function: ease-out;
  	    }
        .buttonSTyle {
        	    display: flex;
			    justify-content: center;
			    align-items: center;
			    height: 100%;
			    width: 65%;
        }
        
        .payment_zaakpay {
        	border: 2px solid #197af6;
		    width: 250px;    
		    padding: 14px 33px;
		    height: 66px;
		    margin: 16px;
		    border-radius: 7px;
		    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center;
        }
        
        .check_input {
        	width: 27px;
    		height: 27px;
        }
        .booki_page_p {
		    color: rgb(44 43 43);
		    font-weight: 600;
		    background: #e5e9ff;
		    border-radius: 6px;
		    padding: 0 8px;
		    margin: 5px;
		}
		.progress_div {
			display: flex; 
			justify-content: center;
		}
		.progress_div_active {
			background: #75ca7d;
		}
    </style>

    <body>
		<div style="background-color:#061123; padding-top: 120px;"></div>
        <div class="choosen_request">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 reviews">
                        <p style="color: red;">Your Selection <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                    </div>
                    <div class="col-md-8 reviews">
                        <div class="row">
                            <div style="color: white;">
                                <p class="tile-align" style="padding-right: 6px;">Destination - <b>[[${search.cityOne}]]</b></p>
                                <p class="tile-align">&nbsp; - &nbsp;</p>
                                <p class="tile-align" style="padding-right: 6px;">Destination - <b>[[${search.cityTwo}]]</b></p>
                                <p class="tile-align para_styl" style="padding-right: 10px; color: #ffcb2f !important;"> Date - [[${#dates.format(search.date, 'E, dd MM yyyy')}]]</p>
                                <p class="tile-align para_styl" style="padding-right: 10px"> 0 Stop</p>
                                <p class="tile-align" style="padding-left: 40px;"><i class="fa fa-user" aria-hidden="true"></i> Traveller(s) - [[${search.passengerNum}]]</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a class="styleLinkButton styleLink" th:href="@{'/flight_search_' + ${search.id} + '_pnr__0_0,0_active'}" style="background-color: white; float: right; margin: 6px 0;"> Change Flight</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="time-limit">
	        <div class="container">
	            <div style="margin: 0 auto; padding: 11px 0; display: flex; justify-content: center;">
	                <p style=" margin: 0; float: left;">TIME LEFT TO COMPLETE YOUR BOOKING : </p>
	                <span id="timer" style="background-color: #c4332f;color:white;padding: 0 6px;border-radius: 5px;margin: 0 6px;"></span>
	            </div>
	        </div>
	    </div>
        <div id="booking_page">
            <div class="container">
                <div class="media-hide">
                    <div class="row" style="padding: 20px 0;">
                        <div class="col-md-4">
                            <div class="circles " id="c1"></div>
                            <div class="progress_div">
                            	<P class="booki_page_p">Traveller Details</P>
							</div>
                        </div>
                        <div class="col-md-4">
                            <div class="circles" id="c2"></div>
                            <div class="progress_div">
                            	<P class="booki_page_p">Review</P>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="circles circles_active" id="c3"></div>
                            <div class="progress_div">
                            	<P class="booki_page_p progress_div_active">Payment</P>
                            </div>
                        </div>
                    </div>
                    <div class="progress_border"></div>
                </div>
                <div id="payment_tab" class="" style="margin-bottom: 15px;">
                    <div class="row">
						
                        <div class="col-md-9" style="padding: 0;">
                            <div id="flight_details" class="booking_tiles back_white shadow">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item" style="background-color: #969393;">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <div aria-expanded="true">
                                                <div class="row">
                                                    <div class="col-md-8 col-5"><p style="margin: 0;font-size: 16px;padding: 8px;">Flight Details</p></div>
                                                    <div class="col-md-4 col-7">
                                                        <button class="accordion-button buttn_stly collapsed" type="button" aria-expanded="false" aria-controls="flush-collapseOne" data-bs-target="#flush-collapseOne" data-bs-toggle="collapse" id="button_collapse">Show More</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </h2>
                                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body" style="background: #efefef; color: #858385">
                                            	<h2>Stop Details</h2>
												<th:block th:each="stop : ${flight.stops}">
												<div class="row" style="border-bottom: 1px solid grey; border-top: 1px solid grey; padding-bottom: 5px;">
                                                    <div class="col-md-4">
                                                        <div  style="float: left; font-size: 15px; padding: 10px 10px;">
                                                        	<h2 style="margin: 0;">[[${stop.cityName}]]</h2>
                                                            <b>[[${flight.brand}]]</b>
                                                            <h4 id="pnr_id" name="pnr_id" style="margin: 0;">[[${flight.flightNum}]]</h4>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                    	<div  style="float: left; font-size: 15px; padding: 10px 10px;">
                                                        	<h5 style="margin: 0;">Arrival: </h5>
                                                        	<br>
                                                            <h4 id="pnr_id" name="pnr_id" style="margin: 0;">[[${stop.arrTime}]]</h4>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2" style=" display: flex; justify-content: center; align-items: center; padding-left: 15px;">
                                                    	<img th:src="@{/images/pngwingcomffe.png}" width="100%" height="25">
                                                    </div>
                                                    <div class="col-md-1">
                                                    	<div  style="float: left; font-size: 15px; padding: 10px 10px;">
                                                        	<h5 style="margin: 0;">Departure: </h5>
                                                        	<br>
                                                            <h4 id="pnr_id" name="pnr_id" style="margin: 0;">[[${stop.depTime}]]</h4>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4"></div>
                                                </div>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="onward onwars_responsive"><p style="margin: 0;">Onward</p></div>
                                        <div class="row">
											<div class="col-12">
												<div class="row" style="padding: 0 18px 18px 18px;">
		                                            <div class="col-md-12 flight_detail_box" style="margin-top: 57px;">
		                                                <div class="row">
		                                                    <div class="col-md-4 col-3">
		                                                    	<div th:id="'brandImage' + ${flight.id}" style="float: left; padding: 15px 7px 10px;"></div>
		                                                        <div  style="float: left; font-size: 15px; padding: 10px 10px;">
		                                                            <b>[[${flight.brand}]]</b>
		                                                            <p id="pnr_id" name="pnr_id" style="margin: 0;">[[${flight.flightNum}]]</p>
		                                                        </div>
		                                                    </div>
		                                                    <div class="col-md-8 col"> 
		                                                        <div class="row">
		                                                            <div class="col-md-2 col" style="padding: 7px 0 0 0; text-align:center;">
		                                                                <h2 style="font-size: 24px; margin: 0;">[[${flight.depTime}]]</h2>
		                                                                <p style="margin: 0;">[[${flight.cityOne}]]</p>
		                                                            </div>
		                                                            <div class="col-md-7 col">
		                                                                <div>
		                                                                    <p class="non_stop">Non-Stop</p>
		                                                                </div>
		                                                                <div>
		                                                                    
		                                                                </div>
		                                                                <div class="row">
		                                                                    <div class="col-md-3"></div>
		                                                                    <div class="col-md-3" style="font-size: 12px; padding: 0; text-align: center;">
		                                                                        <i class="fa fa-clock-o" aria-hidden="true" style=" margin-right: 4px;"></i><span>0h 30m</span>
		                                                                    </div>
		                                                                    <div class="col-md-3" style="font-size: 12px;padding: 0; text-align: center; background-color: wheat; border: 1px dashed grey;">
		                                                                        <i class="fa fa-ship" aria-hidden="true" style=" margin-right: 4px;"></i><span> 00kg</span>
		                                                                    </div>
		                                                                    <div class="col-md-3"></div>
		                                                                </div>
		                                                            </div>
		                                                            <div class="col-md-2 col" style="padding: 7px 0 0 0; text-align:center;">
		                                                                <h2 style="font-size: 24px; margin: 0;">[[${flight.arrTime}]]</h2>
		                                                                <p style="margin: 0;">[[${flight.cityTwo}]]</p>
		                                                            </div>
		                                                            <div class="col-12 media_status" style="display: none;">
		                                                            	<div class="row">
						                                                    <div style="margin: 16px 0; padding: 0 30px;">
						                                                        <p style="float: right; margin: 0;"> Total Price <b>&#8377;</b><span style="font-size: 20px; font-weight: 600;"> [[${item.totalPrice}]]/-</span> </p>
						                                                    </div>
						                                                </div>
		                                                            </div>
		                                                        </div>
		                                                    </div>
		                                                </div>
		                                            </div>
		                                        </div>
											</div>
										</div>
                                </div>
									<table class="table table-bordered table-hover tabel-responsive table-striped" style="text-align: center;">
										<thead class="table-dark">
											<tr>
												<th><i class="fa-solid fa-users fa-2x"></i></th>
												<th><i class="fa-solid fa-address-card fa-2x"></i></th>
												<th><img th:src="@{/images/mealsss.svg}" height="38"></th>
												<th><i class="fa-solid fa-cart-flatbed-suitcase fa-2x"></i></th>
												<th><img th:src="@{/images/seatss.svg}" height="38"></th> 
											</tr>
										</thead>
										<tbody>
											<tr th:each="traveler : ${travelers}">
												<td>
													<th:block th:if="${traveler.paxType} == 1">
														Adult
													</th:block>
													<th:block th:if="${traveler.paxType} == 2">
														Child
													</th:block>
													<th:block th:if="${traveler.paxType} == 3">
														Infant
													</th:block>
												</td>
												<td>[[${traveler.salutation}]] [[${traveler.firstName}]] [[${traveler.lastName}]]</td>
												<td>
													<th:block th:if="${traveler.mealOnline.code} == 'NoMeal'">
														No Meal
													</th:block>
													<th:block th:if="${traveler.mealOnline.code} != 'NoMeal'">
														[[${traveler.mealOnline.name}]]
													</th:block>
												</td>
												<td>[[${traveler.baggageOnline.weight}]] KG</td>
												<td>
													<th:block th:if="${traveler.seatsOnline.seatNo} == 'null'">
														No Seat
													</th:block>
													<th:block th:if="${traveler.seatsOnline.seatNo} != 'null'">
														[[${traveler.seatsOnline.seatNo}]]
													</th:block>
												</td>
											</tr>
											
										</tbody>
									</table>
                            </div>
								</div>
                        <div class="col-md-3">
                            <div id="selection_summary" class="booking_tiles">
                                    <div style="background-color: #ecf5fd;">
                                        <p style="margin: 0;font-size: 16px;padding: 8px; font-weight:600;">Selection Summary</p>
                                    </div>
                                    <div>
                                        <div class="accordion accordion-flush" id="accordionFlushExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="flush-headingOne1" style="background-color: white !important;">
                                                    <div aria-expanded="true">
                                                        <div class="row">
                                                            <div class="col-md-7">
                                                                <button class="accordion-button summary_btn_stl collapsed" type="button" aria-expanded="false" aria-controls="flush-collapseOne1" data-bs-target="#flush-collapseOne1" data-bs-toggle="collapse" id="summaries">Base Fare</button>
                                                            </div>
                                                            <div class="col-md-5"><p style="margin: 0;font-size: 16px;padding: 1rem 1.25rem; float: right;"><i class="fa fa-inr" aria-hidden="true"></i>[[${item.totalPrice}]]</p></div>
                                                        </div>
                                                    </div>
                                                </h2>
                                                <div id="flush-collapseOne1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne1" data-bs-parent="#accordionFlushExample">
                                                    
						                       
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="accordion accordion-flush" id="accordionFlushExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="flush-headingOne2" style="background-color: white !important;">
                                                    <div aria-expanded="true">
                                                        <div class="row">
                                                            <div class="col-md-7">
                                                                <button class="accordion-button summary_btn_stl collapsed" type="button" aria-expanded="false" aria-controls="flush-collapseOne2" data-bs-target="#flush-collapseOne2" data-bs-toggle="collapse" id="summaries">Fee & Surcharges</button>
                                                            </div>
                                                            <div class="col-md-5"><p id="feesAndCharges" style="margin: 0;font-size: 16px;padding: 1rem 1.25rem; float: right;"><i class="fa fa-inr" aria-hidden="true"></i></p></div>
                                                        </div>
                                                    </div>
                                                </h2>
                                                <div id="flush-collapseOne2" class="accordion-collapse collapse" aria-labelledby="flush-headingOne2" data-bs-parent="#accordionFlushExample">
                                                    <div class="accordion-body">
														<p>Service Charge: </p>
                                               			<p>GST: <i class="fa fa-inr" aria-hidden="true"></i>[[${checkoutInfo.flightGSTCost}]]</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="accordion accordion-flush" id="accordionFlushExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="flush-headingOne3" style="background-color: white !important;">
                                                    <div aria-expanded="true">
                                                        <div class="row">
                                                            <div class="col-md-7">
                                                                <button class="accordion-button summary_btn_stl collapsed" type="button" aria-expanded="false" aria-controls="flush-collapseOne3" data-bs-target="#flush-collapseOne3" data-bs-toggle="collapse" id="summaries">Coupon</button>
                                                            </div>
                                                            <div class="col-md-5"><p th:if="${coupon} != null" style="margin: 0;font-size: 16px;padding: 1rem 1.25rem; float: right;">- <i class="fa fa-inr" aria-hidden="true"></i>[[${coupon.couponAmount}]].0</p></div>
                                                        </div>
                                                    </div>
                                                </h2>
                                                <div id="flush-collapseOne3" class="accordion-collapse collapse" aria-labelledby="flush-headingOne3" data-bs-parent="#accordionFlushExample">
                                                    <div class="alert alert-success" role="alert" th:if="${coupon} != null">
						                       			<p>[[${coupon.couponCode}]] is added!</p>
													</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="border:1px solid grey; height: 40px; background-color: #07162d;">
                                        <h2 style=" float: left; font-size: 18px; margin: 10px 20px; color:white;">Total</h2>
                                        <div style="float: right;">
                                            <p style="margin: 0;font-size: 16px;padding: 8px 20px; color:white;"><i class="fa fa-inr" aria-hidden="true"></i>[[${order.price}]]</p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        
                        
                        <div class="col-md-9" style="padding: 0;">
							<div id="payment_selection" class="booking_tiles back_white shadow">
                                <div style="background-color: #ecf5fd;">
                                    <p style="margin: 0;font-size: 16px;padding: 8px; font-weight:600;">Choose a Payment Method</p>
                                </div>
							 <div class="row" style="padding: 10px;"> 
								 <div class="form-check col-md-3 col-12" style="display: flex; align-items: center; margin-left: 24px;">
									 <input class="form-check-input check_input this_radio" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
									 <label class="form-check-label payment_zaakpay" for="flexRadioDefault1" th:style="'background-image: url(' + @{'/images/payment/1600245557487.jpeg'} + ');'"></label>
								</div>
								<div class="form-check col-md-3 col-12" style="display: flex; align-items: center; margin-left: 24px;">
								  <input class="form-check-input check_input this_radio" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
								  <label class="form-check-label payment_zaakpay" for="flexRadioDefault2" th:style="'background-image: url(' + @{'/images/payment/easegofly_wallet2.png'} + ');'">
								  <div style="float: right; color: black; margin-top: 18px; margin-right: -29px;">
								  	<h1 style="font-size: 18px;">[[${balance}]]</h1>
								  </div>
								  </label>
								 
								</div>
		                        <div class="col-12 form-check" style="margin: 10px 25px;">
		                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" form="payment_form" required="required">
		                            <label class="form-check-label" for="flexCheckDefault">
		                                i have reviewed and agreed on the Terms and Condition.
		                            </label>
		                        </div>
							</div>
							</div>
						</div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-9" style="border: 1px solid #a7a7a794; padding: 0;">
                            <a th:href="@{'/flight_international_traveler_details' + ${search.id} +'&'+ ${flight.id} +'&'+ ${item.id}}" class="col-md-2 col-3 booking_footer_btn" id="footer_previous" style="float: left; color: white;text-decoration: none !important;"><b>Previous</b></a>
                            
                            <!-- ** PHONEPE ** --> <!-- 
                            <form th:action="@{/phonepe}" method="post">
                            	<input class="col-md-2 col-3 booking_footer_btn" style="float: right; border: none; color: white;" type="submit" value="Book Now" id="payButton">
                            </form> 
                             -->
                            
                            <!-- ** CCAVENUE ** --> <!-- 
                            <form action="https://secure.ccavenue.com/transaction.do?command=initiateTransaction" method="post">
                           		<input type="hidden" id="encRequest" name="encRequest" th:value="${encRequest}">
								<input type="hidden" name="access_code" id="access_code" th:value="${accessCode}">
                            	<input class="col-md-2 col-3 booking_footer_btn" style="float: right; border: none; color: white;" type="submit" value="Book Now" id="payButton">
                            </form> 
                             -->
                            <!-- ** PAYU ** --> <!-- 
                            
      						<div class="row"  id="response"></div>
                            <form method="post" th:action="@{/payg}" id="form">
	                            <input type="hidden" name="OrderAmount" th:value="${checkoutInfo.paymentTotal}"/> 
								<input type="hidden" name="OrderType"> 
								<input type="hidden" name="OrderAmountData[AmountTypeDesc]" >
								<input type="hidden" name="OrderAmountData[Amount]" th:value="${checkoutInfo.paymentTotal}">
								<input class="customer" type="hidden" name="CustomerData[CustomerNotes]" value="null" >
								<input class="name" type="hidden" name="CustomerData[FirstName]" th:value="${customer.firstName}">
								<input class="name" type="hidden" name="CustomerData[LastName]" th:value="${customer.lastName}">
								<input class="name" type="hidden" name="CustomerData[MobileNo]" th:value="${customer.phoneNumber}">
								<input class="name" type="hidden" name="CustomerData[Email]" th:value="${customer.email}">
								<input class="name" type="hidden" name="CustomerData[EmailReceipt]" value="True" >
                            	<button onclick="save()" class="col-md-2 col-3 booking_footer_btn" style="float: right; border: none; color: white;" id="payButton" type="submit">Book Now</button>
                            </form>
                             -->
                             
                           	<!-- 
                           	** ZAAKPAY **  --> <!--  -->
                           	<form th:action="@{${requestUrl}}" method="post" id="payment_form">
                           		<input type="hidden" name="JSESSIONID" th:value="${JSESSIONID}">
                            	<input type="hidden" name="search_id" th:value="${search.id}">
                           		<th:block th:each="orderInfo : ${entrySet}">
                           			<input type="hidden" th:name="${orderInfo.getKey}" th:value="${orderInfo.getValue}">
                           		</th:block>
                           		<input type="hidden" name="checksum" th:value="${checksum}">
                            	<input class="col-md-2 col-3 booking_footer_btn" style="float: right; border: none; color: white; display: block;" type="submit" value="Book Now" id="payButton">
                            </form>
                            
                            <form th:action="@{/flight_wallet_inter_check}" method="post" id="payment_form_wallet" onsubmit="return(checkWalletBalance(this))">
                            	<input type="hidden" name="flight_price" th:value="${order.price}">
                            	<input type="hidden" name="Order_id" th:value="${order.id}">
                            	<input type="hidden" name="search_id" th:value="${search.id}">
                            	<input class="col-md-2 col-3 booking_footer_btn" style="float: right; border: none; color: white; display: none;" type="submit" value="Book Now" id="payButtonWallet" data-bs-toggle="modal" data-bs-target="#modalDialogue">
                            </form>
                           
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                
            </div>
        </div>
     <div class="modal fade text-center" id="modalDialogue">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="modalTitle"></h4>
						<button type="button" class="close" data-bs-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<span id="modalBody" style="color: red;"></span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>	
		</div>
    </body>
    
   <script type="text/javascript">
	$(document).ready(function() {
		checkBrand();
	});

	function checkBrand() {
		brandName = "[[${flight.brand}]]";
		url = "[[@{/find_brand_}]]" + brandName;
		
		$.get(url, function(response) {
			htmlImg = `
				<img src="[[@{` + response + `}]]" width="40" height="45" style="border: 1px solid #E9ECEF; border-radius: 5px;">
			`;
			$("#brandImage" + [[${flight.id}]]).append(htmlImg);
		}).fail(function(){
			alert("Could not connect to the server.");
		});
		
		return false;
	};
</script>
 
    <script type="text/javascript">
    	feesCharges = [[${checkoutInfo.flightGSTCost}]] + [[${checkoutInfo.flightServiceCost}]];
    	
    	floatValue = parseFloat(feesCharges).toFixed(1);
    	
    	insertHtml = `<i class="fa fa-inr" aria-hidden="true"></i> ${floatValue}`;
    
    	$("#feesAndCharges").html(insertHtml);
    
        $("#button_collapse").click(function(){
            $(this).toggleClass("buttn_stly_eff");
        })
    </script>
    <script type="text/javascript">
    	$(document).ready(function(){
		  $(".editTraveler").click(function(){
  			$("#test").removeAttr("style");
  			$("#test").removeAttr("disabled");
		  });
		});
    </script>
    <script>
	$(".connectedButton").click(function(){
		$(this).parent(".buttonSTyle").parent(".styleHHH").parent(".row").parent(".activeSLider").toggleClass("steady");
	});
     
    </script>
    <script type="text/javascript">
    
    	$("#flexRadioDefault2").click(function() {
    		$("#payButton").css("display", "none");
    		$("#payButtonWallet").css("display", "block");
    	});
    	$("#flexRadioDefault1").click(function() {
    		$("#payButton").css("display", "block");
    		$("#payButtonWallet").css("display", "none");
    	});
    </script>
 	<script type="text/javascript">
 	
 	function checkWalletBalance(form) {
		orderPrice = $("input[name='flight_price']").val();
		url = "[[@{/check_wallet_balance}]]"
		
		params = {price: orderPrice};
			
		$.post(url, params, function(response) {
			if (response == "insufficient") {
				showModelDialogue("Alert!!!", "Insufficient balance in your wallet.");
			} else {
				showModelDialogue("Processing...", "Please wait while processing your request!");
				form.submit();
			}
		}).fail(function(){
			showModelDialogue("Error", "Could not connect to the server.");
		});
		
		return false;
	};
	
	function showModelDialogue(title, message) {
		$("#modalTitle").text(title);
		$("#modalBody").text(message);
		$("#modalDialogue").modal();
	};
 	
 	</script>
 <script>
   moduleURL = '[[@{/}]]';
   timeInSec = parseInt("[[${timeRemainingPro}]]");
 </script>

<script type="text/javascript" th:src="@{/js/timer.js}"></script>


</html>