<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:fragment="holiday-fragment">
	<head>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    	<link rel="stylesheet" th:href="@{css/holidays.css}">
	</head>
	
<body>
    <div class="container container-stle">
        <h4 style="margin: 0;">Holiday Packages Now On Sale</h4><small style="font-size: 12px;">Get Flat 45% OFF! Use Code: EASEGOFLYT</small>
        <div class="carousel slide" data-bs-ride="false" id="carousel-1">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container container-stle">
                        <div class="row">
                            <div class="col-6 col-md-2 col-sm-3" style="padding: 10px 12px;">
                                <div class="new-card-stl"><img class="img-fluid" th:src="@{images/holidays/Amritsar.webp}" style="position: relative; height: 150px; width: 100%;">
                                    <div class="floating-siv-stl" style="width: 100%;">
                                        <h6 style="color: white; text-shadow: 2px 2px 4px black;">Amritsar</h6>
                                        <p style="font-size: 12px;margin: 0;text-shadow: 2px 2px 4px black;"><span style="color: rgb(123, 123, 123);">Starting at $999 per person</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2 col-sm-3" style="padding: 10px 12px;">
                                <div class="new-card-stl"><img class="img-fluid" th:src="@{images/holidays/Amritsar.webp}" style="position: relative; height: 150px; width: 100%;">
                                    <div class="floating-siv-stl" style="width: 100%;">
                                        <h6 style="color: white; text-shadow: 2px 2px 4px black;">Amritsar</h6>
                                        <p style="font-size: 12px;margin: 0;text-shadow: 2px 2px 4px black;"><span style="color: rgb(123, 123, 123);">Starting at $999 per person</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2 col-sm-3" style="padding: 10px 12px;">
                                <div class="new-card-stl"><img class="img-fluid" th:src="@{images/holidays/Amritsar.webp}" style="position: relative; height: 150px; width: 100%;">
                                    <div class="floating-siv-stl" style="width: 100%;">
                                        <h6 style="color: white; text-shadow: 2px 2px 4px black;">Amritsar</h6>
                                        <p style="font-size: 12px;margin: 0;text-shadow: 2px 2px 4px black;"><span style="color: rgb(123, 123, 123);">Starting at $999 per person</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2 col-sm-3" style="padding: 10px 12px;">
                                <div class="new-card-stl"><img class="img-fluid" th:src="@{images/holidays/Amritsar.webp}" style="position: relative; height: 150px; width: 100%;">
                                    <div class="floating-siv-stl" style="width: 100%;">
                                        <h6 style="color: white; text-shadow: 2px 2px 4px black;">Amritsar</h6>
                                        <p style="font-size: 12px;margin: 0;text-shadow: 2px 2px 4px black;"><span style="color: rgb(123, 123, 123);">Starting at $999 per person</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2 col-sm-3" style="padding: 10px 12px;">
                                <div class="new-card-stl"><img class="img-fluid" th:src="@{images/holidays/Amritsar.webp}" style="position: relative; height: 150px; width: 100%;">
                                    <div class="floating-siv-stl" style="width: 100%;">
                                        <h6 style="color: white; text-shadow: 2px 2px 4px black;">Amritsar</h6>
                                        <p style="font-size: 12px;margin: 0;text-shadow: 2px 2px 4px black;"><span style="color: rgb(123, 123, 123);">Starting at $999 per person</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2 col-sm-3" style="padding: 10px 12px;">
                                <div class="new-card-stl"><img class="img-fluid" th:src="@{images/holidays/Amritsar.webp}" style="position: relative; height: 150px; width: 100%;">
                                    <div class="floating-siv-stl" style="width: 100%;">
                                        <h6 style="color: white; text-shadow: 2px 2px 4px black;">Amritsar</h6>
                                        <p style="font-size: 12px;margin: 0;text-shadow: 2px 2px 4px black;"><span style="color: rgb(123, 123, 123);">Starting at $999 per person</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item"></div>
                <div class="carousel-item"></div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <div class="carousel-indicators"><button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2"></button></div>
        </div>
    </div>
    <div class="container container-stle" style="margin-top: 20px;">
        <h4 style="margin: 0;">Top International Destination</h4><small style="font-size: 12px;">Book Now To Grab Best Offers!</small>
        <div class="row">
            <div class="col-6 col-md-2 col-sm-3">
                <div class="card">
                    <div class="card-body" style="padding: 0; overflow: hidden;"><img class="img-fluid" th:src="@{images/holidays/Amritsar.webp}">
                        <h4 class="card-title">Thailand</h4>
                        <h6 class="text-muted card-subtitle mb-2">Starting at $7000 Per Person</h6>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-2 col-sm-3">
                <div class="card">
                    <div class="card-body" style="padding: 0; overflow: hidden;"><img class="img-fluid" th:src="@{images/holidays/Amritsar.webp}">
                        <h4 class="card-title">Thailand</h4>
                        <h6 class="text-muted card-subtitle mb-2">Starting at $7000 Per Person</h6>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-2 col-sm-3">
                <div class="card">
                    <div class="card-body" style="padding: 0; overflow: hidden;"><img class="img-fluid" th:src="@{images/holidays/Amritsar.webp}">
                        <h4 class="card-title">Thailand</h4>
                        <h6 class="text-muted card-subtitle mb-2">Starting at $7000 Per Person</h6>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-2 col-sm-3">
                <div class="card">
                    <div class="card-body" style="padding: 0; overflow: hidden;"><img class="img-fluid" th:src="@{images/holidays/Amritsar.webp}">
                        <h4 class="card-title">Thailand</h4>
                        <h6 class="text-muted card-subtitle mb-2">Starting at $7000 Per Person</h6>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-2 col-sm-3">
                <div class="card">
                    <div class="card-body" style="padding: 0; overflow: hidden;"><img class="img-fluid" th:src="@{images/holidays/Amritsar.webp}">
                        <h4 class="card-title">Thailand</h4>
                        <h6 class="text-muted card-subtitle mb-2">Starting at $7000 Per Person</h6>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-2 col-sm-3">
                <div class="card">
                    <div class="card-body" style="padding: 0; overflow: hidden;"><img class="img-fluid" th:src="@{images/holidays/Amritsar.webp}">
                        <h4 class="card-title">Thailand</h4>
                        <h6 class="text-muted card-subtitle mb-2">Starting at $7000 Per Person</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 30px;"></div>
</body>

</html>